Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

inventory: Rename packet to equinix (#2151)
  ansible/inventory.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible

inventory: add new macincloud Monterey/x64 systems (#2494)
  ansible/inventory.yml
Labels: ansible

UnixPb: Use wget to download ant-contrib on centos6 (#2488)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Ant-Contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: ansible

UnixPb: Turn off unnecessary desktop environment (#2481)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/disable_gui/tasks/main.yml
Labels: ansible

set xcode switch to full path as default on build machines
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
Labels: ansible

inventory: remove older (pre 10.14) macos systems
  ansible/inventory.yml
Labels: ansible

set xcode switch to full path as default on build machines (#2504)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
Labels: ansible

AIXpb: version02: `cleanup` stage 02 (#2483)
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/group_vars/all/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/X11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/aixfs/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/bootjdk7.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/chfs.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/openjdk.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk7/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/rbac/tasks/setsecattr.yml
Labels: ansible

inventory: remove older (pre 10.14) macos systems (#2505)
  ansible/inventory.yml
Labels: ansible

enable ipv6 for docker containers on docker host machines
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: ansible

restart only if changes are made to daemon.json
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: ansible

UnixPb: Enable ipv6 on docker on dockerhost machines (#2520)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: ansible

unixPB: add two new dockerstatic container for fedora34/35
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f34
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f35
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/README.md
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: doc, ansible

ansible: disable new fqcn ansible-lint rule
  .ansible-lint
Labels: none

docs: update links
  FAQ.md
  README.md
Labels: doc

docs: update links (#2523)
  FAQ.md
  README.md
Labels: doc

fix: ansible-lint#59 no-handler
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/handlers/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: ansible

fix: lint on yaml for .ansible-lint
  .ansible-lint
Labels: none

more indentation fixes
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
Labels: ansible

trailing spaces
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
Labels: ansible

skip xcode role if apple id variables are not defined
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
Labels: ansible

add one more indentation to appease the linter
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
Labels: ansible

docs: fix typo
  FAQ.md
Labels: doc

UnixPB: Skip xcode role if apple id variables are not defined (#2515)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
Labels: ansible

docs: fix typo (#2527)
  FAQ.md
Labels: doc

fix: disable new fqcn ansible-lint rule (#2522)
  .ansible-lint
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/handlers/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: ansible

fix: lint "unnamed-task: All tasks should be named."
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
Labels: ansible

UnixPB : fix swapfile creation on BTRFS
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Swap_File/tasks/main.yml
Labels: ansible

unixPB: add two new dockerstatic container for fedora34/35 (#2521)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f34
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f35
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/README.md
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
Labels: doc, ansible

UnixPB : additional fixes for BTRFS file systems.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Swap_File/tasks/main.yml
Labels: ansible

UnixPB: fix dockerstatic build on centos8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.cent8
Labels: ansible

UnixPB : further fixes for btrfs swapfile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Swap_File/tasks/main.yml
Labels: ansible

github: add checks on DockerStatic Dockerfile
  .github/workflows/check_dockerstatic.yml
  FAQ.md
Labels: ghActions, doc

Update main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Swap_File/tasks/main.yml
Labels: ansible

Update main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Swap_File/tasks/main.yml
Labels: ansible

UnixPB: fix dockerstatic build on centos8 (#2529)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.cent8
Labels: ansible

github: add checks on DockerStatic Dockerfile (#2528)
  .github/workflows/check_dockerstatic.yml
  FAQ.md
Labels: ghActions, doc

Update main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Swap_File/tasks/main.yml
Labels: ansible

UnixPB: adoptium#2507 - Add Common Tasks For Fedora 35
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Fedora.yml
Labels: ansible

UnixPB: adoptium#2507 - Updates For Fedora35
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/build_packages_and_tools.yml
Labels: ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg
