Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg

Add input path parameter
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
Labels: ansible

Add input path parameter
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Get_Ansible_Inventory.yml
Labels: ansible

Stop py from running if no inventory file is present
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
Labels: ansible

lint fixes
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
Labels: ansible

syntax fix
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
Labels: ansible

add gnupg and curl to deb11 dockerfile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.deb11
Labels: ansible

remove curl and gnupg from later in the dockerfile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.deb11
Labels: ansible

Update ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
Labels: ansible

Update ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Server_Configurations.py
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Server_Configurations.py
Labels: ansible

hot fix
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
Labels: ansible

lint syntax
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
Labels: ansible

Inventory - Fix issue 2851 (#2854)
  ansible/inventory.yml
Labels: ansible

Update ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

Delete CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: doc

Delete CODE_OF_CONDUCT.md (#2870)
  CODE_OF_CONDUCT.md
Labels: doc

Bump Nvidia Cuda to Version 9.1 (#2856)
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
Labels: ansible

Dockerstatic: Move gnupg and curl to top of deb11 dockerfile (#2866)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.deb11
Labels: ansible

remove riscv for now to get pr to merging stage
  .github/workflows/build_qemu.yml
Labels: ghActions

unixPB: install automake on macOS (#2860)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
Labels: ansible

Inventory parsing role (#2863)
  ansible/playbooks/nagios/play_config_server.yml
  ansible/playbooks/nagios/roles/Nagios_Config/README.md
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Server_Configurations.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Get_Ansible_Inventory.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/vars/Ubuntu.yml
  ansible/playbooks/nagios/vars_configure_server.yml
Labels: doc, ansible

add skytap dockerhost to inventory.yml
  ansible/inventory.yml
Labels: ansible

add skytap dockerhost to inventory.yml (#2871)
  ansible/inventory.yml
Labels: ansible

Add perl-IPC-Cmd to Redhat/CentOS installs for OpenSSL v3 compile (#2855)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: ansible

Fix service group matching
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Server_Configurations.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
Labels: ansible

Fix service group matching (#2877)
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Server_Configurations.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
Labels: ansible

new gpg script
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/group_vars/all/adoptopenjdk_variables.yml
  ansible/playbooks/Supporting_Scripts/package_signature_verification.sh
Labels: ansible

ansible: Decommissioning of old solaris/x64 systems (#2862)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

UnixPB: Extend CRIU role to Linux ppc64le and s390x platforms
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/criu/tasks/main.yml
Labels: ansible

service groups automation
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Servicegroups_config_file.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Servicegroups.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
Labels: ansible

updated the tasklist
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
Labels: ansible

Add Documentation For Nagios Playbook
  ansible/playbooks/HOW_TO_ADD_WINDOWS_TO_NAGIOS.md
  ansible/playbooks/nagios/docs/testconfig.zip
  ansible/playbooks/nagios/docs/testing.nagios.playbook.txt
Labels: doc, ansible

Update zipfile and docs
  ansible/playbooks/nagios/docs/HOW_TO_ADD_WINDOWS_TO_NAGIOS.md
  ansible/playbooks/nagios/docs/testconfig.zip
  ansible/playbooks/nagios/docs/testing.nagios.playbook.txt
Labels: doc, ansible

Doc updates.
  ansible/playbooks/nagios/docs/testing.nagios.playbook.txt
Labels: ansible

Reformat doc as MD
  ansible/playbooks/nagios/docs/testing_nagios_playbook.MD
Labels: ansible

remodelled script
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Servicegroups_config_file.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Servicegroups.yml
Labels: ansible

vars tasklist update
  ansible/playbooks/nagios/vars_configure_server.yml
Labels: ansible

Remove jck-packet-ubuntu2004-x64-1 and jck-equinix-containerized-alpine313-x64-1.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

Rework Output path to use relative paths
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
Labels: ansible

Update to use relative output paths.
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Servicegroups.yml
Labels: ansible

Update to use relative paths
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
Labels: ansible
