Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

docs: Document the testing done in the infra repo (#3291)
  docs/Testing.md
Labels: doc

update FAQ with how to add new repo to dockerhub
  FAQ.md
Labels: doc

reintroduce centos6 to centos7_docker_image_updater jenkins job
  Jenkinsfile
Labels: none

reintroduce centos6 to centos7_docker_image_updater jenkins job (#3296)
  Jenkinsfile
Labels: none

Update Docker Credentials
  .github/workflows/build.yml
Labels: ghActions

Test login on branch
  .github/workflows/build.yml
Labels: ghActions

login only on master
  .github/workflows/build.yml
Labels: ghActions

inventory: Add OSUOSL aix build-3 with 7.2TL05+XLC17 (#3230)
  ansible/inventory.yml
Labels: ansible

update FAQ with how to add new repo to dockerhub (#3295)
  FAQ.md
Labels: doc

aixPb: Install OpenSSL3 on Aix (#3278)
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/openssl/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/openssl3/tasks/main.yml
Labels: ansible

Test push on merge
  .github/workflows/build.yml
Labels: ghActions

Github: Update Docker Login Credentials To Use Token (#3297)
  .github/workflows/build.yml
Labels: ghActions

Bump login action
  .github/workflows/build.yml
Labels: ghActions

correct Tims git handle
  FAQ.md
Labels: doc

Bump login action (#3298)
  .github/workflows/build.yml
Labels: ghActions

Disable push & document.
  .github/workflows/build.yml
  FAQ.md
Labels: ghActions, doc

Re-enable dependabot
  .github/dependabot.yml
Labels: none

Disable push & document. (#3301)
  .github/workflows/build.yml
  FAQ.md
Labels: ghActions, doc

correct Tims git handle (#3299)
  FAQ.md
Labels: doc

Add windows & wazuh servers.
  ansible/inventory.yml
Labels: ansible

remove test-azure-win2012r2-x64-1 and -3
  ansible/inventory.yml
Labels: ansible

add fontconfig to common packages
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/scripts/updatepackages.sh
Labels: ansible

add fontconfig to common packages (#3307)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/scripts/updatepackages.sh
Labels: ansible

Download cross-build jdk17u and jdk21u from CI
  ansible/docker/Dockerfile.Ubuntu2004-riscv64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: docker, ansible

Add checksums
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

Download cross-build jdk17u and jdk21u from CI (#3308)
  ansible/docker/Dockerfile.Ubuntu2004-riscv64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: docker, ansible

remove test-azure-win2012r2-x64-1 and -3 (#3305)
  ansible/inventory.yml
Labels: ansible

update docs to include setting up trss
  docs/Setup-TRSS.md
Labels: doc

typo
  docs/Setup-TRSS.md
Labels: doc

Add windows & wazuh servers. (#3304)
  ansible/inventory.yml
Labels: ansible

add more info on nginx and mongo mapped volume
  docs/Setup-TRSS.md
Labels: doc

Distinguish between production and development
  docs/Setup-TRSS.md
Labels: doc

Update docs/Setup-TRSS.md
  docs/Setup-TRSS.md
Labels: doc

Update docs/Setup-TRSS.md
  docs/Setup-TRSS.md
Labels: doc

Update docs/Setup-TRSS.md
  docs/Setup-TRSS.md
Labels: doc

docs: Setting up TRSS docs (#3309)
  docs/Setup-TRSS.md
Labels: doc

Re-enable dependabot (#3302)
  .github/dependabot.yml
Labels: none

docker: Use secret for ROSIPW on RHEL7 build dockerfile
  ansible/docker/Dockerfile.RHEL7
Labels: docker

replace action checkout version with SHA
  .github/workflows/build_qemu.yml
Labels: ghActions

change replace version with SHA of architecture action
  .github/workflows/build_qemu.yml
Labels: ghActions

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg
