Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg

Add twisty section
  FAQ.md
Labels: doc

Fix twisty section
  FAQ.md
Labels: doc

Update ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Alpine.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Alpine.yml
Labels: ansible

correct tags
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible

correct condition and update comment
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode11/tasks/main.yml
Labels: ansible

fix conditional
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode11/tasks/main.yml
Labels: ansible

change command to shell
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode11/tasks/main.yml
Labels: ansible

unixPB: Install rng-tools to fix low entropy (#3145)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/rngd/tasks/fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/rngd/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/rngd/tasks/sles.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/rngd/tasks/ubuntu.yml
Labels: ansible

xcode11
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode11/tasks/main.yml
Labels: ansible

Update DockerStatic Files For SSL Tests
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp311
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp312
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp313
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp314
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.cent8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.deb11
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f33
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f34
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f35
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles12
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles15
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1604
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1804
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2004
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2104
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2204
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.ubi8
Labels: ansible

Fix errant comment.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/openSUSE.yml
Labels: ansible

Seperate ssl packages for alpine for consistency
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp311
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp312
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp313
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp314
Labels: ansible

Revert "unixPB: Install rng-tools to fix low entropy (#3145)"
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/rngd/tasks/fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/rngd/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/rngd/tasks/sles.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/rngd/tasks/ubuntu.yml
Labels: ansible

Revert "unixPB: Install rng-tools to fix low entropy (#3145)" (#3200)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/rngd/tasks/fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/rngd/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/rngd/tasks/sles.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/rngd/tasks/ubuntu.yml
Labels: ansible

change hosts parameter back to original
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible

typo
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode11/tasks/main.yml
Labels: ansible

unixPB: Fix sles 12 build tools package name (#3192)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
Labels: ansible

Fix GHA Solaris Playbook Check
  .github/workflows/build_vagrant.yml
  ansible/vagrant/Vagrantfile.Solaris10
Labels: ghActions, Vagrant

Fix GHA Solaris Playbook Check (#3202)
  .github/workflows/build_vagrant.yml
  ansible/vagrant/Vagrantfile.Solaris10
Labels: ghActions, Vagrant

Add checksums to capstone download
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/capstone/tasks/main.yml
Labels: ansible

unixPB: Install capstone 4 from repositories or source
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/capstone/tasks/main.yml
Labels: ansible

Only build correct capstone support for the machine
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/capstone/tasks/main.yml
Labels: ansible

Add new machine to inventory
  ansible/inventory.yml
Labels: ansible

Add new machine to inventory (#3205)
  ansible/inventory.yml
Labels: ansible

unixPB: Install capstone 4 from repositories or source (#3119)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/capstone/tasks/main.yml
Labels: ansible

UnixPB: Include Pre-Req Packages For SSL Test (#3169)
  FAQ.md
  ansible/pbTestScripts/testJDK.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Solaris.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Alpine.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/openSUSE.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp311
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp312
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp313
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp314
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.cent8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.deb11
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f33
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f34
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f35
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles12
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles15
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1604
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1804
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2004
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2104
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2204
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.ubi8
Labels: doc, Vagrant, pbTests, ansible

docs: Update CONTRIBUTING.md which is a bit stale
  CONTRIBUTING.md
Labels: doc

doc: Update AccessControl.md with repository information
  docs/AccessControl.md
Labels: doc

Remove ssl test packages.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.cent8
Labels: ansible

github: Clarify machine access removal process
  .github/ISSUE_TEMPLATE/machineaccess.md
Labels: doc

inventory: Add OSUOSL aix build-3 with 7.2TL05+XLC17
  ansible/inventory.yml
Labels: ansible

Move SSL Test Packages To Only Install on x64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: ansible

Vanishing_commit
  docs/AccessControl.md
Labels: doc

Include links to the Eclipse project pages
  docs/AccessControl.md
Labels: doc

UnixPB: Only install ssl test packages on x64 for Centos/RHEL (#3226)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.cent8
Labels: ansible

Add jck-skytap-aix72-ppc64-4 (#3140)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

unixPB: Add an optional role for performance tools (#3194)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/performance_tools/tasks/main.yml
Labels: ansible

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: doc

remove intel homebrew, uninstall libpng
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Homebrew_intel/tasks/main.yml
Labels: ansible

doc: Update AccessControl.md with repository information (#3222)
  docs/AccessControl.md
Labels: doc
