Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

Remove duplicate path setting.
  ansible/pbTestScripts/testJDK.sh
Labels: Vagrant, pbTests

docs: Typo in git issue template
  .github/ISSUE_TEMPLATE/teamaccess.md
Labels: doc

docs: Typo in git issue template (#2724)
  .github/ISSUE_TEMPLATE/teamaccess.md
Labels: doc

install bzip2 for sles
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
Labels: ansible

install cronie to sles
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
Labels: ansible

UnixPb: Install Cronie and Bzip2 for SLES (#2726)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
Labels: ansible

unixPB: Do not install 31-bit support files on RHEL/s390x
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: ansible

Fix last commit to include RHEL6 and 7 on s390x
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
Labels: ansible

vagrant: Increase Solaris Box Timeout Value (#2719)
  ansible/pbTestScripts/testJDK.sh
  ansible/vagrant/Vagrantfile.Solaris10
Labels: Vagrant, pbTests

mac11
  .github/workflows/build_vagrant.yml
  ansible/vagrant/Vagrantfile.Solaris10
Labels: ghActions, Vagrant

unixPB: Fix gcc package install on Ubuntu
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: ansible

unixPB: Ubuntu: Remove gcc_compiler completely as default versions are included elsewhere
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: ansible

github: linter
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ant_contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/openjdk.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/users/tasks/jenkins.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/users/tasks/zeus.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/xlc_v16/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/GIT_Source/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/pkg-config/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Solaris.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/openSUSE.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/GIT_Source/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Master_Config/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Swap_File/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/cmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/criu/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/nasm/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/trss.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/ANT/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Common/tasks/main.yml
  ansible/playbooks/aix.yml.old
  ansible/playbooks/correct_vnc_install.yml
  ansible/playbooks/ubuntu-jck.yml
  ansible/playbooks/vagrant.yml
Labels: ansible

skip_ansible_lint still lint on 503
  .ansible-lint
Labels: none

revert: changes for solaris should not be here + fix name
  .github/workflows/build_vagrant.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ant_contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/openSUSE.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/trss.yml
  ansible/vagrant/Vagrantfile.Solaris10
Labels: ghActions, Vagrant, ansible

change conditional to greater than or equal to 7
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

github/vagrant: macos-12 with vagrantbox
  .github/workflows/build_vagrant.yml
Labels: ghActions

github: linter (#2737)
  .ansible-lint
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ant_contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/openjdk.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/users/tasks/jenkins.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/users/tasks/zeus.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/xlc_v16/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/GIT_Source/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/pkg-config/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Solaris.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/openSUSE.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/GIT_Source/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Master_Config/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Swap_File/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/cmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/criu/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/nasm/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/trss.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/ANT/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Common/tasks/main.yml
  ansible/playbooks/aix.yml.old
  ansible/playbooks/correct_vnc_install.yml
  ansible/playbooks/ubuntu-jck.yml
  ansible/playbooks/vagrant.yml
Labels: ansible

install 31bit binaries on rhel 7 or less
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
Labels: ansible

Fix VS2013 Installation
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2013/tasks/main.yml
Labels: ansible

github/vagrant: macos-12 with vagrantbox (#2733)
  .github/workflows/build_vagrant.yml
Labels: ghActions

Download solaris10 vagrant box if missing.
  .github/workflows/build_vagrant.yml
Labels: ghActions

Update comment
  .github/workflows/build_vagrant.yml
Labels: ghActions

Add checksum validation for boxfile download.
  .github/workflows/build_vagrant.yml
Labels: ghActions

Fix formatting
  .github/workflows/build_vagrant.yml
Labels: ghActions

github: Download Solaris10 box Image If Missing (#2741)
  .github/workflows/build_vagrant.yml
Labels: ghActions

fix: connect to vargrant box in GH action and disable become
  .github/workflows/build_vagrant.yml
Labels: ghActions

fix
  .github/workflows/build_vagrant.yml
Labels: ghActions

Update Nagios Installation Tasks
  ansible/playbooks/nagios/README.md
  ansible/playbooks/nagios/VagrantFiles/Vagrantfile.Nagios.Server.Ubuntu2204
  ansible/playbooks/nagios/nagios_aix.yml.old
  ansible/playbooks/nagios/nagios_inventory.yml
  ansible/playbooks/nagios/roles/Nagios_Server/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_commands.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_server_monitoring.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/main.yml
  ansible/playbooks/nagios/secrets_setup_server.enc
  ansible/playbooks/nagios/vars_setup_server.yml
Labels: doc, ansible

Update nagios_inventory.yml
  ansible/playbooks/nagios/nagios_inventory.yml
Labels: ansible

Correct Git Installation For SLES12 SP5
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
Labels: ansible

Fix Typo
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible

Compile Git From Source For SLES12 SP5
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
Labels: ansible

Typo in YML
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible

Typos
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible

Fix when clause for GIT
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible

Fix clause names.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible

Add Git Compilation Tasks
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible

add rest of sles12 dockerfile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles12
Labels: ansible

Fix linter error.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg
