Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

Change label reference to Yamllint action
  .github/workflows/linter.yml
Labels: ghActions

Fix actions/labeler at latest tagged release
  .github/workflows/labeler.yml
Labels: ghActions

RE-enable cuda
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

Update Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
Labels: ansible

Fix when clauses for libffi6 installation
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
Labels: ansible

github: Fix actions to specific hashes (#2828)
  .github/dependabot
  .github/workflows/build.yml
  .github/workflows/build_mac.yml
  .github/workflows/build_vagrant.yml
  .github/workflows/build_wsl.yml
  .github/workflows/check_dockerstatic.yml
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
Labels: ghActions

Linter fixes
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
Labels: ansible

Linter fixes.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
Labels: ansible

remove condition which prevents jenkins being added to docker group on aarch64 (#2813)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

Adding a check for the machines with the build, windows & x64 labels (#2798)
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

UnixPB : Install LibFFI6 On Ubuntu 20/22 on s390x (#2831)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
Labels: ansible

Update to include testing machines for readiness
  FAQ.md
Labels: doc

Link to PLATFORM_MAP
  FAQ.md
Labels: doc

Add Jenkins job link
  FAQ.md
Labels: doc

docs: Update FAQ with information to verify test nodes (#2835)
  FAQ.md
Labels: doc

Decommissioning of old Marist s390x systems
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

Remove redundant variable.
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/group_vars/all/adoptopenjdk_variables.yml
Labels: ansible

winPB: Install NSClient++ On Windows Hosts For Nagios Monitoring (#2827)
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/group_vars/all/adoptopenjdk_variables.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NSClient/tasks/main.yml
Labels: ansible

inv: Add LoongArch64 machines
  ansible/inventory.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible

add new equinix machines, remove those to be decommissioned
  ansible/inventory.yml
Labels: ansible

Decommissioning of old Marist s390x systems (#2837)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

unixPB: Stop installing two JDK8s on Alpine
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

unixPB: Stop installing two JDK8s on Alpine (#2845)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

add new equinix machines, remove those to be decommissioned (#2841)
  ansible/inventory.yml
Labels: ansible

add logs to windows playbook
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/logs/tasks/main.yml
Labels: ansible

use windows date
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/logs/tasks/main.yml
Labels: ansible

account for windows localhost playbook executions
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/logs/tasks/main.yml
Labels: ansible

account for windows localhost playbook executions
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/logs/tasks/main.yml
Labels: ansible

change or to and
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/logs/tasks/main.yml
Labels: ansible

removed decommissioned marist machines
  ansible/inventory.yml
Labels: ansible

linter to check valid machine
  .github/workflows/linter.yml
Labels: ghActions

Install docker for Ubuntu on RISC-V
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

Remove from build label hosts, add to dockerhosts
  ansible/inventory.yml
Labels: ansible

Linter fix.
  ansible/inventory.yml
Labels: ansible

Adjust hostname for archictecture
  ansible/inventory.yml
Labels: ansible

add git sha to windows workflow to pass in as parameter
  .github/workflows/build_wsl.yml
Labels: ghActions

pass git sha to windows vagrant playbook run
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, pbTests

Remove defunct machines
  ansible/inventory.yml
Labels: ansible

inventory: Remove 139.178.86.243 from build label hosts, add to dockerhosts dockerhost-equinix-ubuntu2204-armv8-1 (#2852)
  ansible/inventory.yml
Labels: ansible

Inventory: remove decommissioned Marist machines (#2849)
  .github/workflows/linter.yml
  ansible/inventory.yml
Labels: ghActions, ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg
