Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg

Re add spearhead machine.
  ansible/inventory.yml
Labels: ansible

Linter fix for rogue spaces
  ansible/inventory.yml
Labels: ansible

Bump Nvidia Cuda to Version 9.1
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
Labels: ansible

Add perl-IPC-Cmd to Redhat/CentOS installs for OpenSSL v3 compile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: ansible

WindowsPB: add logs to windows playbook (#2848)
  .github/workflows/build_wsl.yml
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/logs/tasks/main.yml
Labels: ghActions, Vagrant, pbTests, ansible

unixPB: install automake on macOS
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
Labels: ansible

add QEMU playbook check to github workflow
  .github/workflows/build_qemu.yml
Labels: ghActions

add newline
  .github/workflows/build_qemu.yml
Labels: ghActions

add tab and remove space
  .github/workflows/build_qemu.yml
Labels: ghActions

switch to one run command
  .github/workflows/build_qemu.yml
Labels: ghActions

add new line
  .github/workflows/build_qemu.yml
Labels: ghActions

indent run block
  .github/workflows/build_qemu.yml
Labels: ghActions

try without armv7 to see if others run fine
  .github/workflows/build_qemu.yml
Labels: ghActions

install sudo
  .github/workflows/build_qemu.yml
Labels: ghActions

skip debug
  .github/workflows/build_qemu.yml
Labels: ghActions

add ansible_interpreter extra variable
  .github/workflows/build_qemu.yml
Labels: ghActions

export different ansible interpreter based on os
  .github/workflows/build_qemu.yml
Labels: ghActions

only export interpreter variable for buster
  .github/workflows/build_qemu.yml
Labels: ghActions

add brackets to resolve variable
  .github/workflows/build_qemu.yml
Labels: ghActions

create python link if missing
  .github/workflows/build_qemu.yml
Labels: ghActions

ansible: Decommissioning of old solaris/x64 systems
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

skip swap
  .github/workflows/build_qemu.yml
Labels: ghActions

cron and swap adoptopenjdk tags
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible

skip ntp_time
  .github/workflows/build_qemu.yml
Labels: ghActions

lint fixes
  ansible/playbooks/nagios/roles/Nagios_Config/README.md
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/nagios_yaml.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/get_inventory.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/run_py_script.yml
  ansible/playbooks/nagios/roles/Nagios_Config/vars/Ubuntu.yml
Labels: doc, ansible

script fix
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/run_py_script.yml
Labels: ansible

skip jenkins and docker
  .github/workflows/build_qemu.yml
Labels: ghActions

file additions and alterations
  ansible/playbooks/nagios/play_config_server.yml
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/nagios_yaml.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/get_inventory.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/run_py_script.yml
  ansible/playbooks/nagios/vars_configure_server.yml
Labels: ansible

lint fixes
  ansible/playbooks/nagios/play_config_server.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/run_py_script.yml
Labels: ansible

task fix
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/run_py_script.yml
Labels: ansible

ammends to py script and task
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/nagios_yaml.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/run_py_script.yml
Labels: ansible

add riscv support
  .github/workflows/build_qemu.yml
Labels: ghActions

add qemu label condition
  .github/workflows/build_qemu.yml
Labels: ghActions

typo on riscv64
  .github/workflows/build_qemu.yml
Labels: ghActions

update action version after riscv support
  .github/workflows/build_qemu.yml
Labels: ghActions

py script fix
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/nagios_yaml.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/run_py_script.yml
Labels: ansible

syntax fix
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/nagios_yaml.py
Labels: ansible

fixes from review
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Server_Configurations.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Get_Ansible_Inventory.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/get_inventory.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/run_py_script.yml
  ansible/playbooks/nagios/vars_configure_server.yml
Labels: ansible

Add input path parameter
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
Labels: ansible

Add input path parameter
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Server_Configurations.py
Labels: ansible
