Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg

Amend Nagios/Ansible Config Role To Create Service Groups Config File (#2891)
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Servicegroups_config_file.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Servicegroups.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
  ansible/playbooks/nagios/vars_configure_server.yml
Labels: ansible

verify curl download
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
Labels: ansible

add script to roles which offer sigfile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/group_vars/all/adoptopenjdk_variables.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ant/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/autoconf/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/cmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/maven/tasks/main.yml
Labels: ansible

trailing spaces
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/cmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
Labels: ansible

install gnupg on alpine
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Alpine.yml
Labels: ansible

hostgroups automation
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Hostgroups.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Hostgroups.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
  ansible/playbooks/nagios/vars_configure_server.yml
Labels: ansible

added missed blank line
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
Labels: ansible

docs: add Scott Fryer as infrastructure team member
  README.md
Labels: doc

gnupg for ubuntu
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: ansible

skip sig verification of cmake on centos6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Solaris.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/cmake/tasks/main.yml
Labels: ansible

Update README.md
  README.md
Labels: doc

UnixPB: Script to provide GPG signature verification for downloaded binaries (#2881)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/group_vars/all/adoptopenjdk_variables.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Alpine.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Solaris.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ant/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/autoconf/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/cmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/maven/tasks/main.yml
  ansible/playbooks/Supporting_Scripts/package_signature_verification.sh
Labels: ansible

Update ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Hostgroups.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Hostgroups.yml
Labels: ansible

Update ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Hostgroups.py
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Hostgroups.py
Labels: ansible

docs: add Scott Fryer as infrastructure team member (#2901)
  README.md
Labels: doc

ansible: Decommissioning of old Windows machines
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

inventory: Remove two old AWS machines
  ansible/inventory.yml
Labels: ansible

Remove 2 defunct docker- hosts.
  ansible/inventory.yml
Labels: ansible

Add new ntp plugin for nagios
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/nagios_server_plugins/check_ubuntu_ntp_timesync
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_Ubuntu.yml
Labels: ansible

unixPB: fix linter
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/X11/tasks/main.yml
Labels: ansible

inventory: Remove two old AWS machines (#2913)
  ansible/inventory.yml
Labels: ansible

Remove 2 defunct docker- hosts. (#2914)
  ansible/inventory.yml
Labels: ansible

Fix path to plugin script
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/check_ubuntu_ntp_timesync
Labels: ansible

ansible: Decommissioning of old Windows machines (#2909)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

fix merge
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

unixPB: Adjust boot JDKs to current required ones. Remove JDK11 (#2782)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible

unixPB: fix linter (#2919)
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/X11/tasks/main.yml
Labels: ansible

add centos6 build job to jenkins (#2756)
  Jenkinsfile
Labels: none

Update filename
  ansible/playbooks/nagios/docs/testing_nagios_playbook.md
Labels: doc, ansible

Amend Nagios/Ansible Config Role To Create Host Groups Config File (#2898)
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Hostgroups.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Hostgroups.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
  ansible/playbooks/nagios/vars_configure_server.yml
Labels: ansible

Remove jck-packet-ubuntu2004-x64-1 and jck-equinix-containerized-alpine313-x64-1. (#2895)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

ansible: Set up new Ubuntu 20.04 s390x machine (#2785)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

Update instructions.
  ansible/playbooks/nagios/docs/testing_nagios_playbook.md
Labels: doc, ansible

Remove Encrypted nagios secrets file from linter.
  .ansible-lint
Labels: none

Update instructions about vault usage.
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

Comment Out Encrypted Vault File Usage.
  ansible/playbooks/nagios/play_setup_server.yml
Labels: ansible

Fix spacing for linter
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Hostgroups.yml
Labels: ansible

Fix spaces for linter
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
Labels: ansible

Fix spaces for linter
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Servicegroups.yml
Labels: ansible

Include additional detailed comments.
  ansible/playbooks/nagios/play_setup_server.yml
Labels: ansible
