Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

fix: update all reference from CentOS6 to CentOS7
  .github/workflows/build.yml
Labels: ghActions

docker: add support for Alpine aarch64 image #2497 (#2535)
  FAQ.md
  Jenkinsfile
  README.md
  ansible/docker/Dockerfile.Alpine3
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: doc, docker, ansible

github: upgrade build-push-action to v2 to fix "linter" warning
  .github/workflows/build.yml
  .github/workflows/build_windows.yml
Labels: ghActions

fix: revert to use branch check on action
  .github/workflows/build.yml
  .github/workflows/build_windows.yml
Labels: ghActions

fix: he windows-2016 environment is deprecated and will be removed on April 1st, 2022. Migrate to windows-2019 or windows-latest instead.
  .github/workflows/build_windows.yml
Labels: ghActions

fix: windows does not support buildx with privileged mode, revert back
  .github/workflows/build_windows.yml
Labels: ghActions

docker: update Dockerstatic to download jdk from api.adoptium.net
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.cent8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f33
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f34
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f35
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1604
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1804
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2004
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2104
Labels: ansible

fix: linter
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/openjdk.yml
  ansible/playbooks/correct_vnc_install.yml
  ansible/playbooks/ubuntu-jck.yml
  ansible/playbooks/vagrant.yml
Labels: ansible

fix: typo
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f35
Labels: ansible

github: cleanup GH Action on windows-2016
  .github/workflows/build_windows.yml
Labels: ghActions

docs: remove entry of windows image in FAQ
  FAQ.md
Labels: doc

github: cleanup GH Action on windows-2016 (#2556)
  .github/workflows/build_windows.yml
  FAQ.md
Labels: ghActions, doc

github: upgrade build-push-action to v2 to fix "linter" warning (#2550)
  .github/workflows/build.yml
Labels: ghActions

Update ansible/playbooks/vagrant.yml
  ansible/playbooks/vagrant.yml
Labels: ansible

docker: update Dockerstatic to download jdk from api.adoptium.net v3 (#2555)
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/openjdk.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.cent8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f33
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f34
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f35
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1604
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1804
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2004
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2104
  ansible/playbooks/correct_vnc_install.yml
  ansible/playbooks/ubuntu-jck.yml
  ansible/playbooks/vagrant.yml
Labels: ansible

unixPB: Add Alpine/arm boot JDKs from alpine repos (TEMPORARY)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: ansible

fix alpine manifest build for amd64
  .github/workflows/build.yml
  Jenkinsfile
Labels: ghActions

docker: build docker image for Alpine
  .github/workflows/build.yml
  Jenkinsfile
Labels: ghActions

Update Jenkinsfile
  Jenkinsfile
Labels: none

docs update
  FAQ.md
Labels: doc

Update build.yml
  .github/workflows/build.yml
Labels: ghActions

docker: fix alpine manifest build for amd64 (#2560)
  .github/workflows/build.yml
  FAQ.md
  Jenkinsfile
Labels: ghActions, doc

unixPB: add new dockerstatic container for Ubuntu20.04
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2204
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: ansible

unixPB: Add Alpine/arm boot JDKs from alpine repos (TEMPORARY) (#2559)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: ansible

docker: Force JDK19_BOOT_DIR=zulu18 for Alpine
  ansible/docker/Dockerfile.Alpine3
Labels: docker

unixPB: add new dockerstatic container for Ubuntu20.04 (#2551)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2204
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: ansible

docker: Force JDK19_BOOT_DIR=zulu18 for Alpine (#2566)
  ansible/docker/Dockerfile.Alpine3
Labels: docker

Fix API URL, and add missing repos
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.ubi8
Labels: ansible

unixPB: switch alpine builds to use temurin boot jdk where possible
  ansible/docker/Dockerfile.Alpine3
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: docker, ansible

unixPB: Add fakeroot to Alpine 3.14 DockerStatic file
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp314
Labels: ansible

Alpine314 fakeroot (#2569)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp314
Labels: ansible

Add noh7B-macos12-arm64 ip
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

add arm64 binaries instead of x64 when available
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

ansible: refactory docker role
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/rhel.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/sles.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/ubuntu.yml
Labels: ansible

ansible: fix check on rc code since we set failed_when:false
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/rhel.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/sles.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/ubuntu.yml
Labels: ansible

ansible: make it work for both old version 2.6.20 (CentOS6) and newer one
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

ansible: fix missing check on OS
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

ansible: fix linter
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/rhel.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/sles.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/ubuntu.yml
Labels: ansible

Update ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

update: after code review
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/rhel.yml
Labels: ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg
