Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

Add checksum verification
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible

Revert "Add VS2022 installation"
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

Revert "Add checksum verification"
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible

Doc: Update docker static patching policy (#3161)
  FAQ.md
Labels: doc

Update main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible

Update ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
Labels: ansible

Update ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
Labels: ansible

Update jdk8 package name.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
Labels: ansible

Update ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

Update ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

Update ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

UnixPB: Update Debian URLs (#3174)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
Labels: ansible

WindowsPB: Include Checksum Verification of VS2019 Layout (#3175)
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible

Improve VS2017 install on Win2022
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible

Fix layout removal
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible

More vs2017 test
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
Labels: ansible

Try powershell install of vs2017
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
Labels: ansible

VS2017 tests.
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
Labels: ansible

Add installation checks
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
Labels: ansible

Fix parameters for updated VS2017 installer
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
Labels: ansible

Fix parameters for updated vs2017 installer
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
Labels: ansible

push docker build images to GitHub packages
  Jenkinsfile
Labels: none

Only install vs2022 on newer windows
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

Update ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

WindowsPB : Add Visual Studio 2022 installation (#3172)
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

add intel homebrew install for m1 macs
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Homebrew_intel/tasks/main.yml
Labels: ansible

remove spaces
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Homebrew_intel/tasks/main.yml
Labels: ansible

add brew path to brew ansible modules
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

change formatting of module parameters
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

typo
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

remove debug tasks
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Homebrew_intel/tasks/main.yml
Labels: ansible

add comment
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Homebrew_intel/tasks/main.yml
Labels: ansible

specify homebrew path
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
Labels: ansible

correct conditions
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
Labels: ansible

unixPB: Fix sles 12 build tools package name
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
Labels: ansible

unixPB: Add an optional role for performance tools
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/performance_tools/tasks/main.yml
Labels: ansible

Amend OpenSSL installation on CentOS6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/CentOS6-Cent7SSL/tasks/main.yml
Labels: ansible

unixPb: add xcode11 install tasks to playbook
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode11/tasks/main.yml
Labels: ansible

update message
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode11/tasks/main.yml
Labels: ansible

Amend OpenSSL installation on CentOS6 (#3196)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/CentOS6-Cent7SSL/tasks/main.yml
Labels: ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg
