Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

Add Ubuntu 20.04 linux-riscv64 image
  .github/workflows/build_qemu.yml
  FAQ.md
  Jenkinsfile
  ansible/docker/Dockerfile.Ubuntu2004-riscv64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: ghActions, doc, docker, ansible

docs: Update CONTRIBUTING.md which is a bit stale (#3219)
  CONTRIBUTING.md
Labels: doc

github: Clarify machine access removal process (#3228)
  .github/ISSUE_TEMPLATE/machineaccess.md
Labels: doc

Remove firefox, and restrict thunderbird
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

Update thunderbird to latest
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Thunderbird/tasks/main.yml
Labels: ansible

Update checksum for downloaded vs2022
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

Fix runs of QEMU playbook check
  .github/workflows/build_qemu.yml
Labels: ghActions

add adoptopenjdk tag to libpng uninstall
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

Remove mercurial as it's not needed anymore and it's not available on RISC-V
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: ansible

Remove check for QEMU-playbook-check for QEMU
  .github/workflows/build_qemu.yml
Labels: ghActions

Revert part of Github Actions CI check for qemu playbooks
  .github/workflows/build_qemu.yml
Labels: ghActions

unixPb: Add role to install intel homebrew for arm64 macs (#3185)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
Labels: ansible

Add openjdk-11-jdk and openjdk-17-jdk as boot JDK
  ansible/docker/Dockerfile.Ubuntu2004-riscv64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: docker, ansible

Update checksum for downloaded vs2022 (#3243)
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

Install special JDK 19 for linux-riscv64
  ansible/docker/Dockerfile.Ubuntu2004-riscv64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: docker, ansible

Update main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

add missing when condition
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible

move into block to separate conditions
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible

Put back QEMU-playbook-check label check
  .github/workflows/build_qemu.yml
Labels: ghActions

Update ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

Update roles/docker/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

Update docker/ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/ubuntu.yml
Labels: ansible

Fix erroneous whitespace
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

Remove thunderbird role from playbook
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

windowsPb: Add missing when condition to MSVS_2019 install (#3244)
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible

Bump to gcc-10 for riscv64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: ansible

[ansible] Add Ubuntu 20.04 linux-riscv64 image (#3240)
  .github/workflows/build_qemu.yml
  FAQ.md
  Jenkinsfile
  ansible/docker/Dockerfile.Ubuntu2004-riscv64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ghActions, doc, docker, ansible

WindowsPB: Prevent Installation Of Firefox & Bump Installation version of Thunderbird (#3242)
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Thunderbird/tasks/main.yml
Labels: ansible

add patching info to docs
  FAQ.md
Labels: doc

link inventory.yml
  FAQ.md
Labels: doc

reword
  FAQ.md
Labels: doc

move adopt msvs2022 install into own block
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

Docs: Add information on regular deployment of playbooks via AWX (#3247)
  FAQ.md
Labels: doc

move adopt msvs2022 install into own block (#3248)
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

switch back to default xcode
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

Change default JDK for alpine arm64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: ansible

Change default JDK for alpine arm64 (#3252)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: ansible

remove task to uninstall libpng
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

remove task to uninstall libpng (#3254)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

Update checksum for vs2022 download
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg
