Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

Document formatting updates
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

Document formatting updates
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

Remove Webhook Call.
  ansible/playbooks/nagios/roles/Nagios_Server/scripts/slack_nagios.pl
Labels: ansible

Remove Webhook Call.
  ansible/playbooks/nagios/roles/Nagios_Server/scripts/slack_nagios.pl
Labels: ansible

Fix Slack Webhook Configuration
  ansible/playbooks/nagios/README.md
  ansible/playbooks/nagios/Vagrantfile
  ansible/playbooks/nagios/ansible.cfg
  ansible/playbooks/nagios/roles/Nagios_Server/scripts/slack_nagios.pl
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagios_scripts.yml
  ansible/playbooks/nagios/secrets_setup_server.yml
Labels: doc, ansible

remove deb 8 vagrant file (#2633)
  ansible/vagrant/Vagrantfile.Debian8
Labels: Vagrant

Fix Linter Error
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_pnp4nagios.yml
Labels: ansible

Fix Linter
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_pnp4nagios.yml
Labels: ansible

ansible: disable installing freemarker on unix, win and mac (#2622)
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

Linter fixes, reformat nagios inventory
  ansible/playbooks/nagios/Vagrantfile
  ansible/playbooks/nagios/nagios_inventory.yml
  ansible/playbooks/nagios/play_setup_server.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagiosgraph.yml
  ansible/playbooks/nagios/roles/Nagios_Server/vars/Ubuntu.yml
  ansible/playbooks/nagios/secrets_setup_server.enc
  ansible/playbooks/nagios/secrets_setup_server.yml
Labels: ansible

Remove errant vagrantfile
  ansible/playbooks/nagios/Vagrantfile
Labels: ansible

Fix linter.
  ansible/playbooks/nagios/nagios_inventory.yml
Labels: ansible

Create Dockerfile.deb11
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.deb11
Labels: ansible

Add Debian 11
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: ansible

Update docker static port for debian 11
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.deb11
Labels: ansible

Add upgrade for Debian.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/scripts/updatepackages.sh
Labels: ansible

unixPB: upgrade nodejs from 12.x to 16.x for TRSS
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/trss.yml
Labels: ansible

Review fixes for PR
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.deb11
Labels: ansible

Revert upgrade to ant-contrib
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.deb11
Labels: ansible

unixPB: upgrade nodejs from 12.x to 16.x for TRSS (#2646)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/trss.yml
Labels: ansible

docker: Add Dockerstatic File for Debian 11. (#2649)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.deb11
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/scripts/updatepackages.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: ansible

inventory: Add AIX 7.2 build machine
  ansible/inventory.yml
Labels: ansible

Update .github/ISSUE_TEMPLATE/testcasefail.md
  .github/ISSUE_TEMPLATE/testcasefail.md
Labels: doc

Update .github/ISSUE_TEMPLATE/testcasefail.md
  .github/ISSUE_TEMPLATE/testcasefail.md
Labels: doc

github: Provide more suggestions for info to include for a test failure (#2430)
  .github/ISSUE_TEMPLATE/testcasefail.md
Labels: doc

inventory: Add AIX 7.2 build machine (#2655)
  ansible/inventory.yml
Labels: ansible

unixPB: Add libatomic for RISC-V JDK head cross-compilation
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: ansible

add zip to dockerfiles
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp311
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp312
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp313
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp314
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.cent8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.deb11
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f33
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f34
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f35
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1604
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1804
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2004
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2104
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2204
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.ubi8
Labels: ansible

unixPB: Add pigz on Alpine to speed up final archiving
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Alpine.yml
Labels: ansible

add zip to dockerfiles (#2660)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp311
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp312
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp313
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp314
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.cent8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.deb11
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f33
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f34
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f35
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1604
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1804
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2004
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2104
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2204
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.ubi8
Labels: ansible

unixPB: Add pigz on Alpine to speed up final archiving (#2657)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Alpine.yml
Labels: ansible

unixPb: Add role to install CRIU on Linux x86-64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/criu/tasks/main.yml
Labels: ansible

Update ansible/create-solaris-esxi.md
  ansible/create-solaris-esxi.md
Labels: doc

Update ansible/create-solaris-esxi.md
  ansible/create-solaris-esxi.md
Labels: doc

Add TCL Package required for git compilation
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Solaris.yml
Labels: ansible

Add tasks to update GIT
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Solaris.yml
Labels: ansible

Switch to gmake
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Solaris.yml
Labels: ansible

ansible: Add new AIX7.2 VM
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

ansible: Add new AIX7.2 VM (#2668)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

Add GIT Ver Check & install into /usr/local/bin
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Solaris.yml
Labels: ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg
