Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

doc: Update maintenance window info and jenkins patching instructions
  README.md
Labels: doc

More updates.
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

aixPb: Install GnuPG2 on Aix (#3020)
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/group_vars/all/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ant/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
Labels: ansible

Updates
  ansible/playbooks/nagios/documentation/USAGE_GUIDE.md
Labels: doc, ansible

Create nagios users home directory (#3025)
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagios_core.yml
Labels: ansible

verify signature of jdk downloads
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/openjdk.yml
Labels: ansible

link libffi.so.4 to libffi.so.6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles12
Labels: ansible

Finalise initial documentation
  ansible/playbooks/nagios/README.md
  ansible/playbooks/nagios/documentation/Manually_Adding_Nagios_Service_Checks.MD
  ansible/playbooks/nagios/documentation/USAGE_GUIDE.md
Labels: doc, ansible

Include solaris templates and custom server plugins.
  ansible/playbooks/nagios/roles/Nagios_Config/files/Nagios_Server_Config.py
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/test-solaris-noport-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/test-solaris-port-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Server_Configurations.py
  ansible/playbooks/nagios/roles/Nagios_Server/files/nagios_server_plugins/check_agent
  ansible/playbooks/nagios/roles/Nagios_Server/files/nagios_server_plugins/check_inventory
  ansible/playbooks/nagios/roles/Nagios_Server/files/nagios_server_plugins/check_nagios_sync
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagios_plugins.yml
Labels: ansible

Update ansible/playbooks/nagios/documentation/USAGE_GUIDE.md
  ansible/playbooks/nagios/documentation/USAGE_GUIDE.md
Labels: doc, ansible

Update ansible/playbooks/nagios/documentation/Manually_Adding_Nagios_Service_Checks.MD
  ansible/playbooks/nagios/documentation/Manually_Adding_Nagios_Service_Checks.MD
Labels: ansible

Update ansible/playbooks/nagios/documentation/Manually_Adding_Nagios_Service_Checks.MD
  ansible/playbooks/nagios/documentation/Manually_Adding_Nagios_Service_Checks.MD
Labels: ansible

Update ansible/playbooks/nagios/documentation/USAGE_GUIDE.md
  ansible/playbooks/nagios/documentation/USAGE_GUIDE.md
Labels: doc, ansible

Update ansible/playbooks/nagios/documentation/Manually_Adding_Nagios_Service_Checks.MD
  ansible/playbooks/nagios/documentation/Manually_Adding_Nagios_Service_Checks.MD
Labels: ansible

Update ansible/playbooks/nagios/documentation/Manually_Adding_Nagios_Service_Checks.MD
  ansible/playbooks/nagios/documentation/Manually_Adding_Nagios_Service_Checks.MD
Labels: ansible

Update ansible/playbooks/nagios/roles/Nagios_Config/README.md
  ansible/playbooks/nagios/roles/Nagios_Config/README.md
Labels: doc, ansible

Fix grammar.
  ansible/playbooks/nagios/roles/Nagios_Config/README.md
Labels: doc, ansible

doc: Update Nagios playbook documentation. (#3034)
  ansible/playbooks/nagios/README.md
  ansible/playbooks/nagios/documentation/HOW_TO_ADD_WINDOWS_TO_NAGIOS.md
  ansible/playbooks/nagios/documentation/Manually_Adding_Nagios_Service_Checks.MD
  ansible/playbooks/nagios/documentation/USAGE_GUIDE.md
  ansible/playbooks/nagios/roles/Nagios_Config/README.md
Labels: doc, ansible

skip package upgrade on 10.14 and under
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

change to 10.15 and auto yes to casks upgrade
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

linter
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

unixPb: Skip MacOS package upgrade on 10.15 and under (#3045)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

checksum typo
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
Labels: ansible

add become to curl install on mac
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
Labels: ansible

remove forward slash, else ansible wont be able to find pdfwriter
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

macos11 nagios-plugins v2.4.4
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_MacOSX.yml
Labels: ansible

verify signature of jdk downloads (#3035)
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/openjdk.yml
Labels: ansible

update SHA of check_mem.pl
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
Labels: ansible

unixPb: Fix various errors in Unix playbook (#3046)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
Labels: ansible

ansible: remove test-osuosl-aix72-ppc64-[3,4] aix72-ppc64-3 was never built aix72-ppc64-4 is also configured as build-osuosl-aix72-ppc64-1
  ansible/inventory.yml
Labels: ansible

ansible: remove test-osuosl-aix72-ppc64-[3,4] (#3053)
  ansible/inventory.yml
Labels: ansible

Add MS system fonts.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp311
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp312
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp313
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp314
Labels: ansible

Add MS system fonts. (#3054)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp311
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp312
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp313
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp314
Labels: ansible

remove the decommissioned rhel7 and 8 s390x boxes
  ansible/inventory.yml
Labels: ansible

remove the decommissioned rhel7 and 8 s390x boxes (#3056)
  ansible/inventory.yml
Labels: ansible

remove name option from sles12 docker repo
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/sles.yml
Labels: ansible

add docker repos with zypper sles12
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/sles.yml
Labels: ansible

adjust zypper repo and add condition to CUDA download
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/sles.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
Labels: ansible

add condition to prevent docker repo on s390x
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/sles.yml
Labels: ansible

update devel-tools repo sles15
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg
