Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg

Update Vagrant clean script
  ansible/pbTestScripts/vmDestroy.sh
Labels: Vagrant, pbTests

Vagrantfile updates
  ansible/vagrant/Vagrantfile.Ubuntu2204
Labels: Vagrant

Increase Windows VM Boot Timeouts
  ansible/vagrant/Vagrantfile.Win2012
  ansible/vagrant/Vagrantfile.Win2022
Labels: Vagrant

Fix NASM Ubuntu logic
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/nasm/tasks/main.yml
Labels: ansible

Increase timeout for w2022
  ansible/vagrant/Vagrantfile.Win2022
Labels: Vagrant

Increase w2012 timeout
  ansible/vagrant/Vagrantfile.Win2012
Labels: Vagrant

Vagrant: Increase boot timeout for windows machines (#3267)
  ansible/vagrant/Vagrantfile.Win2012
  ansible/vagrant/Vagrantfile.Win2022
Labels: Vagrant

Fix debian 10 docker bugs.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

Fix debian 10 docker bugs. (#3269)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

unixPB: Add strace tooling for Unix platforms, and truss for Solaris
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Alpine.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/FreeBSD.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Solaris.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/openSUSE.yml
Labels: ansible

unixPB: Don't add truss for Solaris
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Solaris.yml
Labels: ansible

move xcode switch to after brew install
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

Fix NASM compilation on Ubuntu 22.04
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/nasm/tasks/main.yml
Labels: ansible

unixPB: Add strace tooling for Unix platforms, and truss for Solaris (#3265)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Alpine.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/FreeBSD.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/openSUSE.yml
Labels: ansible

add dnf role, deprecate yum role
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/dnf/tasks/main.yml
Labels: ansible

Add check for python3, comments and other steps
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/dnf/tasks/main.yml
Labels: ansible

ad dnf tags to role
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
Labels: ansible

linter
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/dnf/tasks/main.yml
Labels: ansible

include code about removing unnecessary packages
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/dnf/tasks/main.yml
Labels: ansible

Enable push to docker on merge (#3263)
  .github/workflows/build.yml
Labels: ghActions

Docker push fix.
  .github/workflows/build.yml
Labels: ghActions

C6 docker push fix
  .github/workflows/build.yml
Labels: ghActions

c6 docker push
  .github/workflows/build.yml
Labels: ghActions

Fix Typo
  ansible/pbTestScripts/vmDestroy.sh
Labels: Vagrant, pbTests

Typo
  ansible/pbTestScripts/vmDestroy.sh
Labels: Vagrant, pbTests

Formatting
  ansible/pbTestScripts/vmDestroy.sh
Labels: Vagrant, pbTests

UnixPB: Add Vagrant Playbook Checks On Ubuntu 22.04 (#3270)
  ansible/pbTestScripts/vmDestroy.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/nasm/tasks/main.yml
  ansible/vagrant/Vagrantfile.Ubuntu2204
Labels: Vagrant, pbTests, ansible

add checksum to dnf install script
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/dnf/tasks/main.yml
Labels: ansible

debug
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/dnf/tasks/main.yml
Labels: ansible

change permissions of dnf script to execute
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/dnf/tasks/main.yml
Labels: ansible

github: Fix Centos6 build image push (#3272)
  .github/workflows/build.yml
Labels: ghActions

Use branch reference.
  .github/workflows/build.yml
Labels: ghActions

Use branch reference. (#3273)
  .github/workflows/build.yml
Labels: ghActions

debug
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/dnf/tasks/main.yml
Labels: ansible

remove debug, remove yum-utils after dnf install and before dnf update
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/dnf/tasks/main.yml
Labels: ansible

modify ansible_python_interpreter as a test
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
Labels: ansible

remove ansible_python_interpreter from main and have as var for test
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/dnf/tasks/main.yml
Labels: ansible

change ansible_python_interpreter to /opt/freeware/libexec/python3 to test
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/dnf/tasks/main.yml
Labels: ansible

move dnf module tasks into own ansible_interpreter block
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/dnf/tasks/main.yml
Labels: ansible

ignore gnupg2-2.0.30 for now
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/dnf/tasks/main.yml
Labels: ansible
