Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg

inventory: Add replacement Linux/s390x systems from Marist (#2690)
  ansible/inventory.yml
Labels: ansible

Do not install our gcc 7 on Ubuntu < 22.04
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
Labels: ansible

dockerstatic: add main repo
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles15
Labels: ansible

unixPB: remove unneeded repos from Ubuntu playbooks
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
Labels: ansible

Follow-on adjustments
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
Labels: ansible

rename sles15 and rhel8 machines
  ansible/inventory.yml
Labels: ansible

trailing spaces
  ansible/inventory.yml
Labels: ansible

Inventory: Correct SLES15 and Rhel8 marist names (#2699)
  ansible/inventory.yml
Labels: ansible

unixPB: verify sha256sum of gmake 4.1 source
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
Labels: ansible

unixPB: verify sha256sum of gmake 4.1 source (#2701)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
Labels: ansible

unixPB: remove unneeded repos from Ubuntu playbooks (#2698)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
Labels: ansible

debug: macos issue
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

debug:enable
  .github/workflows/build.yml
  .github/workflows/build_mac.yml
  .github/workflows/build_vagrant.yml
  .github/workflows/build_wsl.yml
  .github/workflows/check_dockerstatic.yml
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
Labels: ghActions

change docker repo for s390x rhel
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/rhel.yml
Labels: ansible

debug: ingore warning
  .github/workflows/build_mac.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ghActions, ansible

Update python for sles15-s390x-2 & 3
  ansible/inventory.yml
Labels: ansible

Remove testhost3
  ansible/inventory.yml
Labels: ansible

unixPB: Remove gcc-7 package install as we use our self-built one (#2691)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
Labels: ansible

change docker repo for s390x rhel (#2707)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/rhel.yml
Labels: ansible

Update python interpreter for sles15_s390x
  ansible/inventory.yml
Labels: ansible

Ensure cron is present on sles15
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
Labels: ansible

Systap Fixes For Sles15
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
Labels: ansible

test: comment our install ccache to test openjdk10 brew install on mac
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

github: upgrade runner from macos-10.15 to macos-11
  .github/workflows/build_mac.yml
  FAQ.md
Labels: ghActions, doc

Linter fix.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible

Remove commented block
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible

Linter fix
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible

github: upgrade runner from macos-10.15 to macos-11 (#2714)
  .github/workflows/build_mac.yml
  FAQ.md
Labels: ghActions, doc

UnixPB: sles15 python interpreter default change, add cron to package list. (#2712)
  ansible/inventory.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
Labels: ansible

Increase Solaris Timeout Value
  ansible/vagrant/Vagrantfile.Solaris10
Labels: Vagrant

TEST: Performance Improvement
  ansible/vagrant/Vagrantfile.Solaris10
Labels: Vagrant

TEST: Improve performance.
  ansible/vagrant/Vagrantfile.Solaris10
Labels: Vagrant

Test: Performance fix.
  ansible/vagrant/Vagrantfile.Solaris10
Labels: Vagrant

consolidate tasks and install docker on rhel8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/rhel.yml
Labels: ansible

move repo key task to top
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/rhel.yml
Labels: ansible

typo
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/rhel.yml
Labels: ansible

trailing spaces
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/rhel.yml
Labels: ansible

Amend path to pick up new version of Git.
  ansible/pbTestScripts/testJDK.sh
Labels: Vagrant, pbTests

Fix Git-reference-if-able
  ansible/pbTestScripts/testJDK.sh
Labels: Vagrant, pbTests

Reduce CPU execution CAP
  ansible/vagrant/Vagrantfile.Solaris10
Labels: Vagrant
