Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

Update VS2019 Installation for layout
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible

add windows 2022 vagrantfile
  ansible/vagrant/Vagrantfile.Windows2022.Core
Labels: Vagrant

Remove test check for vendor files.
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible

Check for adoptopenjdk tags.
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible

Improve VS2019 logic when no layout
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible

linter fix
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible

Add error handle for no layout file.
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible

Fix error handler
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible

Tidy up blank space.
  ansible/playbooks/nagios/roles/Nagios_Server/files/windows.cfg
Labels: ansible

Tidy blank space
  ansible/playbooks/nagios/roles/Nagios_Server/files/timeperiods.cfg
Labels: ansible

Remove commented code.
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Servicegroups_config_file.py
Labels: ansible

unixPB: Block port 80 on jckservices by default (#2925)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

winPb: Update vs2019 installation to use defined layout (#2986)
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
  ansible/vagrant/Vagrantfile.Windows2022.Core
Labels: Vagrant, ansible

winPB: add windows aarch64 machines
  ansible/inventory.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Jenkins/tasks/main.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible

winPB: add windows aarch64 machines (#2992)
  ansible/inventory.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Jenkins/tasks/main.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible

Add windows 2022 machines
  ansible/inventory.yml
Labels: ansible

Update README.md
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/README.md
Labels: doc, ansible

Update README.md
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/README.md
Labels: doc, ansible

Fix log on details.
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/README.md
Labels: doc, ansible

Docs: Add infra map Miro pdf
  docs/AdoptiumInfrastructureMapMiro.pdf
Labels: doc

add links to miro board and pdf
  README.md
Labels: doc

add gpg verification to jdk downloads, and refactor
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/group_vars/all/adoptopenjdk_variables.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

satisfy linter
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

more linter
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

relabel tasks
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

more relabelling
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

remove bootjdk 16
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible

inventory: Add win2022 machines and update windows docs for installing jenkins agent as a service. (#2993)
  ansible/inventory.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/README.md
Labels: doc, ansible

Fix Ubuntu 22.04 box's rejection of RSA key
  ansible/vagrant/Vagrantfile.Ubuntu2204
Labels: Vagrant

Fixup
  ansible/vagrant/Vagrantfile.Ubuntu2204
Labels: Vagrant

exclude gpg for s390x jdk8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

install libselinux-python for centos6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
Labels: ansible

doc: Add document describing access controls at the project
  docs/AccessControl.md
Labels: doc

move vars into block tasks
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

doc: Add information on adoptium server backups
  CONTRIBUTING.md
  README.md
  docs/Backups.md
  tools/run_backups
Labels: doc

change get_url to wget for centos6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

remove centos 6 specific packages I added earlier
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
Labels: ansible

Updates following review
  tools/run_backups
Labels: none

change to adoptium api
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

add eclipse parameters to adoptium api
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg
