Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg

fix: remove wrong uid, should not be there
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/trss.yml
Labels: ansible

Updates to the FAQ relating to 'good' openjdk test cases to use for infrastructure checks (#2574)
  FAQ.md
Labels: doc

add jdk 8 11 and 17 alpine linux temurin aarch64 binaries
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: ansible

remove alpine aarch64 condition from bootjdk roles 8 11 and 17
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible

trailing spaces
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: ansible

inventory: add our two hetzner infrastructure machines (#2590)
  ansible/inventory.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible

ansible: fix wrong path for nagios NTP check on centos/rhel
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/check_ntp_timesync.cfg
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/check_timesync.cfg
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/zypper.cfg
Labels: ansible

github: fix failing vagrant CI job
  .github/workflows/build_vagrant.yml
Labels: ghActions

add win playbook testing using WSL
  .github/workflows/build_wsl.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2013/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: ghActions, ansible

enable VS
  .github/workflows/build_wsl.yml
Labels: ghActions

enable VS
  .github/workflows/build_wsl.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ghActions, ansible

Update build_vagrant.yml
  .github/workflows/build_vagrant.yml
Labels: ghActions

Update build_vagrant.yml
  .github/workflows/build_vagrant.yml
Labels: ghActions

add win 22
  .github/workflows/build_wsl.yml
Labels: ghActions

Update main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Windows_Updates/tasks/main.yml
Labels: ansible

add working dir
  .github/workflows/build_wsl.yml
Labels: ghActions

change aarch64 binary links
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: ansible

enable shortname in registry
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/shortNames/tasks/main.yml
Labels: ansible

try again
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/shortNames/tasks/main.yml
Labels: ansible

try again
  .github/workflows/build_wsl.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/shortNames/tasks/main.yml
Labels: ghActions, ansible

switch to alpine
  .github/workflows/build_wsl.yml
Labels: ghActions

switch shell
  .github/workflows/build_wsl.yml
Labels: ghActions

add additional packages
  .github/workflows/build_wsl.yml
Labels: ghActions

revert
  .github/workflows/build_wsl.yml
Labels: ghActions

final try
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/shortNames/tasks/main.yml
Labels: ansible

clean up vm on exit
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, pbTests

debug
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, pbTests

add argument to destroyVM
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, pbTests

change argument
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, pbTests

add shortname fix
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/shortNames/scripts/shortName.ps1
Labels: ansible

quotation marks
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, pbTests

correct quotation marks
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, pbTests

add docs
  FAQ.md
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/shortNames/scripts/shortName.ps1
Labels: doc, ansible

pbTests add win playbook testing using WSL (#2232)
  .github/workflows/build_wsl.yml
  FAQ.md
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2013/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Windows_Updates/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/shortNames/scripts/shortName.ps1
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/shortNames/tasks/main.yml
Labels: ghActions, doc, ansible

revert: wrong format for identation
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/zypper.cfg
Labels: ansible

move for loop inside destroyVM method
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, pbTests

move for loop
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, pbTests

ansible: fix wrong path for nagios NTP check on Centos/RHEL (#2592)
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/check_ntp_timesync.cfg
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/check_timesync.cfg
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/zypper.cfg
Labels: ansible

VPC: Clean up vagrant boxes on exit (#2595)
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, pbTests

unixPB: Add gcc11.2 role for jdk19+
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_11/tasks/main.yml
Labels: ansible
