Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg

Update ansible/playbooks/nagios/README.md
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

github: forward repo secrets to code freeze workflow (#2799)
  .github/workflows/code-freeze.yml
Labels: ghActions

Create a Script To add Nagios Host Groups
  ansible/playbooks/nagios/roles/Nagios_Server/scripts/nagios_host_group --add.sh
Labels: ansible

changing the file name
  ansible/playbooks/nagios/roles/Nagios_Server/scripts/nagios_host_group_add.sh
Labels: ansible

Refactoring
  ansible/playbooks/nagios/roles/Nagios_Server/scripts/nagios_host_group_add.sh
Labels: ansible

UnixPB: Update CRIU role for Ubuntu (#2748)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/criu/tasks/main.yml
Labels: ansible

rephrased the earlier commit made
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

requested changes
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

requested changes
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

created a script to manage existing host checks
  ansible/playbooks/nagios/roles/Nagios_Server/scripts/nagios_check.sh
Labels: ansible

syntaxfix
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

Create a Script To Remove Nagios Host Groups
  ansible/playbooks/nagios/roles/Nagios_Server/scripts/nagios_host_group_remove.sh
Labels: ansible

adding windows machine to Nagios
  ansible/playbooks/nagios/HOW_TO_ADD_WINDOWS_TO_NAGIOS.md
Labels: doc, ansible

pbTests: Fix Issue With Windows VPC Not Running Tests (#2790)
  ansible/pbTestScripts/testJDKWin.sh
Labels: Vagrant, pbTests

remove condition which prevents jenkins being added to docker group on aarch64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

How to update a host group name (#2791)
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

add disk space check for /home/jenkins in AIX hosts (#2789)
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

Add Additional Disk Space Check For /tmp on AIX hosts (#2795)
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

Update checksum for check_mem.pl
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
Labels: ansible

Update checksum for check_mem.pl (#2816)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
Labels: ansible

Create a Script To add Nagios Host Groups (#2801)
  ansible/playbooks/nagios/roles/Nagios_Server/scripts/nagios_host_group_add.sh
Labels: ansible

Code refactoring
  ansible/playbooks/nagios/roles/Nagios_Server/scripts/nagios_host_group_remove.sh
Labels: ansible

Create a Script To Remove Nagios Host Groups (#2804)
  ansible/playbooks/nagios/roles/Nagios_Server/scripts/nagios_host_group_remove.sh
Labels: ansible

Refactor code
  ansible/playbooks/nagios/roles/Nagios_Server/scripts/nagios_host_group_add.sh
Labels: ansible

Refactor code (#2824)
  ansible/playbooks/nagios/roles/Nagios_Server/scripts/nagios_host_group_add.sh
Labels: ansible

Add new Ansible role
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/group_vars/all/adoptopenjdk_variables.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NSClient/tasks/main.yml
Labels: ansible

Include new NSClient role.
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

Fix typo in new nsclient role name
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

Fix actions to specific hashes
  .github/dependabot
  .github/workflows/build.yml
  .github/workflows/build_mac.yml
  .github/workflows/build_vagrant.yml
  .github/workflows/build_wsl.yml
  .github/workflows/check_dockerstatic.yml
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
Labels: ghActions

adding windows machine to Nagios (#2805)
  ansible/playbooks/nagios/HOW_TO_ADD_WINDOWS_TO_NAGIOS.md
Labels: doc, ansible

Temp Disable Cuda
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

Fix type on ansible_architecture var name
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NSClient/tasks/main.yml
Labels: ansible

Debug NSClient Tasks
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NSClient/tasks/main.yml
Labels: ansible

Temp Changes For Debugging.
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

Debugging
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

Correct typo in ansible architecture
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NSClient/tasks/main.yml
Labels: ansible

Debug MSI Installer Hanging Issue
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NSClient/tasks/main.yml
Labels: ansible

Fix Install task to use win_package
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NSClient/tasks/main.yml
Labels: ansible

Remove debugging.
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NSClient/tasks/main.yml
Labels: ansible

Undo all debugs except for CUDA
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible
