Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg

github: Replace action checkout version with SHA in build_qemu (#3321)
  .github/workflows/build_qemu.yml
Labels: ghActions

Fix AIX Yum Secure Download
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
Labels: ansible

Fix Insecure Download For epel-release
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/Common/tasks/CentOS.yml
Labels: ansible

Enable validate certs for centos
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
Labels: ansible

unixPB: Add Docker support for SLES 12
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/sles.yml
Labels: ansible

Change http links to https for Debian
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
Labels: ansible

Enable Cert Validation For SLES
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible

Fix broken JDK link for SLES
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible

Switch Zule repos to https
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
Labels: ansible

Enable cert validation for openssl download
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/OpenSSL/tasks/main.yml
Labels: ansible

Validate Certs On Solaris Freemarker DL.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/freemarker/tasks/main.yml
Labels: ansible

Correct Repo URL
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
Labels: ansible

Standardise case
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/freemarker/tasks/main.yml
Labels: ansible

inventory: add new trss server to inventory.yml
  ansible/inventory.yml
Labels: ansible

UnixPB: Fix insecure downloads discovered from TrailOfBits Audit (#3329)
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/OpenSSL/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/freemarker/tasks/main.yml
Labels: ansible

change -1 to -2 to avoid confusion with wazuh
  ansible/inventory.yml
Labels: ansible

inventory: Add new trss server to inventory.yml (#3334)
  ansible/inventory.yml
Labels: ansible

docker: Use secret for ROSIPW on RHEL7 build dockerfile (#3320)
  ansible/docker/Dockerfile.RHEL7
Labels: docker

Fix GPG Check on RHEL for docker.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/rhel.yml
Labels: ansible

SLES secure download fixes.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
Labels: ansible

doc: update FAQ with correct AQA custom target parameter
  FAQ.md
Labels: doc

unixPB: Install jdk21 instead of 11 from dockerhost.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockerhost.yml
Labels: ansible

inventory: add dockerhost-skytap-ubuntu2204-x64-1
  ansible/inventory.yml
Labels: ansible

Improve security of http downloads
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.ubi8
Labels: ansible

Update setup-qemu instructions for deb11
  docs/Setup-QEMU-Images.md
Labels: doc

Security: Update QEMU Instructions & Secure UBI8 downloads in dockerfile (#3363)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.ubi8
  docs/Setup-QEMU-Images.md
Labels: doc, ansible

Update ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
Labels: ansible

UnixPB: Fix Insecure Downloads In RHEL/SLES playbooks. (#3355)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/rhel.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
Labels: ansible

inventory: add new OSUOSL jenkins-worker
  ansible/inventory.yml
Labels: ansible

inventory: add new OSUOSL jenkins-worker (#3367)
  ansible/inventory.yml
Labels: ansible

inventory: remove deleted mac minis from inventory
  ansible/inventory.yml
Labels: ansible

inventory: remove deleted mac minis from inventory (#3369)
  ansible/inventory.yml
Labels: ansible

inventory: add dockerhost-skytap-ubuntu2204-x64-1 (#3358)
  ansible/inventory.yml
Labels: ansible

unixPB: Install jdk21 instead of 11 from dockerhost.yml (#3357)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockerhost.yml
Labels: ansible

unixPB: Add Docker support for SLES 12 (#3327)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/sles.yml
Labels: ansible

Remove Ubuntu 21.04
  .github/workflows/check_dockerstatic.yml
Labels: ghActions

Remove Ubuntu 21.04 (#3387)
  .github/workflows/check_dockerstatic.yml
Labels: ghActions

automate deployment of dockernode
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockernode.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible

install hostname on sles 15
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles15
Labels: ansible

check if dockerfiles exist
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockernode.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible
