Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

UnixPB: adoptium#2507 - Add Common Vars For Fedora 35
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Fedora.yml
Labels: ansible

UnixPB: #2507 - Add Vagrant File For Fedora 35
  ansible/vagrant/Vagrantfile.Fedora35
Labels: Vagrant

Update main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Swap_File/tasks/main.yml
Labels: ansible

add state. owner and group
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

use find module instead of ls -ld to find the isntall directory
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

change to generic jdk-* directory
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

symlink adoptopenjdk to temurin on macos
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

condition to check if install temurin install directory exists before symlinking
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

2526 - Fix Linter issues, and add missing tags.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Swap_File/tasks/main.yml
Labels: ansible

UnixPb: Symlink adoptopenjdk install directory to temurin install directory on macos (#2498)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

Fixes #2526 UnixPB : swapfile creation on BTRFS (#2530)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Swap_File/tasks/main.yml
Labels: ansible

UnixPB : add gcc7 installation for Fedora
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
Labels: ansible

UnixPB: Add missing library dependency for Fedora
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Fedora.yml
Labels: ansible

UnixPB: #2507 Install gcc10 on Fedora
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_10/tasks/main.yml
Labels: ansible

Fixes #2507 - UnixPB : Fedora Compatible Playbooks (#2531)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/build_packages_and_tools.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_10/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
  ansible/vagrant/Vagrantfile.Fedora35
Labels: Vagrant, ansible

fix: env variable name
  ansible/docker/Dockerfile.Alpine3
Labels: docker

fix: update Jenkinsfile to enable build for alpine aarch64
  Jenkinsfile
Labels: none

Revert "fix: env variable name"
  ansible/docker/Dockerfile.Alpine3
Labels: docker

feat: add missing jdk7 for alpine and update binary to newer version on jdk8,11,14,15
  README.md
  ansible/docker/Dockerfile.Alpine3
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: doc, docker, ansible

fix: wrong path
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: ansible

fix: do upgrade for alpine base image + add jenkins user + skip install test_tool packages
  ansible/docker/Dockerfile.Alpine3
Labels: docker

feat: add jdk17/18/19 for alpine aarch64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: ansible

fix: update dockerfile by adding jdk16/17/18 and set default to jdk18
  ansible/docker/Dockerfile.Alpine3
Labels: docker

fix: user as variable not use jenkins for build
  ansible/docker/Dockerfile.Alpine3
Labels: docker

feat: use architecture to define which jdk to install for target
  ansible/docker/Dockerfile.Alpine3
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: docker, ansible

docs: update FAQ
  FAQ.md
Labels: doc

fix: yamlint
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: ansible

update: rmeove jenkins user this should be be included in the image release to customer
  ansible/docker/Dockerfile.Alpine3
Labels: docker

update: put test_tools back to make consistency with other dockerfile
  ansible/docker/Dockerfile.Alpine3
Labels: docker

ansible: Adding six new windows machines
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

ansible: Adding six new windows machines (#2540)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

docker: add gcc 11.2 to adoptopenjdk centos7 image
  ansible/docker/Dockerfile.CentOS7
Labels: docker

ansible: fix certain lint
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Ant-Contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Clean_Up/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: ansible

Add Dockerstatic for UBI8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.ubi8
Labels: ansible

Add O/S updates for UBI8 dockerstatic image.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/scripts/updatepackages.sh
Labels: ansible

Include UBI8 static dockerfile for issue 2532
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: ansible

github: updates workflow
  .github/workflows/build.yml
Labels: ghActions

unixPB: add jck-skytap-aix71-ppc64-3 to jckservices iptables
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

unixPB: add jck-skytap-aix71-ppc64-3 to jckservices iptables (#2548)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

Update ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg
