Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg

correct copy address
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
Labels: ansible

correct src address
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
Labels: ansible

correct variable used
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
Labels: ansible

typo
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible

linter
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
Labels: ansible

linter
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockernode.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
Labels: ansible

upper case name
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockernode.yml
Labels: ansible

install hostname on sles 15 (#3389)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles15
Labels: ansible

test dockerfile verification
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible

debug
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible

debug typo
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible

change path and correct variable
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible

delegate stat to localhost
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible

change path
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible

change path
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible

debug: find current location
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible

change path
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible

remove debug pwd, change path
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible

remove debug
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible

reinclude include task
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible

change path of destination
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
Labels: ansible

Add vendor_files role to retrieve jenkins public key
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockernode.yml
Labels: ansible

update regex and change command to shell
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
Labels: ansible

remove more macstadium VMs
  ansible/inventory.yml
Labels: ansible

update dockerfiles, ubuntu2310, alpine 319, fedora39, deb12
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp319
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.deb12
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f39
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2310
Labels: ansible

add dockerhost-osuosl-ubuntu2204-aarch64-1 to inventory.yml
  ansible/inventory.yml
Labels: ansible

remove more macstadium VMs (#3394)
  ansible/inventory.yml
Labels: ansible

add dockerhost-osuosl-ubuntu2204-aarch64-1 to inventory.yml (#3395)
  ansible/inventory.yml
Labels: ansible

add comments to new tasks
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockernode.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible

docker: New dockernode.yml playbook to automate deployment of docker static containers (#3390)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockernode.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp319
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.deb12
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f39
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2310
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible

update dockerstatic workflow
  .github/workflows/check_dockerstatic.yml
Labels: ghActions

docker: allow ubuntu 22 dockerfile to work on aarch64
  ansible/docker/Dockerfile.Ubuntu2204
Labels: docker

remove out of support fedora and alpine
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp312
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp313
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp314
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f33
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f34
Labels: ansible

update dockerstatic workflow
  .github/workflows/check_dockerstatic.yml
Labels: ghActions

typo
  .github/workflows/check_dockerstatic.yml
Labels: ghActions

github: fix yaml linter
  .github/workflows/build.yml
  .github/workflows/build_mac.yml
  .github/workflows/build_qemu.yml
  .github/workflows/build_vagrant.yml
  .github/workflows/build_wsl.yml
  .github/workflows/check_dockerstatic.yml
  .github/workflows/code-freeze.yml
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
Labels: ghActions

add centos7 dockerfile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile cent7
Labels: ansible

typo
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.cent7
Labels: ansible

fix linter conditions
  .github/workflows/linter.yml
Labels: ghActions

Fudge
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible
