Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg

docker: Add dockerbuild file for Ubuntu 22.04 (#2768)
  ansible/docker/Dockerfile.Ubuntu2204
Labels: docker

unixPB: Remove gcc-7 install from Ubuntu 16 (#2769)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: ansible

Dockerstatic: Upgrade default JDK on dockerstatic containers to 17 (#2770)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp311
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp312
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp313
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp314
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.cent8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.deb11
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f33
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f34
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f35
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1604
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1804
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2004
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2104
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2204
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.ubi8
Labels: ansible

ansible: Remove jinja name template errors (#2775)
  .ansible-lint
Labels: none

pass.sha.docker
  Jenkinsfile
  ansible/docker/Dockerfile.CentOS7
  ansible/docker/Dockerfile.Ubuntu1604
  ansible/docker/Dockerfile.Ubuntu2204
Labels: docker

typo
  Jenkinsfile
Labels: none

remove sha from u22 since its not being built
  ansible/docker/Dockerfile.Ubuntu2204
Labels: docker

remove push and manifest for testing, will add back later
  Jenkinsfile
Labels: none

remove push and manifest for testing, will add back later
  Jenkinsfile
Labels: none

debug: echo git_commit variable
  Jenkinsfile
Labels: none

debug: trim git_sha variable
  Jenkinsfile
Labels: none

debug: move git_sha parameter
  Jenkinsfile
Labels: none

Dockerstatic: Add sles12 and sles15 dockerfiles (#2696)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles12
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles15
Labels: ansible

return docker push and manifest parts
  Jenkinsfile
Labels: none

remove -e parameter form u22 dockerfile since it doesnt get built yet
  ansible/docker/Dockerfile.Ubuntu2204
Labels: docker

Docker: Pass the git sha to the centos7 and ubuntu 16 dockerfiles (#2780)
  Jenkinsfile
  ansible/docker/Dockerfile.CentOS7
  ansible/docker/Dockerfile.Ubuntu1604
Labels: docker

Fix case sensitive switch on windows
  ansible/pbTestScripts/testJDKWin.sh
Labels: Vagrant, pbTests

unixPB: Adjust boot JDKs to current required ones. Remove JDK11
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible

Test - Set Home Dir Explicitly
  ansible/pbTestScripts/testJDKWin.sh
Labels: Vagrant, pbTests

TEST - Override Home Path
  ansible/pbTestScripts/testJDKWin.sh
Labels: Vagrant, pbTests

Remove Test Home Override
  ansible/pbTestScripts/testJDKWin.sh
Labels: Vagrant, pbTests

Change paths to not use HOME env variable
  ansible/pbTestScripts/testJDKWin.sh
Labels: Vagrant, pbTests

Fix pathing and naming issues in windows test run.
  ansible/pbTestScripts/testJDKWin.sh
Labels: Vagrant, pbTests

Fix Test JDK Home Path
  ansible/pbTestScripts/testJDKWin.sh
Labels: Vagrant, pbTests

ansible: Set up new Ubuntu 20.04 s390x machine
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

Update Paths For Java
  ansible/pbTestScripts/testJDKWin.sh
Labels: Vagrant, pbTests

Windowsify TEST_JDK_HOME path environment variable
  ansible/pbTestScripts/testJDKWin.sh
Labels: Vagrant, pbTests

add disk space check for /home/jenkins in AIX hosts
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

How to update a host group name
  README.md
Labels: doc

Update to right README.md directory
  README.md
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

Reduced duplication and made the machine specific configuration changes generic
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

Add Additional Disk Space Check For /tmp on AIX hosts
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

Enable code freeze bot
  .github/workflows/code-freeze.yml
Labels: ghActions

Update code-freeze.yml
  .github/workflows/code-freeze.yml
Labels: ghActions

checklabelforwindows
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

changesrequested
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

changesrequested
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

changes
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

github: enable code freeze bot (#2797)
  .github/workflows/code-freeze.yml
Labels: ghActions

github: forward repo secrets to code freeze workflow
  .github/workflows/code-freeze.yml
Labels: ghActions
