Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg

Syntax fix.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible

When Clause fix.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible

UnixPB: Correct issues with Git on SLES12 SP5. (#2744)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
Labels: ansible

add pre tasks
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible

add logs role
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: ansible

return hosts variable
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible

satisfy linter
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: ansible

change isdir to exists
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: ansible

UnixPb: Add (basic) logs role (#2746)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: ansible

UnixPB: Update CRIU role for Ubuntu
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/criu/tasks/main.yml
Labels: ansible

add latest commit sha to logs
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: ansible

remove debug
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: ansible

remove duplicate code and change log path
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adopt_etc/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: ansible

add debug to see where ansible's working directory is
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: ansible

add ignore_errors
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: ansible

remove debug
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: ansible

copy one directory up in build workflow
  ansible/docker/Dockerfile.Alpine3
  ansible/docker/Dockerfile.CentOS6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: docker, ansible

typo
  ansible/docker/Dockerfile.Alpine3
  ansible/docker/Dockerfile.CentOS6
Labels: docker

debugging
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: ansible

pass git sha into dockerfile
  ansible/docker/Dockerfile.Alpine3
  ansible/docker/Dockerfile.CentOS6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: docker, ansible

pass git sha from build.yml into dockerfile
  .github/workflows/build.yml
Labels: ghActions

remove debug code
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: ansible

use env instead of args
  .github/workflows/build.yml
  ansible/docker/Dockerfile.Alpine3
  ansible/docker/Dockerfile.CentOS6
Labels: ghActions, docker

forgot to add env to centos6 build
  .github/workflows/build.yml
Labels: ghActions

remove brackets to see if this works
  .github/workflows/build.yml
Labels: ghActions

use different syntax for variable
  .github/workflows/build.yml
Labels: ghActions

remove - from env
  .github/workflows/build.yml
Labels: ghActions

add build-args to build.yml
  .github/workflows/build.yml
  ansible/docker/Dockerfile.Alpine3
  ansible/docker/Dockerfile.CentOS6
Labels: ghActions, docker

add start logs
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: ansible

change hosts back to original value
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible

UnixPB: Add latest commit SHA to ansible.log file (#2751)
  .github/workflows/build.yml
  ansible/docker/Dockerfile.Alpine3
  ansible/docker/Dockerfile.CentOS6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adopt_etc/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: ghActions, docker, ansible

add centos6 build job to jenkins
  Jenkinsfile
Labels: none

ansible: Update iptables
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

Install default gcc and not attempt to do individual versions (#2736)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: ansible

do not copy top level directory
  ansible/docker/Dockerfile.Alpine3
  ansible/docker/Dockerfile.CentOS6
Labels: docker

Update ansible/playbooks/nagios/README.md
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

Update ansible/playbooks/nagios/README.md
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

Update ansible/playbooks/nagios/README.md
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

Remove ubuntu check.
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagios_core.yml
Labels: ansible

Update ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagiosgraph.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagiosgraph.yml
Labels: ansible
