Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

Rework secrets files and instructions.
  ansible/playbooks/nagios/play_setup_server.yml
  ansible/playbooks/nagios/secrets_setup_server.enc
  ansible/playbooks/nagios/secrets_setup_server.prod
Labels: ansible

UnixPB: Add new Ubuntu ntp plugin for nagios (#2916)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/check_ubuntu_ntp_timesync
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_Ubuntu.yml
Labels: ansible

ansible logs on aix
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bash_login/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/disable_sendmail/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/enable_swap/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/fullcore/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/logs/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ntp_time_server/tasks/main.yml
Labels: ansible

some linter fixes
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bash_login/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/disable_sendmail/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/enable_swap/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/fullcore/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ntp_time_server/tasks/main.yml
Labels: ansible

Add new nagios plugin
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/check_container_spaces
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
Labels: ansible

Fix duplicate name line
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
Labels: ansible

NagiosPB : Fix nagios server linter (#2928)
  ansible/playbooks/nagios/README.md
  ansible/playbooks/nagios/play_setup_server.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Hostgroups.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Servicegroups.yml
  ansible/playbooks/nagios/secrets_setup_server.enc
  ansible/playbooks/nagios/secrets_setup_server.prod
Labels: doc, ansible

Fix script name.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
Labels: ansible

Fix script name
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
Labels: ansible

NagiosPB: Populate Nagios Server Config Files From j2.templates For Windows Machines
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Server_Configurations.py
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/config.py
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/templates/build-aix-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/templates/build-centos-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/templates/build-macos-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/templates/build-rhel-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/templates/build-sles-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/templates/build-ubuntu-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/templates/build-windows-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/templates/test-aix-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/templates/test-centos-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/templates/test-macos-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/templates/test-rhel-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/templates/test-sles-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/templates/test-ubuntu-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/templates/test-windows-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
Labels: ansible

Update Create_Nagios_Server_Configurations.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
Labels: ansible

Update Create_Nagios_Server_Configurations.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
Labels: ansible

Update script name, replace slurp
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/check_container_spaces.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
Labels: ansible

Create service groups config file
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_core.yml
Labels: ansible

Linter Fix
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
Labels: ansible

Linter fix
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/main.yml
Labels: ansible

Linter fix
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockerhost.yml
Labels: ansible

Linter fix
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/git-hg-jenkins.yml
Labels: ansible

Linter fixes
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/linux_installer_setup.yml
Labels: ansible

Linter fixes
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible

Linter service FQN fixes
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/syslogs/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/handlers/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Kerberos/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NTP_TIME/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Security/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Tomcat/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/vsftpd/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/trss.yml
  ansible/playbooks/aix.yml.old
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_commands.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_core.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_server_monitoring.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagios_core.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagiosgraph.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_pnp4nagios.yml
Labels: ansible

Fix typo
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NTP_TIME/tasks/main.yml
Labels: ansible

Workflow: Migrate QEMU playbook check to github workflow (#2861)
  .github/workflows/build_qemu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ghActions, ansible

Linter related fixes
  .ansible-lint
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/X11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ant/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ant_contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/openjdk.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/rbac/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/rbac/tasks/setsecattr.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/security/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/users/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/users/tasks/nagios.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/users/tasks/zeus.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/xlc_v13/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/xlc_v16/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockerhost.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/git-hg-jenkins.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/linux_installer_setup.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/trss.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/ubuntu-jckservices.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Get_Ansible_Inventory.yml
Labels: ansible

UnixPB: Add new nagios plugin for monitoring docker container workspaces (#2930)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/check_container_spaces.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
Labels: ansible

Docs: update pr testing information
  CONTRIBUTING.md
Labels: doc

Fix windows action
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

fix typo
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

Fix windows workflow for named play
  .github/workflows/build_wsl.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ghActions, ansible

fix wsl sed
  .github/workflows/build_wsl.yml
Labels: ghActions

fix hosts sed
  .github/workflows/build_vagrant.yml
Labels: ghActions

Docs: update pr testing information (#2941)
  CONTRIBUTING.md
Labels: doc

Ansible: Ansible Linter related fixes (#2940)
  .ansible-lint
  .github/workflows/build_vagrant.yml
  .github/workflows/build_wsl.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/X11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ant/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ant_contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/openjdk.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/rbac/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/rbac/tasks/setsecattr.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/security/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/users/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/users/tasks/nagios.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/users/tasks/zeus.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/xlc_v13/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/xlc_v16/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockerhost.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/git-hg-jenkins.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/linux_installer_setup.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/trss.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/ubuntu-jckservices.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Get_Ansible_Inventory.yml
Labels: ghActions, ansible

Change references of ci.adoptopenjdk.net to ci.adoptium.net
  .github/ISSUE_TEMPLATE/testcasefail.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build_vagrant.yml
  CONTRIBUTING.md
  FAQ.md
  ONBOARDING.md
  ansible/README.md
  ansible/inventory.yml
  ansible/pbTestScripts/README.md
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/README.md
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/check_label
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/nagios_server_plugins/check_agent
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/nagios_server_plugins/check_inventory
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/nagios_server_plugins/check_nagios_sync
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Python2.7/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/freemarker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_10/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_9/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/riscv_cross_compiler/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/README.md
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Clang_32bit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Clang_64bit/tasks/main.yml
  docs/Setup-QEMU-Images.md
  docs/adoptopenjdk.graphml
Labels: ghActions, doc, Vagrant, pbTests, ansible

Update FAQ.md
  FAQ.md
Labels: doc

add packages for uptime, diff and hostname
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.ubi8
Labels: ansible

Update Jenkins URL
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/nagios_server_plugins/check_agent
Labels: ansible

Create Server Config files
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/files/Nagios_Server_Config.py
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/build-aix-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/build-centos-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/build-macos-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/build-rhel-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/build-sles-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/build-ubuntu-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/build-windows-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/test-aix-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/test-centos-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/test-macos-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/test-rhel-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/test-sles-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/test-ubuntu-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/test-windows-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Hostgroups.py
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Server_Configurations.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Hostgroups.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
Labels: ansible

unixPB: try installing openssh on vagrant to fix failure
  .github/workflows/build_vagrant.yml
  ansible/vagrant/Vagrantfile.Solaris10
Labels: ghActions, Vagrant

add packages for uptime, diff and hostname (#2943)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.ubi8
Labels: ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg
