Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

Fix Nagios Config Files For Automation.
  ansible/playbooks/nagios/roles/Nagios_Server/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Server/files/commands.cfg
  ansible/playbooks/nagios/roles/Nagios_Server/files/contacts.cfg
  ansible/playbooks/nagios/roles/Nagios_Server/files/templates.cfg
  ansible/playbooks/nagios/roles/Nagios_Server/files/timeperiods.cfg
  ansible/playbooks/nagios/roles/Nagios_Server/files/windows.cfg
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_commands.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_contacts.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_server_monitoring.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_templates.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_timeperiods.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_windows.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/main.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/restart_nagios_server.yml
  ansible/playbooks/nagios/vars_setup_server.yml
Labels: ansible

Create service groups config file (#2937)
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_core.yml
Labels: ansible

Fix sed/hosts line for new linter rules.
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, pbTests

Remove debug output from task.
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_server_monitoring.yml
Labels: ansible

Fix service groups appending.
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Servicegroups_config_file.py
Labels: ansible

Add restart task to server config
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/restart_nagios_server.yml
  ansible/playbooks/nagios/vars_configure_server.yml
Labels: ansible

Add demo secrets file, usable for testing.
  ansible/playbooks/nagios/secrets_setup_server.demo
Labels: ansible

Add dockerhost templates and logic.
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/files/Nagios_Server_Config.py
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/dockerhost-ubuntu-template.j2
Labels: ansible

Add service groups to host templates
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/build-aix-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/build-centos-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/build-macos-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/build-rhel-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/build-sles-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/build-ubuntu-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/build-windows-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/test-aix-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/test-centos-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/test-macos-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/test-rhel-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/test-sles-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/test-ubuntu-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/test-windows-template.j2
Labels: ansible

unixPB: Block port 80 on jckservices by default
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

AIXPb: Enable ansible logs on aix machines (#2918)
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bash_login/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/disable_sendmail/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/enable_swap/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/fullcore/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/logs/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ntp_time_server/tasks/main.yml
Labels: ansible

Fix appending to servicegroups
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Servicegroups_config_file.py
Labels: ansible

Fix typo for path
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Servicegroups_config_file.py
Labels: ansible

Typos and perms fixes
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Servicegroups_config_file.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_core.yml
Labels: ansible

Fix plays
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_core.yml
Labels: ansible

Fixes for nagios service groups cfg
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/test-ubuntu-template.j2
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Servicegroups_config_file.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Servicegroups.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_core.yml
  ansible/playbooks/nagios/vars_configure_server.yml
Labels: ansible

doc: change references of ci.adoptopenjdk.net to ci.adoptium.net (#2942)
  .github/ISSUE_TEMPLATE/testcasefail.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build_vagrant.yml
  CONTRIBUTING.md
  FAQ.md
  ONBOARDING.md
  ansible/README.md
  ansible/inventory.yml
  ansible/pbTestScripts/README.md
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/README.md
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/check_label
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/nagios_server_plugins/check_agent
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/nagios_server_plugins/check_inventory
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/nagios_server_plugins/check_nagios_sync
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Python2.7/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/freemarker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_10/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_9/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/riscv_cross_compiler/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/README.md
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Clang_32bit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Clang_64bit/tasks/main.yml
  docs/Setup-QEMU-Images.md
  docs/adoptopenjdk.graphml
Labels: ghActions, doc, Vagrant, pbTests, ansible

add symlinks for libffi on sles
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible

docker: Add build dockerfile for RHEL7
  ansible/docker/Dockerfile.RHEL7
Labels: docker

unixPB: add file to RedHat.yml for consistency with CentOS
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: ansible

UnixPB: Install Liberica 11 on Solaris for jenkins agent
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/files/fallocate.c
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/files/i386/fallocate.so
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/files/sun4v/fallocate.so
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Solaris.yml
Labels: ansible

pbTests: Add Ubuntu 22.04 Vagrantfile
  ansible/pbTestScripts/vmDestroy.sh
  ansible/vagrant/Vagrantfile.Ubuntu2204
Labels: Vagrant, pbTests

UnixPB: Install Liberica 11 on Solaris for jenkins agent (#2947)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/files/fallocate.c
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/files/i386/fallocate.so
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/files/sun4v/fallocate.so
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Solaris.yml
Labels: ansible

Linter fixes.
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/restart_nagios_server.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/restart_nagios_server.yml
Labels: ansible

Fix linter
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/restart_nagios_server.yml
Labels: ansible

fix linter
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/restart_nagios_server.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/restart_nagios_server.yml
Labels: ansible

Fix relative pathing lint
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Hostgroups.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Servicegroups.yml
Labels: ansible

Linter fixes
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Hostgroups.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Servicegroups.yml
Labels: ansible

Relative path lint fix
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_commands.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_contacts.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_templates.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_timeperiods.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_windows.yml
Labels: ansible

add symlinks for libffi on sles (#2963)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible

doc: Update FAQ.md to list correct set of GH teams
  FAQ.md
Labels: doc

temporarily remove centos6 from build
  Jenkinsfile
Labels: none

temporarily remove centos6 from build (#2978)
  Jenkinsfile
Labels: none

documentation
  ansible/playbooks/nagios/roles/Nagios_Config/README.md
Labels: doc, ansible

add
  ansible/playbooks/nagios/roles/Nagios_Config/README.md
Labels: doc, ansible

docker: add RHEL7 dockerfile for s390x builds
  ansible/docker/Dockerfile.RHEL7
Labels: docker

Remove security file
  SECURITY.md
Labels: doc

Remove security file (#2983)
  SECURITY.md
Labels: doc

Add file to RedHat installs for consistency with CentOS
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: ansible

docker: add RHEL7 dockerfile for s390x builds (#2982)
  ansible/docker/Dockerfile.RHEL7
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: docker, ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg
