Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

switch to blob storage
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode11/tasks/main.yml
Labels: ansible

unixpb: Add Xcode11 installation tasks to Unix playbook (#3197)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode11/tasks/main.yml
Labels: ansible

Update checksum for vs2022 download (#3256)
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

Add windows 2022 to VPC
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
  ansible/pbTestScripts/vmDestroy.sh
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
  ansible/vagrant/Vagrantfile.Win2022
Labels: Vagrant, pbTests, ansible

Test no warning
  ansible/ansible.cfg
Labels: ansible

Revert warnings test
  ansible/ansible.cfg
Labels: ansible

Test
  ansible/ansible.cfg
Labels: ansible

Update task name
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
Labels: ansible

Fix Linter For Block
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode11/tasks/main.yml
Labels: ansible

Linter fix.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode11/tasks/main.yml
Labels: ansible

Linter fix
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode11/tasks/main.yml
Labels: ansible

further tweaks
  .github/workflows/build_packer.yml
  ansible/packer/README.md
  ansible/packer/orka-base.pkr.hcl
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode12/tasks/main.yml
Labels: ghActions, doc, ansible

add packer files for building Orka images
  .github/workflows/build_packer.yml
  ansible/packer/orka-base.pkr.hcl
  ansible/packer/orka.pkr.hcl
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Ant-Contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ant/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/maven/tasks/main.yml
Labels: ghActions, ansible

switch to xcode 15
  ansible/packer/orka-base.pkr.hcl
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode12/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode15/tasks/main.yml
Labels: ansible

add intel
  ansible/packer/orka-base.pkr.hcl
  ansible/packer/orka.pkr.hcl
Labels: none

UnixPB: Fix Linter For Xcode 11 task (#3259)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode11/tasks/main.yml
Labels: ansible

switch to xcode 15
  ansible/packer/orka-base.pkr.hcl
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode12/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode15/tasks/main.yml
Labels: ansible

Vagrant: Add Windows Server 2022 option to VPC (#3257)
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
  ansible/pbTestScripts/vmDestroy.sh
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
  ansible/vagrant/Vagrantfile.Win2022
Labels: Vagrant, pbTests, ansible

Update README.md
  ansible/packer/README.md
Labels: doc

Add Wazuh repository and initial code.
  wazuh/README.md
  wazuh/agent/windows/anti_flooding_config.MD
  wazuh/server/ssh-key-logging/Extending_The_SSH_Logger.MD
Labels: doc

Documentation updates
  wazuh/README.md
  wazuh/agent/windows/agent.snippet.conf
  wazuh/server/ssh-key-logging/0310-ssh_decoders.snippet.xml
Labels: doc

Update checksum for vs 2022 community download
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

Formatting updates
  wazuh/server/ssh-key-logging/Extending_The_SSH_Logger.MD
Labels: none

Update documentation
  CONTRIBUTING.md
Labels: doc

Update checksum for vs 2022 community download (#3261)
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

Enable push to docker on merge
  .github/workflows/build.yml
Labels: ghActions

Update wazuh/server/ssh-key-logging/Extending_The_SSH_Logger.MD
  wazuh/server/ssh-key-logging/Extending_The_SSH_Logger.MD
Labels: none

Update wazuh/server/ssh-key-logging/Extending_The_SSH_Logger.MD
  wazuh/server/ssh-key-logging/Extending_The_SSH_Logger.MD
Labels: none

Update wazuh/server/ssh-key-logging/Extending_The_SSH_Logger.MD
  wazuh/server/ssh-key-logging/Extending_The_SSH_Logger.MD
Labels: none

Update wazuh/server/ssh-key-logging/Extending_The_SSH_Logger.MD
  wazuh/server/ssh-key-logging/Extending_The_SSH_Logger.MD
Labels: none

Update wazuh/server/ssh-key-logging/Extending_The_SSH_Logger.MD
  wazuh/server/ssh-key-logging/Extending_The_SSH_Logger.MD
Labels: none

Update wazuh/server/ssh-key-logging/Extending_The_SSH_Logger.MD
  wazuh/server/ssh-key-logging/Extending_The_SSH_Logger.MD
Labels: none

Update wazuh/server/ssh-key-logging/Extending_The_SSH_Logger.MD
  wazuh/server/ssh-key-logging/Extending_The_SSH_Logger.MD
Labels: none

Update wazuh/agent/windows/anti_flooding_config.MD
  wazuh/agent/windows/anti_flooding_config.MD
Labels: none

Update wazuh/agent/windows/anti_flooding_config.MD
  wazuh/agent/windows/anti_flooding_config.MD
Labels: none

Update wazuh/README.md
  wazuh/README.md
Labels: doc

Improve readability
  wazuh/README.md
Labels: doc

Wazuh: Initial commit of Wazuh code sharing repository. (#3262)
  CONTRIBUTING.md
  wazuh/README.md
  wazuh/agent/windows/agent.snippet.conf
  wazuh/agent/windows/anti_flooding_config.MD
  wazuh/server/ssh-key-logging/0310-ssh_decoders.snippet.xml
  wazuh/server/ssh-key-logging/Extending_The_SSH_Logger.MD
Labels: doc

Add Ubuntu 22 Vagrantfile
  ansible/vagrant/Vagrantfile.Ubuntu2204
Labels: Vagrant

Fix NASM compilation on Ubuntu 22.04
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/nasm/tasks/main.yml
Labels: ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg
