Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg

if jdk10 then adoptopenjdk api, else adoptium
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

revert back to adoptopenjdk api
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

Update docs/AccessControl.md
  docs/AccessControl.md
Labels: doc

unixPb: GPG signature verification added to jdk downloads (#2999)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/group_vars/all/adoptopenjdk_variables.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

Update docs/AccessControl.md
  docs/AccessControl.md
Labels: doc

Update docs/AccessControl.md
  docs/AccessControl.md
Labels: doc

Update docs/AccessControl.md
  docs/AccessControl.md
Labels: doc

Update docs/AccessControl.md
  docs/AccessControl.md
Labels: doc

decomission win 2016 build server
  ansible/inventory.yml
Labels: ansible

unixPB: Add perl-IPC-Cmd to Redhat/CentOS installs for OpenSSL v3 compile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: ansible

decomission win 2016 build server (#3013)
  ansible/inventory.yml
Labels: ansible

unixPB: Add perl-IPC-Cmd to Redhat/CentOS installs for OpenSSL v3 (#3014)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: ansible

gpg signature verification for ANT binary
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/group_vars/all/adoptopenjdk_variables.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/ANT/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/GPG_signature_verification/tasks/main.yml
Labels: ansible

fix conditional
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/ANT/tasks/main.yml
Labels: ansible

doc: Add information on adoptium server backups (#3005)
  CONTRIBUTING.md
  README.md
  docs/Backups.md
  tools/run_backups
Labels: doc

download and install gpg, and verification for ant binary
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/group_vars/all/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/GnuPG2/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ant/tasks/main.yml
Labels: ansible

doc: Add document describing access controls at the project (#3002)
  docs/AccessControl.md
Labels: doc

linter
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ant/tasks/main.yml
Labels: ansible

doc: Update FAQ.md to list correct set of GH teams (#2977)
  FAQ.md
Labels: doc

install gnupg in yum role
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/GnuPG2/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
Labels: ansible

fix linter and ant version type
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ant/tasks/main.yml
Labels: ansible

Remove decommissioned marist test host.
  ansible/inventory.yml
Labels: ansible

Remove decommissioned marist test host. (#3022)
  ansible/inventory.yml
Labels: ansible

Update ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Server_Configurations.py
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Server_Configurations.py
Labels: ansible

Update nagios playbook documentation
  ansible/playbooks/nagios/README.md
  ansible/playbooks/nagios/documentation/HOW_TO_ADD_WINDOWS_TO_NAGIOS.md
  ansible/playbooks/nagios/documentation/USAGE_GUIDE.md
  ansible/playbooks/nagios/roles/Nagios_Config/README.md
Labels: doc, ansible

winPB: automate jenkins service installation
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Jenkins_Service_Installation/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Jenkins_Service_Installation/templates/JenkinsAgentService.xml.j2
Labels: ansible

Update main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Jenkins_Service_Installation/tasks/main.yml
Labels: ansible

Update JenkinsAgentService.xml.j2
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Jenkins_Service_Installation/templates/JenkinsAgentService.xml.j2
Labels: ansible

Update main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Jenkins_Service_Installation/tasks/main.yml
Labels: ansible

add workspace to be overridden
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Jenkins_Service_Installation/tasks/main.yml
Labels: ansible

add support for pulling jenkins secret from secrets repo
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Get_Vendor_Files/tasks/main.yml
Labels: ansible

Update JenkinsAgentService.xml.j2
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Jenkins_Service_Installation/templates/JenkinsAgentService.xml.j2
Labels: ansible

add docs
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/README.md
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Get_Vendor_Files/tasks/main.yml
Labels: doc, ansible

Update README.md
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/README.md
Labels: doc, ansible

winPB: automate jenkins service installation (#2994)
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/README.md
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Get_Vendor_Files/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Jenkins_Service_Installation/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Jenkins_Service_Installation/templates/JenkinsAgentService.xml.j2
Labels: doc, ansible

Create nagios users home directory
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagios_core.yml
Labels: ansible

Seperate out manual check guide.
  ansible/playbooks/nagios/documentation/Manually_Adding_Nagios_Service_Checks.MD
Labels: ansible

add comment to link task
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
Labels: ansible

Documentation updates.
  ansible/playbooks/nagios/documentation/USAGE_GUIDE.md
Labels: doc, ansible

More updates.
  ansible/playbooks/nagios/documentation/USAGE_GUIDE.md
Labels: doc, ansible
