Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

docker: allow ubuntu 22 dockerfile to work on aarch64
  ansible/docker/Dockerfile.Ubuntu2204
Labels: docker

docker: Remove out of support fedora and alpine dockerfiles (#3399)
  .github/workflows/check_dockerstatic.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp312
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp313
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp314
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f33
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f34
Labels: ghActions, ansible

docker: allow ubuntu 22 dockerfile to work on aarch64 (#3398)
  ansible/docker/Dockerfile.Ubuntu2204
Labels: docker

Decommission skytap AIX 7.1 machines
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

jdk17 for java agent, and default x64 jdk
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles12
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles15
Labels: ansible

jdk17 for java agent, and default x64 jdk (#3404)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles12
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles15
Labels: ansible

docs: update docs with how to use dockernode.yml playbook
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/README.md
Labels: doc, ansible

unixPB: macos ansible setup improvement
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/macos-setup.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Ant-Contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Jenkins_User/files/authorized_key.pub
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Jenkins_User/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Semeru_install/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Semeru_install/tasks/semeru-install.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode_offline/files/offline_xcode_files_here
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode_offline/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode_offline/tasks/xcode_offline.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ant/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/brew/tasks/main.yml
Labels: ansible

docs: update docs with how to use dockernode.yml playbook (#3407)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/README.md
Labels: doc, ansible

github: build on macos13 in the workflow
  .github/workflows/build_mac.yml
Labels: ghActions

remove jdk10 install from common
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
Labels: ansible

update dockerstatic workflow (#3397)
  .github/workflows/check_dockerstatic.yml
Labels: ghActions

unixPB: adds roles xcode_offline and brew to Unix_Playbook
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode_offline/files/.place_holder
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode_offline/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode_offline/tasks/xcode_offline.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/brew/tasks/brew.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/brew/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/brew/templates/sudoers
Labels: ansible

github: Build on MacOS13 image in github workflow (#3413)
  .github/workflows/build_mac.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
Labels: ghActions, ansible

Fix case of CentOS service check
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NTP_TIME/tasks/main.yml
Labels: ansible

awx: add requirements.yml for galaxy roles
  collections/requirements.yml
Labels: none

unixPB: isolate homebrew operations from curl role
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
  collections/requirements.yml
Labels: ansible

inventory: add Azure x64 awx.adoptium.net
  ansible/inventory.yml
Labels: ansible

docker: python file to retrieve docker static containers from jenkins
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/scripts/udpateDockerStaticInventory.py
Labels: ansible

awx: add requirements.yml for galaxy roles (#3421)
  collections/requirements.yml
Labels: none

unixPB: Clean_Up role: remove warn: no
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Clean_Up/tasks/main.yml
Labels: ansible

Fix case of CentOS service check (#3419)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NTP_TIME/tasks/main.yml
Labels: ansible

Initial version of semgrep diff
  .github/workflows/semgrep_diff.yml
Labels: ghActions

Update semgrep_diff.yml
  .github/workflows/semgrep_diff.yml
Labels: ghActions

reformat params
  .github/workflows/semgrep_diff.yml
Labels: ghActions

Pin checkout action to sha
  .github/workflows/semgrep_diff.yml
Labels: ghActions

Dummy - To Test Semgrep
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
Labels: ansible

Testing SEMGREP
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
Labels: ansible

inventory: add azure dockerhost
  ansible/inventory.yml
Labels: ansible

Switch AMD for Intel machine as VT works
  ansible/inventory.yml
Labels: ansible

inventory: add scaleway risc-v hosts to inventory
  ansible/inventory.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible

inventory: add azure dockerhost (#3426)
  ansible/inventory.yml
Labels: ansible

fix permissions
  .github/workflows/labeler.yml
Labels: ghActions

Update labeler.yml
  .github/workflows/labeler.yml
Labels: ghActions

Update code-freeze.yml
  .github/workflows/code-freeze.yml
Labels: ghActions

Ignore Nagios Example j2 templates
  .semgrepignore
Labels: none

Fix labeler gha
  .github/workflows/labeler.yml
Labels: ghActions

Bump actions versions
  .github/workflows/labeler.yml
Labels: ghActions

Download cross-build jdk11u from CI
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

github: Fix labeler GitHub Action (#3432)
  .github/workflows/labeler.yml
Labels: ghActions

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg
