Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg

unixPB: Add gcc11.2 role for jdk19+ (#2542)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_11/tasks/main.yml
Labels: ansible

UnixPB: add 'changed_when: false' to shell tasks (#2449)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/CentOS6-Cent7SSL/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/FreeBSD.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Solaris.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/openSUSE.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/GIT_Source/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Get_Vendor_Files/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/OpenSSL/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Providers/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Python2.7/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Python3_Source/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ant/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/autoconf/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ccache/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/cmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/maven/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/nasm/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/zulu7/tasks/main.yml
Labels: ansible

winPB: Add 'changed_when: false' to shell tasks (#2450)
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Get_Vendor_Files/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/WMF_5.1/tasks/main.yml
Labels: ansible

switch jdk11 back to zulu
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: ansible

ansible: skip restart docker service if not tag "docker" on playbook
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

Update CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
Labels: ansible

ansible: fix lint
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/openjdk.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Ant-Contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

fix: add " " around | and use failed_when than ingore_errors
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

fix: change to make pattern as list for better readibility
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

UnixPb: Install x64 alpine bootjdks where available (#2586)
  ansible/docker/Dockerfile.Alpine3
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: docker, ansible

update: to only ensure docker service is running no always restart it
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

unixPB: Fix install of Alpine JDK8 boot JDK
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: ansible

ansible: refact trss (#2588)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/trss.yml
Labels: ansible

ansible: skip restart docker service if not tag "docker" on playbook (#2601)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

unixPB: Fix install of Alpine JDK8 boot JDK (#2603)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: ansible

ansible: fix linter (#2602)
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/openjdk.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Ant-Contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

unixPB: Check SHAs of download GCC11 tarballs
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_10/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_11/vars/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_9/tasks/main.yml
Labels: ansible

trssPB: Install java for the TRSS jenkins agent
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/trss.yml
Labels: ansible

unixPB: Fix Alpine boot JDKs on x64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible

unixPB: Avoid attempting to install ccache on RHEL7
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: ansible

github: Adjust templates to stop misinterpretation of checkboxes
  .github/ISSUE_TEMPLATE/ansible.md
  .github/ISSUE_TEMPLATE/machineaccess.md
  .github/ISSUE_TEMPLATE/teamaccess.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: doc

unixPB: Fix Alpine boot JDKs on x64 (#2612)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible

github: Adjust templates to stop misinterpretation of checkboxes (#2614)
  .github/ISSUE_TEMPLATE/ansible.md
  .github/ISSUE_TEMPLATE/machineaccess.md
  .github/ISSUE_TEMPLATE/teamaccess.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: doc

unixPB: Check SHAs of download GCC11 tarballs (#2607)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_10/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_11/vars/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_9/tasks/main.yml
Labels: ansible

trssPB: Install java for the TRSS jenkins agent (#2608)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/trss.yml
Labels: ansible

unixPB: Avoid attempting to install ccache on RHEL7 (#2613)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: ansible

unixPB: remove two package for docker installaion
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

Exclude sbom directory from TEST_JDK_HOME
  ansible/pbTestScripts/testJDK.sh
Labels: Vagrant, pbTests

unixPB: remove two package for docker installaion (#2618)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

ansible: disable installing freemarker on unix, win and mac
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

fix :syntax
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible

Exclude sbom directory from TEST_JDK_HOME (#2620)
  ansible/pbTestScripts/testJDK.sh
Labels: Vagrant, pbTests

unixPB: Add Centos8 Stream Support (#2577)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
Labels: ansible

ansible: Keep Alpine building with 3.15 until OpenJDK supports
  ansible/docker/Dockerfile.Alpine3
Labels: docker

ansible: Keep Alpine building with 3.15 until OpenJDK supports (#2628)
  ansible/docker/Dockerfile.Alpine3
Labels: docker

remove deb 8 vagrant file
  ansible/vagrant/Vagrantfile.Debian8
Labels: Vagrant

Nagios Server Installation
  ansible/playbooks/nagios/README.md
  ansible/playbooks/nagios/VagrantFiles/Vagrantfile.Nagios.Server.Ubuntu2204
  ansible/playbooks/nagios/Vagrantfile
  ansible/playbooks/nagios/ansible.cfg
  ansible/playbooks/nagios/nagios_inventory.yml
  ansible/playbooks/nagios/play_setup_server.yml
  ansible/playbooks/nagios/roles/Nagios_Server/README.md
  ansible/playbooks/nagios/roles/Nagios_Server/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Server/scripts/commands.cfg
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_commands.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_core.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagios_core.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagios_plugins.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagios_scripts.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagiosgraph.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_pnp4nagios.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/main.yml
  ansible/playbooks/nagios/roles/Nagios_Server/vars/Ubuntu.yml
  ansible/playbooks/nagios/secrets_setup_server.yml
  ansible/playbooks/nagios/vars_setup_server.yml
Labels: doc, ansible

Nagios Server Installation
  ansible/playbooks/nagios/README.md
  ansible/playbooks/nagios/VagrantFiles/Vagrantfile.Nagios.Server.Ubuntu2204
  ansible/playbooks/nagios/Vagrantfile
  ansible/playbooks/nagios/ansible.cfg
  ansible/playbooks/nagios/nagios_inventory.yml
  ansible/playbooks/nagios/play_setup_server.yml
  ansible/playbooks/nagios/roles/Nagios_Server/README.md
  ansible/playbooks/nagios/roles/Nagios_Server/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Server/scripts/commands.cfg
  ansible/playbooks/nagios/roles/Nagios_Server/scripts/slack_nagios.pl
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_commands.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_core.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagios_core.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagios_plugins.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagios_scripts.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagiosgraph.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_pnp4nagios.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/main.yml
  ansible/playbooks/nagios/roles/Nagios_Server/vars/Ubuntu.yml
  ansible/playbooks/nagios/secrets_setup_server.yml
  ansible/playbooks/nagios/vars_setup_server.yml
Labels: doc, ansible

Documentation Ud
  ansible/playbooks/nagios/README.md
Labels: doc, ansible

Documentation Ud
  ansible/playbooks/nagios/README.md
Labels: doc, ansible
