Repository adoptium/infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: ghActions, doc, Vagrant, pbTests, docker, ansible

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# This file matches file/folder changes to labels. See https://github.com/actions/labeler for more information.

# e.g to add the test label to any changes in the /tests directory:

# test:
#   - tests/*

# label_name:
#   - path/to/file_or_folder
ghActions:
    - .github/workflows/**/*
doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/**/*
    - ansible/vagrant/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/**/*
docker:
    - ansible/docker/Dockerfile*
ansible:
    - ansible/playbooks/**/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg

Revert "docker: Use python3 for Ubuntu 16 build dockerfile"
  ansible/docker/Dockerfile.Ubuntu1604
Labels: docker

run update script via dockerhost playbook
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/scripts/updatepackages.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: ansible

add never tag to updatescript task
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: ansible

docker: Lock PyYAML for Ubuntu 16 build dockerfile (#3151)
  ansible/docker/Dockerfile.Ubuntu1604
Labels: docker

ansible: Update ansible for AIX - X11 forwarding.
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/security/handlers/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/security/tasks/main.yml
Labels: ansible

ansible: Update ansible for AIX - X11 forwarding.
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/security/tasks/main.yml
Labels: ansible

ansible: Update ansible for AIX - X11 forwarding.
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/security/tasks/main.yml
Labels: ansible

ansible: Local FTP server on AIX 7.2 systems
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/group_vars/all/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ftp/files/ftpaccess.ctl
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ftp/files/inetd.conf
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ftp/files/inetd.conf.orig
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ftp/handlers/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ftp/tasks/main.yml
Labels: ansible

ansible: remove force_handlers from AIX playbook
  ansible/README.md
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
Labels: doc, ansible

Install 32bit client on arm
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NSClient/tasks/main.yml
Labels: ansible

Update URL for PS Script
  .github/workflows/build_wsl.yml
Labels: ghActions

Update URL for PS Script
  ansible/vagrant/Vagrantfile.Win2012
Labels: Vagrant

Update URL for PS Script
  ansible/vagrant/Vagrantfile.Windows2022.Core
Labels: Vagrant

Update URL for PS Script
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

Update URL to raw
  .github/workflows/build_wsl.yml
Labels: ghActions

Update URL to raw
  ansible/vagrant/Vagrantfile.Win2012
Labels: Vagrant

Update url to raw
  ansible/vagrant/Vagrantfile.Windows2022.Core
Labels: Vagrant

Update url to raw
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

github: Update The URL for the ansible Powershell Script (#3156)
  .github/workflows/build_wsl.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/vagrant/Vagrantfile.Win2012
  ansible/vagrant/Vagrantfile.Windows2022.Core
Labels: ghActions, Vagrant, ansible

Update ansible for AIX - X11 forwarding. (#3153)
  ansible/README.md
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/security/handlers/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/security/tasks/main.yml
Labels: doc, ansible

ansible: rebrand build-osuosl-aix71-ppc64-1 as test-osuosl-aix73-ppc64-1 (#3143)
  ansible/inventory.yml
Labels: ansible

Install 32bit client on arm (#3154)
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NSClient/tasks/main.yml
Labels: ansible

add some common packages
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/scripts/updatepackages.sh
Labels: ansible

ansible: Local FTP server on AIX 7.2 systems.
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ftp/handlers/main.yml
Labels: ansible

unixPb: run the updatepackage.sh script via dockerhost playbook (#3152)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/scripts/updatepackages.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: ansible

unixPb: Fix libdwarf installation on CentOS 8 non-x64 (#3040)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
Labels: ansible

inventory: Add specs for macstadium systems for reference
  ansible/inventory.yml
Labels: ansible

inventory: Add specs for macstadium systems for reference (#3165)
  ansible/inventory.yml
Labels: ansible

inventory:correct OS for skytap machine
  ansible/inventory.yml
Labels: ansible

doc: update docker static patching policy
  FAQ.md
Labels: doc

add bit about awx
  FAQ.md
Labels: doc

adjust heading
  FAQ.md
Labels: doc

add link to awx job
  FAQ.md
Labels: doc

inventory:correct OS for skytap machine (#3163)
  ansible/inventory.yml
Labels: ansible

Include SSL Packages
  FAQ.md
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Solaris.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Alpine.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/openSUSE.yml
Labels: doc, ansible

Add VPC SSL tests for Linux
  ansible/pbTestScripts/testJDK.sh
Labels: Vagrant, pbTests

Fix missing bracket.
  ansible/pbTestScripts/testJDK.sh
Labels: Vagrant, pbTests

Add VS2022 installation
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

Revert debian URL change
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
Labels: ansible

Update Debian URLs
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
Labels: ansible
