Repository adoptium/infrastructure, pull requests merged in 2018-09, with the labels that each got.

#450 ansible: autoconf role is failing when not on RHEL6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/autoconf/tasks/main.yml
Labels: ansible, bug, plinux, zlinux

#443 Fix conditional for autoconf version check
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/autoconf/tasks/main.yml
Labels: bug

#453 ansible: Add SoftLayer Windows machine to jckservices iptables
  ansible/playbooks/AdoptOpenJDK_Services_Playbooks/ubuntu-jckservices.yml
Labels: ansible

#466 ansible: Don't check for gcc7_installed.rc if we haven't set it
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
Labels: ansible

#470 Add CentOS SCL repo on x86-64 (Missing from my gcc 7.3 PR)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
Labels: ansible

#472 inventory: Remove unused build-packet-freebsd11-x64-1
  ansible/inventory.yml
Labels: ansible

#478 Revert "Fix conditional for autoconf version check (#443)"
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/autoconf/tasks/main.yml
Labels: ansible

#486 ansible: Add ansible server to inventory.yml
  ansible/inventory.yml
Labels: ansible

#362 Add CUDA installation to CentOS 6 and RHEL 6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
Labels: enhancement

#497 ansible: Add libstdc++-static on CentOS (already on RedHat)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
Labels: ansible, plinux

#479 WIP: Install MinGW-W64 on Windows
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/7-Zip/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MinGW-W64/tasks/main.yml
Labels: ansible

#504 ansible: Download adoptopenjdk10 for bootstrapping 11
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk10/tasks/main.yml
Labels: ansible, enhancement

#500 ansible: source compile gmake on CentOS/RHEL on ppc64le
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
Labels: enhancement

#502 Downgrade grep to 2.27
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Firefox/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: bug

#503 Add scheduled job to delete marked jenkins workspaces
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Jenkins/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Jenkins_User/tasks/main.yml
Labels: enhancement

#382 Add John Oliver - Ali Ince
  README.md
Labels: Infra Request

#508 Change Windows Set Paths in User space not system space
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/ANT/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: ansible, bug

#509 Add vsebe
  README.md
Labels: enhancement

#511 Fix syntax errors in README.md
  README.md
Labels: bug

#501 Install git to /usr/local to avoid package manager collision
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/GIT_Source/tasks/main.yml
Labels: bug

#513 Update ccache to 3.4.2 (For compatibility with gcc 7)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ccache/tasks/main.yml
Labels: ansible

#515 Adding Support for EPEL on RHEL7
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: enhancement
