Repository adoptium/infrastructure, pull requests merged in 2018-11, with the labels that each got.

#548 Ansible: Removed the install DKMS steps, and updated the Install NVid…
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
Labels: enhancement

#555 Adoptopenjdk10 lint
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk10/tasks/main.yml
Labels: bug

#556 Changed url of apache ant binaries
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/ANT/tasks/main.yml
Labels: bug

#427 changes required to build OpenJFX on Linux
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/cmake/tasks/main.yml
Labels: enhancement

#558 Rhel crontab
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: bug

#560 Install OpenSSL in windows playbook
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/OpenSSL/tasks/main.yml
Labels: enhancement

#566 Adding to Freetype windows role
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Freetype/tasks/main.yml
Labels: enhancement

#570 Add numactl for ubuntu installs
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: enhancement

#573 Verify if ansible version is 2.4 or above
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Version/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Version/tasks/main.yml
Labels: ansible, enhancement

#574 Remove ubuntu ant package after we install our own into /usr/local
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ant/tasks/main.yml
Labels: ansible

#576 Don't create gmake-make symlink on RHEL/CentOS
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/build_packages_and_tools.yml
Labels: ansible, bug

#575 Install OpenJ9 JDK10 as boot JDK on s390x instead of HotSpot
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk10/tasks/main.yml
Labels: ansible, zlinux

#581 Dont replace usrbingmake
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
Labels: bug

#583 ansible: Install gmake 4.1 on zLinux
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
Labels: ansible

#589 Added nasm role to Windows playbook
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/nasm/tasks/main.yml
Labels: enhancement

#588 ansible: Add ruby to OpenJFX build prereqs
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: ansible, enhancement

#577 Sync RedHat/CentOS ansible definitions
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: RedHat, ansible, enhancement

#582 Overhaul Infra docs - make Stewart a Super Admin
  CHAOS_MONKEY.md
  CONTRIBUTING.md
  ONBOARDING.md
  README.md
Labels: Infra Request, enhancement

#599 ccache should be installed after all compilers are installed
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: bug

#585 Update contributing guidelines for pull request comments
  CONTRIBUTING.md
Labels: enhancement

#602 ansible: Stop symlinking new make to /usr/bin
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
Labels: bug

#603 Add Strawberry perl to PATH environment variable
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Strawberry_Perl/tasks/main.yml
Labels: ansible, windows

#600 Added s390x and ppc64le arch to docker role
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: enhancement

#608 Add SLES12/s390x box into inventory.yml
  ansible/inventory.yml
Labels: ansible

#611 ansible: Use correct operation to install junit on SLES
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Ant-Contrib/tasks/main.yml
Labels: ansible
