Repository adoptium/infrastructure, pull requests merged in 2018-12, with the labels that each got.

#616 Updated docker install in unix playbook
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: enhancement

#617 Updated Windows_Updates role
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Windows_Updates/tasks/main.yml
Labels: enhancement

#625 Updated cygwin role
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: enhancement

#628 Fixed 7-zip role
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/7-Zip/tasks/main.yml
Labels: enhancement

#632 Add Bootjdk11 to AIX playbook
  ansible/playbooks/aix.yml
Labels: aix, ansible, enhancement

#633 Updated Freetype role
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Freetype/tasks/main.yml
Labels: enhancement

#642 Fix typo in silent install parameter for Windows cmake role
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/GIT_Source/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cmake/tasks/main.yml
Labels: bug

#643 ansible: Install MSVS_2010 first as needed to compile freetype etc.
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: bug

#514 Update Ansible script to install Clang on Windows
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Clang_32bit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Clang_64bit/tasks/main.yml
Labels: enhancement
