Repository adoptium/infrastructure, pull requests merged in 2018-03, with the labels that each got.

#247 Add java8 as default java on ubuntu16 x86 machines
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
Labels: enhancement

#244 Update aix.yml to point to aix nagios
  ansible/playbooks/aix.yml
Labels: enhancement

#248 Added 2 new softlayer machines
  ansible/inventory.yml
Labels: Infra Request

#255 Nagios Plugin issue RHEL 7 x #253
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_FreeBSD.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_SLES.yml
Labels: Infra Request, ansible, bug

#262 add lbzip2 to centos and rhel
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: enhancement

#264 Added xorg-vfbserver to FreeBSD
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/FreeBSD.yml
Labels: ansible

#265 Added xorg-x11-server-Xvfb
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/OracleLinux.yml
Labels: enhancement

#270 nagios fixup centos and rhel
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_RedHat.yml
Labels: ansible

#274 Changed hosts to specify all jck ubuntu machines
  ansible/playbooks/ubuntu-jck.yml
Labels: Infra Request, ansible

#275 Added additional tools
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: Infra Request, ansible

#282 updated `- hosts` to limit play to jck ubuntu
  ansible/playbooks/ubuntu-jck.yml
Labels: ansible, bug

#284 changed - jenkins to a var
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Security/tasks/main.yml
Labels: ansible, enhancement

#281 Add zlinux JCK machines to inventory.yml
  ansible/inventory.yml
Labels: zlinux

#289 Added new system test-softlayer-rhel6-x64-1
  ansible/inventory.yml
Labels: Infra Request

#285 add libffi-devel to rhel
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: enhancement

#296 Fixes to support RHEL 6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Ant-Contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Clean_Up/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Swap_File/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_48/tasks/main.yml
Labels: Infra Request, ansible, bug

#295 add make and unzip and always install deps
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: enhancement

#297 Add xterm/gedit/gnome-terminal to playbook to support JCK interactives
  ansible/playbooks/ubuntu-jck.yml
Labels: Infra Request

#303 Ensure curl-devel is installed on RHEL 6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/GIT_Source/tasks/main.yml
Labels: ansible, bug

#309 Updated rhel7 ppc64le section
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Clean_Up/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
Labels: Infra Request, ansible, bug

#310 Aix playlist revisions
  ansible/playbooks/aix.yml
Labels: Infra Request, aix, ansible, bug

#317 Formatting in the ansible readme
  ansible/README.md
Labels: enhancement

#316 Add freemarker role for unix playbooks
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Clean_Up/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/freemarker/tasks/main.yml
Labels: enhancement

#318 Include additional user specific setup for aix playbook
  ansible/playbooks/aix.yml
Labels: enhancement

#328 Add autoconf to aix playbook
  ansible/playbooks/aix.yml
Labels: enhancement
