Repository adoptium/infrastructure, pull requests merged in 2019-08, with the labels that each got.

#860 Added/Modified Scripts to verify OpenJDK builds
  ansible/pbTestScripts/buildJDK.sh
  ansible/pbTestScripts/testScript.sh
Labels: enhancement

#867 add p7zip to test tools
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
Labels: enhancement

#875 add aarch64and armv7 docker support
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: docker, enhancement

#881 ensure macOS has enough mapped shared memory
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: enhancement

#887 add ccache to macOS playbooks
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
Labels: enhancement

#889 fix inventory deprecation error
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: bug

#885 Added directory check for the Ant role
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ant/tasks/main.yml
Labels: bug

#873 improve username logic for running non-sudo tasks on mac
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Debug/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ant/tasks/main.yml
Labels: enhancement

#896 Added checks in PB test script to allow testing of branches
  ansible/pbTestScripts/testScript.sh
  ansible/pbTestScripts/vmDestroy.sh
Labels: enhancement

#895 Add heap size variable for Windows playbook
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/group_vars/all/adoptopenjdk_variables.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java12/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java8/tasks/main.yml
Labels: enhancement

#901 Bugfixes to "testScript.sh"
  ansible/pbTestScripts/testScript.sh
Labels: bug

#900 Adding a Windows Server 2012 Vagrantfile and Set-Up instructions
  ansible/README.md
  ansible/Vagrantfile.Win2012
Labels: enhancement

#906 Enable ppc64le CUDA install on CentOS7 as well as RHEL7
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
Labels: ansible
