Repository adoptium/infrastructure, pull requests merged in 2019-01, with the labels that each got.

#649 ansible: Add JDK10 boot JVM to aarch64 machines
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk10/tasks/main.yml
Labels: ansible

#652 Remove trailing backslashes from Java roles in Windows Playbook
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java7/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java8/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java9/tasks/main.yml
Labels: bug

#640 Add JDK12 prereqs libXi libXrandr to linux playbooks
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/FreeBSD.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/OracleLinux.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: enhancement

#653 ansible: Changing 7-Zip installation directory in Windows Playbook
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/7-Zip/tasks/main.yml
Labels: enhancement

#654 Update README.md with correct link to CONTRIBUTING.md
  README.md
Labels: bug

#587 Switch Vagrant file from using ubuntu/trusty64 to generic/ubuntu1604
  ansible/Vagrantfile
Labels: enhancement

#656 ansible: Linux: Add 'adoptopenjdk' tag to make exclusions easier
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Jenkins_User/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Master_Config/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_FreeBSD.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Tunnel/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Security/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Superuser/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/freemarker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/x11/tasks/main.yml
Labels: ansible

#659 Fix casing on jdk12 packages
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: bug

#658 Remove x11 role
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/x11/tasks/main.yml
Labels: ansible

#662 ansible: Remove OracleLinux from Unix 'Common' role
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/OracleLinux.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/OracleLinux.yml
Labels: ansible

#664 ansible: Fix Java 9 test cases
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java9/tasks/main.yml
Labels: bug

#663 ansible: Start documenting why some of the prereqs are there
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: enhancement

#682 Ansible: Change the syntax of removing and adding cygwin to PATH
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: enhancement

#568 Ansible: Updates to AIX scripts
  ansible/playbooks/aix.yml
  ansible/playbooks/nagios/nagios_aix.yml
  ansible/playbooks/scripts/AIX_ramdisk.ksh
Labels: aix, ansible

#679 ansible: Use installed libcurl on CentOS/RHEL6 to compile git
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/GIT_Source/tasks/main.yml
Labels: ansible, bug

#657 Update AIX playbooks with locales to support MBCS testing
  ansible/playbooks/adoptopenjdk_variables.yml
  ansible/playbooks/aix.yml
Labels: aix, enhancement

#624 Update Linux playbooks with locales to support MBCS testing
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
Labels: enhancement

#688 Back out #657 (Adding Asian locales to AIX) due to license concern of…
  ansible/playbooks/aix.yml
Labels: enhancement

#687 ansible: Stop installing MinGW installation as OpenJ9 has moved to Clang
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MinGW-W64/tasks/main.yml
Labels: enhancement
