Repository adoptium/infrastructure, pull requests merged in 2019-11, with the labels that each got.

#971 Unix PB: Added Docker to Debian PB
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: enhancement

#949 Altering testScript to run a test on a built JDK on a Windows VM
  ansible/pbTestScripts/testJDKWin.sh
  ansible/pbTestScripts/testScript.sh
Labels: enhancement

#863 Set limits for Jenkins_User
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Jenkins_User/tasks/main.yml
Labels: bug

#976 Move marist/s390x-2 from JCK group to main test group
  ansible/inventory.yml
Labels: enhancement

#978 inventory.yml: Update Linaro machine details
  ansible/inventory.yml
Labels: linaro

#980 UnixPB: Changed Ccache URL
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ccache/tasks/main.yml
Labels: bug

#981 WinPB: Remove adoptopenjdk tag from Freemarker
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Freemarker/tasks/main.yml
Labels: bug

#983 Unix PB: Removed unnecessary check in Git_source
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/GIT_Source/tasks/main.yml
Labels: bug

#991 switch openssl & nasm because openssl depends on nasm
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: bug

#992 pbTests: Addition of time messages for debug
  ansible/pbTestScripts/testScript.sh
Labels: bug

#995 Use retries on ant_contrib URL to resolve sourceforge URL connection issues
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Ant-Contrib/tasks/main.yml
Labels: ansible, bug

#1005 Remove nested variables from adoptopenjdk_install role
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: bug

#890 Added Debian 8 Vagrantfile
  ansible/Vagrantfile.Debian8
Labels: enhancement

#1009 Add Jenkins user to Performance Log Users group
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Jenkins/tasks/main.yml
Labels: enhancement

#1012 WinPB: Change Ansible version check to reflect Unix's
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Version/tasks/main.yml
Labels: bug

#989 Changed Protobuf configure options
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Protobuf/tasks/main.yml
Labels: enhancement

#1013 inventory: Add vagrant bare metal test machine
  ansible/inventory.yml
Labels: enhancement

#1016 pbTests: alter testScript to run ansible locally and point at VM
  ansible/Vagrantfile.CentOS6
  ansible/Vagrantfile.CentOS7
  ansible/Vagrantfile.Ubuntu1604
  ansible/Vagrantfile.Ubuntu1804
  ansible/pbTestScripts/testScript.sh
Labels: bug

#1008 Playbook to setup machines to build Icedtea-web
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/group_vars/all/adoptopenjdk_variables.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/Common/scripts/install-homebrew.sh
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/Common/scripts/install-xcode.sh
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/Common/tasks/build_packages_and_tools.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/Common/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/GIT_Source/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/automake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/pkg-config/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/rust/tasks/main.yml
Labels: enhancement
