Repository adoptium/infrastructure, pull requests merged in 2019-12, with the labels that each got.

#1021 UnixPB: Changes to allow for Debian8 playbook run through
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/OpenSSL102/tasks/main.yml
Labels: enhancement

#985 PBs: Added PB for setting up vagrant machines
  ansible/playbooks/vagrant.yml
Labels: enhancement

#1038 add first set of perf machines
  ansible/inventory.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: enhancement

#969 Fixed X11 Install from AIX Ansible Playbook
  ansible/playbooks/aix.yml
Labels: ansible, bug

#773 Adding XLC16 to aix playbook as its a requirement for JDK13
  ansible/playbooks/aix.yml
Labels: enhancement

#1011 UnixPB: Added retries to roles that often fail
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/GIT_Source/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
Labels: bug

#1017 Passed the value of hosts from command line
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: bug

#1057 Fix earlier swap_file tag indentation
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Swap_File/tasks/main.yml
Labels: bug

#1064 Allow Debian8 as an option to vmDestroy.sh
  ansible/pbTestScripts/vmDestroy.sh
Labels: bug

#993 PbTests: Updated READMEs relevant to the Test Scripts
  ansible/README.md
  ansible/pbTestScripts/README.md
Labels: enhancement

#1063 Redraft and update ansible README.md (Phase 1!)
  ansible/README.md
  ansible/pbTestScripts/README.md
Labels: enhancement

#1068 ansible: Add adoptopenjdk8 to Debian
  ansible/pbTestScripts/buildJDK.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
Labels: bug
