Repository adoptium/infrastructure, pull requests merged in 2019-03, with the labels that each got.

#713 Add hotspot jdk and openj9 parameter to AIX
  ansible/playbooks/adoptopenjdk_variables.yml
  ansible/playbooks/aix.yml
Labels: bug

#717 Install Rust in Windows playbook
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Rust/tasks/main.yml
Labels: enhancement

#719 Modify the install location of Rust
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Rust/tasks/main.yml
Labels: bug

#728 Remove X11 packages from Windows playbook
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: ansible, windows

#691 Replace gcc7.3 with 7.4 on s390x
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
Labels: zlinux

#729 ansible: handle jdk9 in either jdk-9+191 or jdk-9.0.4 path
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk9/tasks/main.yml
Labels: bug

#730 ansible: Install OpenJ9 JDK10 on Linux/ppc64le
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk10/tasks/main.yml
Labels: enhancement

#733 Fix up missing tags in aix playbook
  ansible/playbooks/aix.yml
Labels: bug

#734 Install perl modules to system generic location on aix
  ansible/playbooks/aix.yml
Labels: enhancement

#735 Cleanup whitespace as per travis failure introduced in #734
  ansible/playbooks/aix.yml
Labels: bug

#737 Install make 4.1 on Linux x86
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
Labels: enhancement

#705 Delete ubuntu-api.yml
  .travis.yml
  ansible/playbooks/AdoptOpenJDK_Services_Playbooks/ubuntu-api.yml
Labels: bug

#742 Ansible: Add bootjdk variable to install hotspot or openj9 on Windows
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/group_vars/all/adoptopenjdk_variables.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java8/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java9/tasks/main.yml
Labels: enhancement
