Repository adoptium/infrastructure, pull requests merged in 2019-04, with the labels that each got.

#746 Ansible: Add OpenJ9 JDK12 to aix playbook
  ansible/playbooks/aix.yml
Labels: enhancement

#744 Ansible: Add Windows role Java12
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java12/tasks/main.yml
Labels: enhancement

#584 Use common ansible role for download/extract/configure/make install
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/local_srcinstall/tasks/main.yml
Labels: ansible

#751 Do not install numactl on Linux/Ubuntu/arm32
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: ansible, arm32

#752 Ansible: Stop playbook failing on adoptopenjdk9 role on arm32
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk9/tasks/main.yml
Labels: ansible, arm32

#755 Remove version_compare deprecation warnings from UNIX Playbooks
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/GIT_Source/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Version/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
Labels: ansible

#764 Add test-azure-win2012r2-x64-2 and 3 to inventory
  ansible/inventory.yml
Labels: enhancement

#757 Ansible: Add JDK 12 Role to Unix Playbook
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/group_vars/all/adoptopenjdk_variables.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk12/tasks/main.yml
Labels: ansible

#670 ansible: Remove deprecation warnings regarding version_compare
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/OpenSSL/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/autoconf/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/cmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/nasm/tasks/main.yml
Labels: enhancement

#766 Ansible: Remove freetype from windows playbook
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Freetype/tasks/main.yml
Labels: bug

#754 Updates/cleanups to support Ubuntu 18.04
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: ansible

#768 Revert "Remove freetype from windows playbook (#766)"
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Freetype/tasks/main.yml
Labels: enhancement

#750 Ansible: Fix OpenSSL installation on Windows
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/OpenSSL/tasks/main.yml
Labels: bug

#759 Update OpenSSL to v1.1.1b
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/OpenSSL/tasks/main.yml
Labels: enhancement

#760 Add OpenSSL 1.0.2 prereq on CentOS/RHEL6 for OpenJ9
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/OpenSSL102/tasks/main.yml
Labels: ansible

#775 Fix type used in cpan install path
  ansible/playbooks/aix.yml
Labels: bug

#771 Add protobuf libraries to the linker search path
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Protobuf/tasks/main.yml
Labels: enhancement
