Repository adoptium/infrastructure, pull requests merged in 2020-02, with the labels that each got.

#1122 vagrant: Temporarily use alternate openjdk-build branch
  ansible/pbTestScripts/buildJDK.sh
Labels: Vagrant

#1126 pbTests: Fixup last buildJDK.sh commit
  ansible/pbTestScripts/buildJDK.sh
Labels: Vagrant

#1130 inventory: Add first 2 AWS Win2019 systems
  ansible/inventory.yml
Labels: enhancement, windows

#1129 updates to support RHEL 8 playbooks
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/CPAN/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NTP_TIME/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
Labels: ansible, enhancement

#1102 unixPB: Remove duplicate protobuf install
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: enhancement

#1137 remove p7zip dependency on macOS
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
Labels: bug

#1115 More aix machines woohoo
  ansible/inventory.yml
Labels: enhancement

#1136 UnixPB: Remove CPAN role
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/README.md
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/CPAN/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/FreeBSD.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/openSUSE.yml
  ansible/playbooks/aix.yml
Labels: ansible

#1144 VFs: Ref #685 non-zero exit status fix
  ansible/Vagrantfile.CentOS6
  ansible/Vagrantfile.CentOS7
  ansible/Vagrantfile.Debian8
  ansible/Vagrantfile.FreeBSD12
  ansible/Vagrantfile.SUSE12
  ansible/Vagrantfile.Ubuntu1604
  ansible/Vagrantfile.Ubuntu1804
Labels: Vagrant

#1140 UnixPB: Add support for SLES15-SP0
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NTP_TIME/tasks/main.yml
Labels: ansible

#1075 winPB: Passed the value of hosts from command line
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: enhancement

#1147 UnixPB: remove sudo from GIT_SOURCE role
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/GIT_Source/tasks/main.yml
Labels: ansible

#1148 Build protobuf with gcc 7.5 and remove 7.3/7.4 locally installed options
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Protobuf/tasks/main.yml
Labels: enhancement

#1131 UnixPB: Add support for CentOS8
  ansible/Vagrantfile.CentOS8
  ansible/pbTestScripts/vmDestroy.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
Labels: ansible

#1149 win: Adjust cygwin setup checksum as it's been updated
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: ansible, bug

#1152 pbTests: Change buildJDK to build from other URLs
  ansible/pbTestScripts/buildJDK.sh
Labels: enhancement

#1119 pbTests: Add script to test U18 on s390x/ppc64le QEMU VMs
  ansible/pbTestScripts/buildJDK.sh
  ansible/pbTestScripts/qemu_test_script.sh
  ansible/pbTestScripts/testJDK.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/vagrant.yml
Labels: enhancement

#1156 pbTests: Change URLs to run the playbook from
  ansible/pbTestScripts/qemu_test_script.sh
Labels: Vagrant

#1157 UnixPB: Remove pulseaudio from Common/vars/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
Labels: ansible

#1158 playbook: Update gcc-7 role to install gcc 7.5
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
Labels: ansible

#1081 Ram increase for Vagrant VMs
  ansible/Vagrantfile.CentOS6
  ansible/Vagrantfile.CentOS7
  ansible/Vagrantfile.Debian8
  ansible/Vagrantfile.FreeBSD12
  ansible/Vagrantfile.SUSE12
  ansible/Vagrantfile.Ubuntu1604
  ansible/Vagrantfile.Ubuntu1804
  ansible/Vagrantfile.Win2012
Labels: enhancement

#1162 winPB: Change checksum for MSVS_2017
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
Labels: ansible

#1161 unixPB: Remove repeat in SLES package list
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
Labels: ansible

#1160 unixPB: Remove checksum for gcc_7 task
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
Labels: ansible

#1167 winPB: Switch adoptopenjdk download to use APIv3
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java_install/tasks/main.yml
Labels: ansible, windows

#1166 unixPB: Remove devtoolset-7 and require Adopt's GCC7.5
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
Labels: bug

#1138 unixPB: Alter adoptopenjdk_install role to allow for jdk8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: enhancement

#1170 pbTests: Added option to specify openjdk-build repo
  ansible/pbTestScripts/buildJDK.sh
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/FreeBSD.yml
Labels: ansible

#1172 unixPB: Fix conditions to gmake
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
Labels: ansible
