Repository adoptium/infrastructure, pull requests merged in 2020-12, with the labels that each got.

#1730 Revert garbage inventory path from adoptopenjdk_yaml.py
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible

#1665 ansible: refresh macOS test machines + playbook patches
  .github/workflows/build_mac.yml
  ansible/inventory.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Ant-Contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Jenkins_User/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Superuser/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode10/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ant/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/macos_codesign/tasks/main.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: bug

#1735 pbTests: Fix -nh option on the VPC help screen
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: bug

#1736 pbTests: Set remote_tmp for Unix VPC runs
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, ansible

#1704 aixPB: Remove packages already installed by yum
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
Labels: bug

#1695 aixPB: Modify order of executition to have requirements first
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
Labels: bug

#1734 doc: typo corrections and header modifications
  FAQ.md
Labels: bug

#1742 unixPB: do not update hosts_file when 'adoptopenjdk' tag is skipped
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/main.yml
Labels: ansible

#1727 ansible : add dragonwell bootstrap image for windows
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Dragonwell/tasks/main.yml
Labels: enhancement

#1539 UnixPB: Install docker for RHEL/CentOS PPC64le/s390x
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible, arch:ppc64le (pLinux), arch:s390x (zLinux)

#1744 pbTests: Add Solaris10 to vmDestroy.sh
  ansible/pbTestScripts/README.md
  ansible/pbTestScripts/vmDestroy.sh
Labels: Vagrant, bug

#1743 move CRB packages out of common build tool list
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: bug

#1753 winPB: Update OpenSSL to 1.1.1i and streamline updates
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/OpenSSL/tasks/main.yml
Labels: ansible, windows

#1721 aixPB: remove unnecessary register: result.role
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/X11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/openssl/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/xlc_v13/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/xlc_v16/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
Labels: ansible, os:aix

#1759 UnixPB: Enable PowerTools repo CentOS8, install libdwarf-devel
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
Labels: ansible

#1762 unixPB: Put in check_inventory Nagios plugin
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/nagios_server_plugins/check_agent
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/nagios_server_plugins/check_inventory
Labels: Nagios, enhancement

#1765 vagrant: Fix CentOS6 mirrorlink issue
  ansible/Dockerfile.CentOS6
  ansible/Vagrantfile.CentOS6
Labels: Vagrant, bug

#1749 winPB: Fix typo in Dragonwell Download url and rename bootstrap image
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Dragonwell/tasks/main.yml
Labels: bug

#1747 inventory: add linux installer node
  ansible/inventory.yml
Labels: enhancement

#1767 Docs: include troubleshoot for windows playbook
  ansible/README.md
Labels: ansible

#1774 Inventory: add alibaba machines
  ansible/inventory.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: enhancement

#1780 unixPB: Fix CentOS6 SCL repo baseurl
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
Labels: ansible

#1773 winPB: Add README.md instructions on how to setup a Windows Machine
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/README.md
Labels: ansible, doc, windows

#1786 inventory: Add OSUOSL's machine names to description field
  ansible/inventory.yml
Labels: ansible, provider:osuosl

#1787 unixPB: Adjust Cent6 repo editing to not change hostname
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
Labels: ansible

#1785 inventory: add new awx and bastillion servers
  ansible/inventory.yml
Labels: enhancement
