Repository adoptium/infrastructure, pull requests merged in 2020-07, with the labels that each got.

#1421 remove jenkins slave and add centos7
  .github/workflows/build.yml
  ansible/Dockerfile.CentOS7
  ansible/Dockerfile.JenkinsSlave
Labels: enhancement

#1433 UnixPB: Add provider specfic role & godaddy host tasks in it
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Providers/tasks/main.yml
Labels: ansible, godaddy

#1438 WinPB: Update Cygwin_checksum
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: ansible, windows

#1437 travis: fix arm64 build
  .travis.yml
Labels: bug

#1442 pbTests: Update VPC.sh to connect to 127.0.0.1:$port for Ansible && refactor
  ansible/Vagrantfile.CentOS6
  ansible/Vagrantfile.CentOS7
  ansible/Vagrantfile.CentOS8
  ansible/Vagrantfile.Debian10
  ansible/Vagrantfile.Debian8
  ansible/Vagrantfile.FreeBSD12
  ansible/Vagrantfile.SUSE12
  ansible/Vagrantfile.Ubuntu1604
  ansible/Vagrantfile.Ubuntu1804
  ansible/Vagrantfile.Ubuntu2004
  ansible/pbTestScripts/buildJDK.sh
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: ansible

#1451 WinPB: Update MSVS_2017 checksum
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
Labels: ansible, windows

#1454 unixPB: don't try to install gcc 4.8 on any Debian 10 arch
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
Labels: ansible

#1447 UnixPB: apt_cache update on Ubuntu s390x Install
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
Labels: ansible

#1449 Docs: Add info on how to increase winrm timeouts
  ansible/README.md
Labels: ansible, doc, windows

#1458 pbTests: Make OS mandatory for clarity, reduce size of help screen
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: enhancement

#1457 pbTests: Allow testing of docker installation
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: enhancement

#1456 UnixPB: Install docker.io for Debian, Add gcc-7 to Common role for aarch64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

#1452 pbTests: Add support for ARM64 in QEMUPlaybookCheck
  ansible/pbTestScripts/buildJDK.sh
  ansible/pbTestScripts/qemuPlaybookCheck.sh
Labels: enhancement

#1464 UnixPB: Install cmake on aarch64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/cmake/tasks/main.yml
Labels: ansible

#1466 unixPB: Fix typo in message while installing CUDA
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
Labels: ansible, doc

#1474 Enable EPEL repo for rhel 6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
Labels: ansible

#1479 fix travis arm64 build
  .travis.yml
Labels: bug

#1465 pbTests: Refactor searchLogFile functionality; Add logging for builds and tests
  ansible/Vagrantfile.Win2012
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant

#1478 winPB: Ignore errors on win_update reboot task
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Windows_Updates/tasks/main.yml
Labels: ansible, windows

#1475 UnixPB: Fix java alternatives for RHEL7 ppc64le/s390x
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
Labels: ansible

#1477 UnixPB: Fix path variable for cmake on rhel6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/cmake/tasks/main.yml
Labels: ansible
