Repository adoptium/infrastructure, pull requests merged in 2020-10, with the labels that each got.

#1586 linter: fix ansible-lint warnings
  .github/workflows/linter.yml
  .travis.yml
  .yamllint.yml
  ansible/playbooks/AdoptOpenJDK_Services_Playbooks/ubuntu-jckservices.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/linux_installer_setup.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/IPv6/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_CentOS.yml
  ansible/playbooks/aix.yml
Labels: ansible

#1588 winPB: Remove MSVS_2017 checksum
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
Labels: ansible, windows

#1596 winPB: Install Cygwin without a cache
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/vars/main.yml
Labels: windows

#1599 winPB: Remove cygwin include variables task
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: ansible, windows

#1541 QEMU: Add support to qpc script for multiple os
  ansible/pbTestScripts/qemuPlaybookCheck.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
Labels: enhancement

#1611 unixPB: Update cmake location (Downloads now on github)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/cmake/tasks/main.yml
Labels: bug

#1592 pbTests: Update/Fix vagrant.yml playbook
  ansible/playbooks/vagrant.yml
Labels: ansible

#1608 UnixPb: add perl-Time-HiRes to rhel vars
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: ansible

#1622 inventory: Sync up marist machines with reality (jenkins)
  ansible/inventory.yml
Labels: Marist, bug

#1624 vagrant: create known_hosts file if it does not exist
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, bug

#1619 UnixPB: prevent improper hostname and /etc/hosts change
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/main.yml
Labels: ansible

#1625 WinPB: Clean-up zip files
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/ANT/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java8/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Strawberry_Perl/tasks/main.yml
Labels: enhancement, windows

#1626 ansible: Create Windows JDK7 link as jdk-7 instead of jdk7
  ansible/pbTestScripts/buildJDKWin.sh
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java7/tasks/main.yml
Labels: bug, enhancement

#1632 inventory: Replace 'softlayer' machines with 'ibmcloud'
  ansible/inventory.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: doc, enhancement

#1642 UnixPB: update docker-ce repo checksum for centos7
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

#1645 inventory: Sync OSUOSL Linux machines with reality
  ansible/inventory.yml
Labels: bug

#1623 inventory: add missing inspira SPARC systems
  ansible/inventory.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: bug

#1643 winPB: Replace MSVS_2017/9 installer URLs and reinstate checksums
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible, windows

#1640 actions: add macOS playbook tester
  .github/workflows/build_mac.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/zulu7/tasks/main.yml
Labels: enhancement

#1042 Add Linux perf machines
  ansible/inventory.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Jenkins_User/tasks/main.yml
Labels: enhancement

#1650 Add issue and PR templates to the repository
  .github/ISSUE_TEMPLATE/ansible.md
  .github/ISSUE_TEMPLATE/machineaccess.md
  .github/ISSUE_TEMPLATE/newmachine.md
  .github/ISSUE_TEMPLATE/systemdown.md
  .github/ISSUE_TEMPLATE/teamaccess.md
  .github/ISSUE_TEMPLATE/testcasefail.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement
