Repository adoptium/infrastructure, pull requests merged in 2020-05, with the labels that each got.

#1179 add dockerfiles for aws codebuild
  .github/workflows/build.yml
  ansible/Dockerfile.CentOS6
  ansible/Dockerfile.JenkinsSlave
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
Labels: enhancement

#1306 Replace -s to -b in ansible-playbook command-line examples
  FAQ.md
  ansible/README.md
Labels: bug

#1308 UnixPB: Allow unauthorised packages on Deb8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
Labels: ansible

#1313 pbTests: Add BUILD_ID variable for Jenkins
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant

#1309 UnixPB: Add Deb10 VF and 'Common/task/Debian.yml' changes to support it
  ansible/Vagrantfile.Debian10
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
Labels: Vagrant, ansible

#1315 UnixPB: Add cmake to list for brew to install on OSX
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
Labels: bug

#1314 pbTests: Debian10 rsync folder changes
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant

#1324 aixPB: Do not move openjdk7 into IBM java7 location
  ansible/playbooks/aix.yml
Labels: aix

#1325 UnixPB: Add Zulu7 for JDK8 Build bootstrap, make buildJDK.sh use JDK7
  ansible/pbTestScripts/buildJDK.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/zulu7/tasks/main.yml
Labels: ansible

#1332 WinPB: Correct MSVS_2017 checksum
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
Labels: ansible, windows

#1321 UnixPB: Alter Deb Common file & pb script to build JDK8/HS on Deb10
  ansible/pbTestScripts/buildJDK.sh
  ansible/pbTestScripts/vmDestroy.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
Labels: ansible

#1318 UnixPB: Installer role and playbook
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/linux_installer_setup.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/linux_installer/tasks/main.yml
Labels: ansible

#1330 WinPB: Install Win-sdk-10.1 manually, not w/ chocolatey
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/WiX/tasks/main.yml
Labels: windows

#1334 Inv: Update build machines to be inline w/Jenkins
  ansible/inventory.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: Jenkins

#1338 inv: Update Test/infra machine sections
  ansible/inventory.yml
Labels: enhancement

#1341 pbTests: Remove `--force` flag when using vagrant halt
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant

#1342 inv: Put back test-softlayer-win2012r2-x64-1
  ansible/inventory.yml
Labels: bug

#1340 UnixPB: Failing NTP_TIME role for Ubuntu 20
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NTP_TIME/tasks/main.yml
Labels: ansible
