Repository adoptium/infrastructure, pull requests merged in 2020-01, with the labels that each got.

#1069 pbTestScripts: Add Debian8 reference and link to VagrantPlaybookCheck job
  ansible/pbTestScripts/README.md
Labels: enhancement

#1073 VFs: Add FreeBSD12 and SLES12 Vagrantfiles
  ansible/Vagrantfile.FreeBSD12
  ansible/Vagrantfile.SLES12
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
  ansible/pbTestScripts/vmDestroy.sh
Labels: Vagrant

#1070 Use vagrantfiles from main repo by default, option to take from the alternate branch
  ansible/pbTestScripts/README.md
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: ansible, enhancement

#1076 Fixup last commit which had wrong main Vagrantfile path
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: bug

#1078 UnixPB: Remove 'group' tag from adoptopenjdk_install role
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

#1077 UnixPB: Make changes so FreeBSD works
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/FreeBSD.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ccache/tasks/main.yml
Labels: Vagrant, ansible

#1079 pbTest: Run extended.system tests on Windows instead of _MachineInfo
  ansible/pbTestScripts/testJDKWin.sh
Labels: Vagrant, ansible

#1041 Update Marist zlinux inventory to the new z15 linux machines
  .travis.yml
  ansible/inventory.yml
Labels: Marist

#1080 pbTests: Fix 'checkVagrantOS' error message
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant

#1074 ansible: Switch adoptopenjdk downloads to APIv3 from APIv2
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
  ansible/playbooks/aix.yml
Labels: ansible

#1082 pbTests: add optional extra skip tags to speed up testing
  ansible/pbTestScripts/README.md
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: enhancement

#1066 Add initial openjdk-infrastructure FAQ
  FAQ.md
  README.md
Labels: doc

#1083 UnixPB: Fixes for FreeBSD12
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/FreeBSD.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ccache/tasks/main.yml
Labels: ansible

#1094 unixPB: Enable protobuf for OpenJ9 JITserver
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: enhancement, openj9

#1095 pbTests: Update buildJDK.sh to support FreeBSD & openSUSE
  ansible/pbTestScripts/buildJDK.sh
  ansible/pbTestScripts/testJDK.sh
Labels: enhancement

#1107 add build-macstadium-macos1014-1
  ansible/inventory.yml
Labels: enhancement

#1112 Upgrade protobuf to v3.7.1
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Protobuf/tasks/main.yml
Labels: enhancement

#1109 inventory: Add new AIX systems
  ansible/inventory.yml
Labels: aix

#1100 Added build tags to appropriate roles
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: enhancement

#1101 UnixPB: Add support for OpenSUSE12.3
  ansible/Vagrantfile.SUSE12
  ansible/pbTestScripts/vmDestroy.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/CPAN/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/openSUSE.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/openSUSE.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/GIT_Source/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NTP_TIME/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/OpenSSL102/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Protobuf/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/cmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
Labels: Vagrant

#1114 unixPB: Pass CC/CXX variables to Protobuf build task
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Protobuf/tasks/main.yml
Labels: ansible

#1113 winPB: Update checksums for win_get_url module
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/7-Zip/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/ANT/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Clang_32bit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Clang_64bit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Firefox/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Freemarker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Freetype/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/GIT/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/IcedTea-Web/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java7/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2010/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/OpenSSL/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Rust/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Strawberry_Perl/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/nasm/tasks/main.yml
Labels: ansible

#1116 Remove zulu-9 from Additional_Build_Tools var lists
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: enhancement

#1110 Set ansible_processor_vcpus for cmake role
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/main.yml
Labels: enhancement
