Repository adoptium/infrastructure, pull requests merged in 2020-06, with the labels that each got.

#1345 VF: Force no-prompt upgrade to grub-pc on U18
  ansible/Vagrantfile.Ubuntu1804
Labels: Vagrant

#1355 Playbook Checks: Add extra checks+debug text around vmDestroy
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: enhancement

#1351 VFs: Add Ubuntu20.04
  ansible/Vagrantfile.Ubuntu2004
Labels: Vagrant

#1370 pbTests: Add Ubuntu2004 to vmDestroy.sh
  ansible/pbTestScripts/vmDestroy.sh
Labels: Vagrant

#1369 UnixPD: Skip failing NTP_TIME task for FreeBSD
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NTP_TIME/tasks/main.yml
Labels: ansible

#1335 UnixPB: Add numactl-devel for Redhat vars on ppc64le
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
Labels: enhancement

#1375 PBs: Update which JDKs to install
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible, enhancement

#1367 cleanup leftover tarballs and dockerfiles
  ansible/Dockerfile.CentOS6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Ant-Contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Clean_Up/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/GIT_Source/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ccache/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/cmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/freemarker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_48/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
Labels: enhancement

#1393 UnixPB: Exclude make from updating when gmake is built
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
Labels: ansible

#1392 UnixPB: Added missing dependancies
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
Labels: bug

#1398 winPB: Update MSVS_2017 download checksum
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
Labels: ansible, windows

#1405 pbTests: Hardcode JDK_BOOT_DIR in buildJDK.sh
  ansible/pbTestScripts/buildJDK.sh
Labels: enhancement

#1408 winPB: Separate remove speech mark & add cygwin to front of %PATH% task
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: ansible, windows

#1413 docs: Add doc to setup RISC-V QEMU VMs
  docs/Setup-RISCV-VMs.md
Labels: doc

#1418 swap JDK variables to hard coded
  ansible/Dockerfile.CentOS6
Labels: bug
