Repository adoptium/infrastructure, pull requests merged in 2020-04, with the labels that each got.

#1241 add wix role
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/WiX/tasks/main.yml
Labels: enhancement

#1246 PBs: Update OpenSSL URL
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/OpenSSL102/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/OpenSSL/tasks/main.yml
Labels: ansible

#1245 inventory: Add AWS docker x64 machines
  ansible/inventory.yml
Labels: doc, docker

#1247 WinPB: Add CodesignCert roles
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/CodesignCert/tasks/main.yml
Labels: ansible

#1250 WinPB: Add playbook role to set shortpaths in 'Program Files (x86)'
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/shortNames/scripts/shortName.ps1
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/shortNames/tasks/main.yml
Labels: ansible, windows

#1252 inventory: Add build-rhel7 (for GAO and maybe more) systems
  ansible/inventory.yml
Labels: ansible

#1249 inventory: Remove already-decommissioned JCK systems
  README.md
  ansible/inventory.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: enhancement

#1253 inventory: Move ubuntu build machines to docker group
  ansible/inventory.yml
Labels: enhancement

#1255 winPB: Add WMF install role
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/WMF_5.1/tasks/main.yml
Labels: ansible, windows

#1257 winPB: WMF role Condition fix
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/WMF_5.1/tasks/main.yml
Labels: ansible, windows

#1258 winPB: Change Cygwin checksum
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: ansible, windows

#1259 inv: Add new softlayer win2012 test machine
  ansible/inventory.yml
Labels: windows

#1261 UnixPB: add JDK11 to list of JDKs to install
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible

#1260 unixPB: Rearrange riscv conditions
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/riscv_cross_compiler/tasks/main.yml
Labels: ansible

#1264 inventory: Add ex-build Ubuntu/s390x machine to docker group
  ansible/inventory.yml
Labels: enhancement

#1272 add gnu-sed to macOS playbook
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
Labels: bug

#1278 WinPB: Update MSVS_2017 checksum (again)
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
Labels: windows

#1273 pbTests: Force vagrant halt for Windows runs
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: enhancement

#1275 UnixPB: Correct gcc_7 conditions
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
Labels: ansible

#1285 inventory: Renumber marist zlinux build machines after handing two back
  ansible/inventory.yml
Labels: enhancement

#1263 pbTest: set correct params running buildJDKWin w/JDK8
  ansible/pbTestScripts/buildJDKWin.sh
  ansible/pbTestScripts/testJDKWin.sh
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: windows

#1269 winPB: Updated OpenSSL role
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/OpenSSL/tasks/main.yml
Labels: bug

#1294 WinPB: Remove .zip file of jdk after installation
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java_install/tasks/main.yml
Labels: ansible, windows

#1292 unixPB: Add openj9 libraries, remove self-built zlib for OpenSUSE
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/openSUSE.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/openSUSE.yml
Labels: ansible

#1300 pbTests: VPC.sh: destroy only the correct OS VM
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant

#1276 pbTests: Change Fast-mode to change depending on other parameters
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/OpenSSL/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/shortNames/tasks/main.yml
Labels: bug

#1298 UnixPB:IPv6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/IPv6/tasks/main.yml
Labels: enhancement

#1305 pbTests: Alter VPC to use ssh/WinRM to start build/test scripts
  ansible/Vagrantfile.Win2012
  ansible/pbTestScripts/startScriptWin.py
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, enhancement
