Repository adoptium/infrastructure, pull requests merged in 2020-03, with the labels that each got.

#1184 ansible: Refactor ansible/README.md Vagrant section
  ansible/README.md
Labels: doc

#1185 WinPB: Make Java8 role use APIv3
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java8/tasks/main.yml
Labels: ansible

#1175 inventory: add softlayer centos6+marist build machines
  ansible/inventory.yml
Labels: enhancement

#1183 UnixPB: Arm specific adoptopenjdk_install task
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

#1187 pbTests: Update buildJDKWin to specify which JDK to build
  ansible/pbTestScripts/buildJDKWin.sh
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant

#1186 Add additional playbooks to .travis.yml
  .travis.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/automake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/pkg-config/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/rust/tasks/main.yml
  ansible/playbooks/vagrant.yml
Labels: enhancement

#1193 WinPB: Install OpenSSL 1.1.1d 64-bit MSVS_2017 to machine
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/OpenSSL/tasks/main.yml
Labels: ansible, openj9

#1190 PBs: Update Playbooks to conform with ansible lint v4.2
  .travis.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/automake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Ant-Contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/FreeBSD.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/openSUSE.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Master_Config/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_FreeBSD.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Tunnel/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/OpenSSL102/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Protobuf/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/autoconf/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/cmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/freemarker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/nasm/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/trss.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/ANT/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Clang_32bit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Clang_64bit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Firefox/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Freemarker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/GIT/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/IcedTea-Web/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java7/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java8/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java_install/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2010/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2013/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/OpenSSL/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Rust/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Strawberry_Perl/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/VS2010_SP1/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/nasm/tasks/main.yml
  ansible/playbooks/aix.yml
  ansible/playbooks/vagrant.yml
Labels: ansible

#1204 winPB: Update Cygwin checksum
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: ansible

#1197 pbTests: Add option for Hotspot & improve JDK_BOOT_DIR detection
  ansible/pbTestScripts/buildJDK.sh
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: enhancement

#1207 inventory: Add docker- prefixed machines
  ansible/inventory.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: enhancement

#1211 winPB: Update MSVS_2017 checksum
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
Labels: ansible

#1212 pbTest: Fixing a syntax error
  ansible/pbTestScripts/testJDK.sh
Labels: ansible

#1219 winPB: Update Cygwin to use a prebuilt folder
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: ansible

#1217 pbTests: Detect TEST_JDK_HOME properly
  ansible/pbTestScripts/testJDK.sh
Labels: bug

#1218 unixPB: Revert CentOS locale changes
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
Labels: ansible

#1216 UnixPB: Remove Protobuf role
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Protobuf/tasks/main.yml
Labels: ansible

#1225 UnixPB: Make nasm pickup gcc7.5, revert opensuse gcc4.3 install task
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/openSUSE.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/nasm/tasks/main.yml
Labels: ansible

#1227 unixPB: Add autoconf to SUSE playbook
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/openSUSE.yml
Labels: ansible

#1224 Ansible pulls from userContent/winansible
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Clang_32bit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Clang_64bit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/OpenSSL/tasks/main.yml
Labels: ansible, enhancement, windows

#1231 [wip] WinPB: Revert Cygwin cache, pin Make to v4.2.1-2
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: ansible, bug

#1238 Update to Azure machine IP address.
  ansible/inventory.yml
Labels: bug

#1209 winPB: Update OpenSSL to use OpenSSL1.1.1e
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/OpenSSL/tasks/main.yml
Labels: ansible

#1230 UnixPB: Add role for riscv building
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/riscv_cross_compiler/tasks/main.yml
Labels: ansible, enhancement

#1242 inv: Add Azure-Win2012r2 machines
  ansible/inventory.yml
Labels: windows

#1237 pbTests: Test script fixes
  ansible/pbTestScripts/buildJDKWin.sh
  ansible/pbTestScripts/testJDK.sh
  ansible/pbTestScripts/testJDKWin.sh
Labels: bug
