Repository adoptium/infrastructure, pull requests merged in 2020-09, with the labels that each got.

#1523 Add support for arm32 to qemuPlaybookCheck.sh
  ansible/pbTestScripts/qemuPlaybookCheck.sh
Labels: enhancement

#1503 WinPB: install Cygwin using a cache
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: ansible

#1529 winPB: Stop MSVS_2019 installation failing on rc=3010
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible, windows

#1533 pbTests: Add option to build Hotspot; Add options to specify build repo
  ansible/pbTestScripts/buildJDK.sh
  ansible/pbTestScripts/qemuPlaybookCheck.sh
Labels: enhancement

#1532 Vagrant: Add warning in docs about starting Windows VM with too little memory
  ansible/README.md
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: doc

#1540 UnixPB: Remove unnecessary distro checks in distro specific common files
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
Labels: ansible

#1549 README: Update 'Willsparker' details
  README.md
Labels: doc

#1534 pbTests: Add missing '-' char so aarch64 QPC uses correct boot jdk
  ansible/pbTestScripts/buildJDK.sh
Labels: bug

#1564 UnixPB: Add perl-Digest-SHA to rhel vars
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: ansible

#1560 ansible: dynamically pull vendor files from the secrets repo
  .gitignore
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/group_vars/all/adoptopenjdk_variables.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Get_Vendor_Files/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Jenkins_User/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Security/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Superuser/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/group_vars/all/adoptopenjdk_variables.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Get_Vendor_Files/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Jenkins/tasks/main.yml
  ansible/playbooks/adoptopenjdk_variables.yml
Labels: enhancement

#1562 winPB: Update ccert role to get windows.p12 from vendor_files
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/CodesignCert/tasks/main.yml
Labels: ansible, windows

#1566 QPC: Clone the specified branch for using buildJDK.sh
  ansible/pbTestScripts/qemuPlaybookCheck.sh
Labels: bug

#1574 linter: fix ansible-lint
  .ansible-lint
  .github/workflows/linter.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Get_Vendor_Files/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Get_Vendor_Files/tasks/main.yml
  ansible/plugins/filter/filters.py
  ansible/plugins/inventory/adoptopenjdk_yaml.py
  ansible/plugins/library/ssh_config.py
Labels: bug

#1571 ansible: add macos codesign cert role
  .ansible-lint
  ansible/Dockerfile.CentOS6
  ansible/ansible.cfg
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/macos_codesign/tasks/main.yml
Labels: enhancement

#1542 ansible: add macOS big sur (silicon) support
  ansible/inventory.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/scripts/install-fiddle.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: enhancement
