Repository adoptium/infrastructure, pull requests merged in 2021-08, with the labels that each got.

#2299 winPB: Update Openssl to 1.1.1l
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/OpenSSL/tasks/main.yml
Labels: ansible

#2287 AIXPb: Ensure AIX repos are enabled
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
Labels: os:aix, ansible

#2303 Github: change python and ansible install to yum
  ansible/docker/Dockerfile.CentOS6
Labels: docker
