Repository adoptium/infrastructure, pull requests merged in 2021-12, with the labels that each got.

#2400 unixPB: install GNU sed on Alpine
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Alpine.yml
Labels: ansible

#2401 github: pin vagrant executor to macos-10.15
  .github/workflows/build_vagrant.yml
Labels: os:macOS, Vagrant, ghActions

#2411 pbTests: Replace gsub in awk command
  ansible/pbTestScripts/buildJDK.sh
  ansible/pbTestScripts/buildJDKWin.sh
Labels: Vagrant, pbTests

#2402 AixPb: keep freetype2 and autoconf at desired versions
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
Labels: ansible

#2406 Docker: Add script to update docker containers
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/scripts/updatepackages.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: ansible, docker

#2210 pbTests: Stop using find -maxdepth as it is nonstandard
  ansible/pbTestScripts/testJDK.sh
Labels: Vagrant, pbTests
