Repository adoptium/infrastructure, pull requests merged in 2021-07, with the labels that each got.

#2247 docker: Add which and hostname to Fedora33 static containers
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f33
Labels: DockerStatic, ansible, docker

#2203 Remove LJC codesign certs from all machines
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/macos_codesign/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/CodesignCert/tasks/main.yml
Labels: ansible

#2248 AIXPb: consolidate bootjdk roles into one role
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/main.yml
Labels: ansible, os:aix

#2242 unixPB: playbook tweaks from running on new jck solaris x64 machines
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Solaris.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Get_Vendor_Files/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Get_Vendor_Files/tasks/main.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible, arch:x64

#2252 doc: Update FAQ after dockerfiles were moved to another location
  FAQ.md
Labels: bug, doc, docker

#2255 unixPB: Fix typo in ccache name in CentOS playbook
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
Labels: ansible, bug

#2206 docs: Add Infrastructure Providers logos
  README.md
Labels: doc

#2250 pbTests: Reset Solaris host key after playbook completion
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, pbTests

#2258 unixPB: macOS install thunderbird, blackhole and PDFwrite for JCK
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
Labels: ansible

#2260 doc: README updated to include information on installing and using Vagrant and Ansible on a Windows machine
  ansible/README.md
Labels: doc

#2261 unixPB: Remove openjdk-7-jdk from Ubuntu as it is no longer in the repositories
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
Labels: ansible, bug

#2264 unixPB: remove gcc-7 from ubuntu armv7l playbook
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: ansible

#2268 Fix manifest command in jenkinsfile
  Jenkinsfile
Labels: bug

#2223 unixPB: set /etc/hosts to use IPV4 address rather than ansible_host
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adopt_etc/tasks/main.yml
Labels: ansible

#2270 ansible: Added task to add github.com to known_hosts
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Jenkins_User/tasks/main.yml
Labels: ansible

#2269 ansible: Added Thunderbird role to Windows playbook
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Thunderbird/tasks/main.yml
Labels: ansible

#2278 github: Fix repo links in template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: bug, doc

#2275 UnixPb: Add condition which skips brew upgrade on macos versions 10.13 or older
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible, os:macOS

#2283 fix: change links to adoptium
  FAQ.md
  ONBOARDING.md
  README.md
  ansible/README.md
  ansible/pbTestScripts/buildJDK.sh
  ansible/pbTestScripts/qemuPlaybookCheck.sh
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/aixfs/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/rbac/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/nagios_server_plugins/check_inventory
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/nagios_server_plugins/check_nagios_sync
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Tunnel/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Python2.7/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/README.md
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Common/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Windows_Updates/tasks/main.yml
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/README.md
  ansible/playbooks/aix.yml.old
  ansible/vagrant/Vagrantfile.Debian10
  ansible/vagrant/Vagrantfile.Win2012
  ansible/vagrant/Vagrantfile.Win2016
  docs/Setup-QEMU-Images.md
Labels: Vagrant, ansible, doc, pbTests

#2263 unixPB: fix up jckservices playbook
  .github/workflows/linter.yml
  ansible/inventory.yml
  ansible/playbooks/AdoptOpenJDK_Services_Playbooks/ubuntu-jckservices.yml
  ansible/playbooks/AdoptOpenJDK_Services_Playbooks/variables/adoptopenjdk_variables.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Kerberos/conf/krb5.conf
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Kerberos/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Tomcat/files/index.html
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Tomcat/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/vsftpd/conf/vsftpd.conf
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/vsftpd/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/ubuntu-jckservices.yml
Labels: ansible, ghActions

#2284 unixPB: allow internal azure hosts to reach jckservices
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible, provider:azure

#2286 add 139.178.86.125 to jckservices iptables
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible
