Repository adoptium/infrastructure, pull requests merged in 2021-06, with the labels that each got.

#2204 inventory: add new solaris sparc machines
  ansible/inventory.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Solaris.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Solaris.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_Solaris.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/maven/tasks/main.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible

#2207 github: fix vagrant install
  .github/workflows/build_vagrant.yml
Labels: Vagrant, ghActions

#2211 move vagrant files and dockerfiles to seperate folders
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/build_vagrant.yml
  .github/workflows/build_windows.yml
  ansible/Vagrantfile
  ansible/docker/Dockerfile.Alpine3
  ansible/docker/Dockerfile.CentOS6
  ansible/docker/Dockerfile.CentOS7
  ansible/docker/Dockerfile.Windows2016_Base
  ansible/docker/Dockerfile.Windows2016_VS2017
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
  ansible/vagrant/Vagrantfile.CentOS6
  ansible/vagrant/Vagrantfile.CentOS7
  ansible/vagrant/Vagrantfile.CentOS8
  ansible/vagrant/Vagrantfile.Debian10
  ansible/vagrant/Vagrantfile.Debian8
  ansible/vagrant/Vagrantfile.FreeBSD12
  ansible/vagrant/Vagrantfile.Solaris10
  ansible/vagrant/Vagrantfile.Ubuntu1604
  ansible/vagrant/Vagrantfile.Ubuntu1804
  ansible/vagrant/Vagrantfile.Ubuntu2004
  ansible/vagrant/Vagrantfile.Ubuntu2104
  ansible/vagrant/Vagrantfile.Win2012
  ansible/vagrant/Vagrantfile.Win2016
Labels: Vagrant, docker, ghActions, pbTests

#2214 inventory: Remove old Packet/aarch64 systems
  ansible/inventory.yml
Labels: ansible, provider:packet

#2220 install openssh on Solaris machines
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Solaris.yml
Labels: ansible

#2224 unixPB: create ensure that gconfd-2 is in the correct location for TCK
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Solaris.yml
Labels: ansible

#2201 Add Ubuntu16.04 build dockerfile
  Jenkinsfile
  ansible/docker/Dockerfile.Ubuntu1604
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
Labels: ansible, arch:arm32, docker

#2193 UnixPB: Add support for Debian11/RISC-V
  ansible/pbTestScripts/qemuPlaybookCheck.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: Vagrant, ansible, arch:RISC-V, pbTests

#2234 fix ansible lint errors
  .ansible-lint
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
Labels: ansible

#2196 pbTests: Better logic for checking Qemu VM has booted
  ansible/pbTestScripts/qemuPlaybookCheck.sh
Labels: Vagrant, pbTests

#2219 ansible: ignore errors on check for disabled timesyncd
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NTP_TIME/tasks/main.yml
Labels: ansible

#2230 pbTests: Change any occurrence of openjdk-tests to aqa-tests in the test script
  ansible/pbTestScripts/testJDK.sh
Labels: Vagrant, pbTests

#2238 inventory: add skytap ppc64le linux machines
  ansible/inventory.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Get_Vendor_Files/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Get_Vendor_Files/tasks/main.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible, arch:ppc64le (pLinux)

#2240 Install boot JDk16 for bootstrapping JDK17 builds.
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk16/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

#2243 docker: remove backslash from ansible-playbook command
  ansible/docker/Dockerfile.Ubuntu1604
Labels: docker

#2241 UnixPb: Install packages from repositories instead of compiling when necessary
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ccache/tasks/main.yml
Labels: ansible

#2216 pbTests: Update Vagrantfile paths in VPC/vmDestroy
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
  ansible/pbTestScripts/vmDestroy.sh
Labels: Vagrant, pbTests
