Repository adoptium/infrastructure, pull requests merged in 2021-05, with the labels that each got.

#2164 UnixPB: change conditions to include Ubuntu versions greater and equal to 20
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NTP_TIME/tasks/main.yml
Labels: ansible

#2156 inventory: Remove first set of Ubuntu 16.04 systems
  ansible/inventory.yml
Labels: ansible

#2168 winPB: Remove MSVS_2010 & VS2010SP1
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2010/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/VS2010_SP1/tasks/main.yml
Labels: ansible, os:windows

#2180 pbTests: Autodetect JDK-7 or default to JDK8 when building JDK8
  ansible/pbTestScripts/buildJDK.sh
Labels: Vagrant, pbTests

#2169 pbTests: Add Ubuntu21.04 VPC support
  ansible/Vagrantfile.Ubuntu2104
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
  ansible/pbTestScripts/vmDestroy.sh
Labels: Vagrant, ansible, pbTests

#2130 unixPB: Add fontconfig to DockerStatic Dockerfiles
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.cent8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f33
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1604
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1804
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2004
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2010
Labels: ansible, testFail

#2170 pbTests: Ignore VPC '--test' argument instead of failing
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, pbTests

#2186 remove GPL headers and add COC
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/nagios/nagios_aix.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/check_pkg
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/check_sw_up
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/check_yum
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/check_zypper
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_FreeBSD.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_Ubuntu.yml
  ansible/playbooks/nagios/nagios_aix.yml.old
Labels: ansible, doc

#2084 unixPB: Remove OpenSSL 1.0.2r playbook
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/OpenSSL102/tasks/main.yml
Labels: ansible

#2187 docker: add jenkinsfile to build images
  .travis.yml
  Jenkinsfile
Labels: docker

#2190 pbTests: Increase QPC.sh sleep time
  ansible/pbTestScripts/qemuPlaybookCheck.sh
Labels: Vagrant, pbTests

#2189 UnixPB: Add Ubuntu 2104 to DockerStatic role
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2104
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: DockerStatic, ansible
