Repository adoptium/infrastructure, pull requests merged in 2021-02, with the labels that each got.

#1875 inventory: Remove decommisioned GoDaddy machines
  ansible/inventory.yml
Labels: provider:godaddy

#1845 unixPB: Do not hardcode releases in apt (Debian)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
Labels: ansible

#1874 aixPB: Add RBAC configuration to enable RealTime Clock usage by user, e.g., jenkins
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/jenkins_user/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/rbac/tasks/main.yml
Labels: bug

#1870 unix/winPB: Allow use of local Vendor_Files folder
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Get_Vendor_Files/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Get_Vendor_Files/tasks/main.yml
Labels: ansible, enhancement

#1882 Github: Fix Solaris check brew-cask error
  .github/workflows/build_vagrant.yml
Labels: bug, os:macOS

#1893 aixPB: Add adoptopenjdk tags for Vendor_File roles
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
Labels: ansible, enhancement, os:aix

#1894 unixPB: Fix condition for numactl RHEL7/S390x
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
Labels: ansible, arch:s390x (zLinux), bug

#1895 unixPB: Update Nagios_Plugins install for macOSX
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_MacOSX.yml
Labels: Nagios, ansible, os:macOS

#1896 unixPB: Update Checksum for Docker CentOS/RHEL7 x64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible, bug

#1891 unixPB: Update U16/PPC64LE Cuda Repo URL
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
Labels: bug

#1900 docs: update machine addition section of FAQ with AWX info
  FAQ.md
Labels: ansible, doc

#1927 UnixPB: install perl-test-simple on rhel
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: ansible

#1811 unixPB enable core dumps on macOS
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: enhancement

#1903 inventory: Add alibaba aarch64 machines
  ansible/inventory.yml
Labels: provider:packet

#1917 unixPB: Find Locale-list based on RHEL major_version
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
Labels: RedHat, ansible

#1912 unixPB: Fix U20 condition in Nagios_Plugins
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_Ubuntu.yml
Labels: Nagios, ansible, bug

#1930 inventory: Add alibaba aarch64 machines
  ansible/inventory.yml
Labels: enhancement

#1933 VPC: add MBCS test for vagrant playbook check job
  ansible/pbTestScripts/testJDK.sh
Labels: Vagrant

#1937 unixPB: Update checksum for CentOS/RHEL s390x docker repo
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible, arch:s390x (zLinux), docker

#1936 unixPB: Fix typo macoS -> macos
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Jenkins_User/tasks/main.yml
Labels: ansible, os:macOS

#1706 unixPB: Add gcc9 for Dragonwell
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_9/tasks/main.yml
Labels: ansible

#1942 Remove linaro
  ansible/inventory.yml
Labels: provider:linaro

#1947 winPB: Update Openssl to 1.1.1j
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/OpenSSL/tasks/main.yml
Labels: enhancement

#1944 Remove JDK13/14, Add JDK15 to the machines for bootstrapping current releases
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

#1953 winPB: Ignore Program Files (x86) shortname errors
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Common/tasks/main.yml
Labels: ansible, bug, windows

#1925 Implement dockerhost.yml playbook for systems running static docker containers for test
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockerhost.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/FreeBSD.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Solaris.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/openSUSE.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Crontab/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.cent8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f33
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1604
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1804
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2004
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2010
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adopt_etc/tasks/main.yml
Labels: ansible, docker

#1957 UnixPB: symlink /usr/bin/java to /usr/java8_64/jre/bin/java
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk8/tasks/main.yml
Labels: ansible, os:aix

#1965 inventory: add AMD dockerhost system
  ansible/inventory.yml
Labels: docker, provider:packet

#1968 winPB: List Jenkins user groups
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Jenkins/tasks/main.yml
Labels: ansible, windows

#1964 AixPB: add zlib_links role
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
Labels: ansible

#1971 GHChecks: Ansible-lint Ignore variables file
  .ansible-lint
  .github/workflows/linter.yml
Labels: bug, checks-issue

#1972 inv: Add build-azure-win2016-x64-1
  ansible/inventory.yml
Labels: windows

#1970 unixPB: Install Python2.7 on C6; Use it to install JDKs
  ansible/Dockerfile.CentOS6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Python2.7/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible, bug

#1956 pbTests: Allow use of default values for make-adopt-build-farm.sh
  ansible/pbTestScripts/buildJDK.sh
  ansible/pbTestScripts/buildJDKWin.sh
Labels: Vagrant

#1975 aixPB: Lock cmake from yum to 3.14.3
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
Labels: openj9, os:aix

#1960 unixPB: Add static Alpine containers for tests
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Crontab/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp311
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp312
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: enhancement

#1958 WindowsPB: Include cmake in cygwin package list
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: ansible
