Repository adoptium/infrastructure, pull requests merged in 2021-04, with the labels that each got.

#2104 pbTests: Rearm Windows 2012 VF before playbook
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, pbTests

#2088 pbTests: Log console output of QEMU VM on first boot
  ansible/pbTestScripts/qemuPlaybookCheck.sh
Labels: Vagrant, pbTests

#2122 inv: Add gdams RISC-V machines
  ansible/inventory.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible, arch:RISC-V

#2114 inventory: add m1 build macOS machines + playbook support for m1
  ansible/inventory.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/scripts/install-fiddle.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

#2007 aixPB: bypass the need for yum.sh to download and install AIXToolbox yum package
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
Labels: ansible, os:aix

#2112 pbTests: Ensure use of correct port when running Win build
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, os:windows, pbTests

#2124 unixPB: disable macOS keychain timeout
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/macos_codesign/tasks/main.yml
Labels: ansible, os:macOS

#2128 inventory: add test macos m1 machines
  ansible/inventory.yml
Labels: ansible, os:macOS

#2134 actions: remove homebrew adopt cleanup block
  .github/workflows/build_mac.yml
Labels: ghActions

#2132 pbTests: Fixup buildJDK arguments in QPC & export buildJDK vars
  ansible/pbTestScripts/buildJDK.sh
  ansible/pbTestScripts/qemuPlaybookCheck.sh
Labels: Vagrant, pbTests

#2136 unixPB: install gnupg on macOS machines
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
Labels: ansible

#2150 inventory: Remove two OSUOSL Ubuntu 16.04 hosts
  ansible/inventory.yml
Labels: ansible

#2144 unixPB: Install pigz on CentOS to speed up final build compression
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
Labels: ansible

#2161 inventory: Remove final AWS Windows machine
  ansible/inventory.yml
Labels: ansible, provider:aws

#2152 inventory: add dockerhost systems
  ansible/inventory.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible, docker

#2148 docs: Update FAQ with information on DockerStatic containers
  FAQ.md
Labels: doc, docker, enhancement

#2159 winPB: Ensure hostnames don't end in a hyphen
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Common/tasks/main.yml
Labels: ansible, os:windows

#2135 ansible: Add CentOS Altra from equinix
  ansible/inventory.yml
Labels: ansible, provider:packet

#2117 Updated for Alpine Linux 3.13 based on Part 1 & 2 instructions
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp313
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: ansible
