Repository adoptium/infrastructure, pull requests merged in 2021-11, with the labels that each got.

#2372 UnixPB: Install OpenSSL102 & lib pkgs together
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/CentOS6-Cent7SSL/tasks/main.yml
Labels: ansible

#2380 docs: add skytap logo to sponsors page
  README.md
Labels: doc

#2381 pbTests: Add updateBoxes script.
  ansible/pbTestScripts/README.md
  ansible/pbTestScripts/updateBoxes.sh
Labels: Vagrant, doc, pbTests

#2382 vagrant: Configure hosts & hostname in Sol10 VF
  .github/workflows/build_vagrant.yml
  ansible/vagrant/Vagrantfile.Solaris10
Labels: Vagrant, ghActions

#2370 Inventory: change testpacket machine name to 2004
  ansible/inventory.yml
Labels: ansible

#2383 pbtests: Don't update Debian8 boxes
  ansible/pbTestScripts/updateBoxes.sh
  ansible/vagrant/Vagrantfile.Debian8
Labels: Vagrant, pbTests

#2384 winPB: Correct codesign cert win_file module
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/CodesignCert/tasks/main.yml
Labels: ansible

#2385 inventory: Remove scaleway armv7l machines
  ansible/inventory.yml
Labels: ansible, provider:scaleway

#2392 aixPB: Update inventory with new hostnames (replace 'ojdk' with 'adopt')
  ansible/inventory.yml
Labels: os:aix, ansible

#2397 UnixPB: Remove DST_Root_CA_X3 cert for Deb8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
Labels: ansible

#2391 inventory: add new alibaba machines to inventory
  ansible/inventory.yml
Labels: ansible
