Repository adoptium/infrastructure, pull requests merged in 2021-03, with the labels that each got.

#1967 QPC: Remove image files after run
  ansible/pbTestScripts/qemuPlaybookCheck.sh
Labels: bug, pbTests

#1962 pbTests: Synchronise branch specification in VPC & QPC
  ansible/pbTestScripts/README.md
  ansible/pbTestScripts/buildJDK.sh
  ansible/pbTestScripts/buildJDKWin.sh
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: pbTests

#1984 UnixPB: Install Zulu-7 on Ubuntu1604
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/zulu7/tasks/main.yml
Labels: ansible, bug

#1987 inventory: Remove test-azure-win2012r2-x64-2
  ansible/inventory.yml
Labels: provider:azure, windows

#2000 github: add regex parsing bot for additional labelling
  .github/regex_labeler.yml
  .github/workflows/labeler.yml
Labels: ghActions

#1993 inventory: add nine test macs
  ansible/inventory.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible, os:macOS

#1999 unixPB: Various small fixes to get AWX running cleanly
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_RedHat.yml
Labels: ansible

#1998 unixPB: Fix Swapfile detection
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Swap_File/tasks/main.yml
Labels: ansible

#1996 UnixPb: change ansible_default_ipv4.address variable to ansible_host
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Debug/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adopt_etc/tasks/main.yml
Labels: ansible

#2005 UnixPB: Install Python 2.7.18 on RHEL6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Python2.7/tasks/main.yml
Labels: ansible

#2009 unixPB: Use alt JDK install for RHEL6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

#2006 unixPB: Check Nagios Plugins folder for RedHat
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_RedHat.yml
Labels: ansible

#2017 inventory: Quote IPV6 addresss since adoptopenjdk_yaml.py cannot parse inventory
  ansible/inventory.yml
Labels: ansible, bug

#2031 switch mac regex to macos to fix matching
  .github/regex_labeler.yml
Labels: os:macOS

#2020 UnixPb: add stdout of registered variable
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible, os:macOS

#2036 unixPB: Add ssh client to CentOS common packages
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
Labels: ansible

#2022 vagrant: apt-mark hold grub-pc on Debian10
  ansible/Vagrantfile.Debian10
Labels: Vagrant

#2012 github: add nine label to bot and update docs
  .github/labeler.yml
  .github/regex_labeler.yml
Labels: enhancement, ghActions

#2047 unixPB/winPB: Add ansible_version to debug info
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/debug/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Debug/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Debug/tasks/main.yml
Labels: ansible, enhancement

#1698 aixPB: xlc16 changes
  .gitignore
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/xlc_v16/tasks/main.yml
Labels: ansible, enhancement, os:aix

#2013 aixPB: fix minimum size test to real minimum of 60G, exit 1 on fail
  ansible/playbooks/scripts/AIX_filesystem_config.sh
Labels: ansible, os:aix

#1988 AixPb: create hosts_file role for aix
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/hosts_file/tasks/main.yml
Labels: ansible, os:aix

#2053 aixPB: name debug: tasks to satisfy linter
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ant/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ant_contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/xlc_v13/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/xlc_v16/tasks/main.yml
  ansible/playbooks/aix.yml.old
  ansible/playbooks/nagios/nagios_aix.yml.old
Labels: ansible, os:aix

#2058 unixPB: Add missing deps to Alpine for testing
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp311
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp312
Labels: ansible

#2049 aixPB: Add crontab entries to ensure stale (jenkins) files and directories are removed
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/crontab/tasks/main.yml
Labels: ansible, os:aix

#1696 aixPB: Modify X11 task use stat module rather than command.
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/X11/tasks/main.yml
Labels: ansible, os:aix

#2051 UnixPB: Add names to all the debug tasks to satisfy linter
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/hosts_file/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Ant-Contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/OpenSSL/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Providers/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adopt_etc/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/nasm/tasks/main.yml
  ansible/playbooks/nagios/nagios_aix.yml.old
Labels: ansible

#2067 github: make linter use the correct file for checking AIX playbook
  .github/workflows/linter.yml
Labels: ansible, bug, ghActions, os:aix

#2041 Update FAQ.md with some brief guidance and links to build/test problem reproduction
  FAQ.md
Labels: doc

#2037 Ensure en_US.utf8 is in static docker test containers
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f33
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1604
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u1804
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2004
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2010
Labels: ansible, bug, docker

#2003 vagrant: add windows 2016 support and action
  ansible/Vagrantfile.Win2016
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
  ansible/pbTestScripts/vmDestroy.sh
Labels: Vagrant, os:windows, pbTests

#2075 doc: Update README with current list of machine admins
  README.md
Labels: doc

#2083 winPB: Update Openssl to 1.1.1k
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/OpenSSL/tasks/main.yml
Labels: ansible

#2082 doc: Add Martijn to core team in README.md
  README.md
Labels: doc

#2095 inventory: Replace build-macstadium-macos1010-x64-1 with build-macstadium-macos10104-x64-3
  ansible/inventory.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_MacOSX.yml
Labels: ansible, arch:x64, os:macOS

#2063 Install full Xcode
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/files/macos/profile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/scripts/install-xcode.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode10/tasks/main.yml
Labels: ansible

#2099 inventory: Remove DTK machines
  ansible/inventory.yml
Labels: ansible

#2098 doc: miscellaneous updates to CONTRIBUTING guide
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  FAQ.md
Labels: doc

#2097 doc: updates to README.md
  README.md
Labels: doc

#2096 docs: add information about the build dockerfiles
  FAQ.md
Labels: doc, docker

#2076 AixPb: add missing yum tags
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
Labels: ansible
