Repository adoptium/infrastructure, pull requests merged in 2021-10, with the labels that each got.

#2330 aixPB: remove unneeded libXrender-devel and related packages
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
Labels: os:aix, ansible

#2326 UnixPb: add epel-release to centos8 dockerfile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.cent8
Labels: ansible, docker

#2338 Playbooks: Add java 17 bootstrap to Unix, Windows and AIX playbooks
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible
