Repository adoptium/infrastructure, pull requests merged in 2022-03, with the labels that each got.

#2151 inventory: Rename packet to equinix
  ansible/inventory.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible, provider:packet

#2494 inventory: add new macincloud Monterey/x64 systems
  ansible/inventory.yml
Labels: ansible, arch:x64

#2481 UnixPb: Turn off unnecessary desktop environment
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/disable_gui/tasks/main.yml
Labels: ansible

#2504 UnixPb: Set xcode switch path to full path on build machines
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
Labels: ansible

#2505 inventory: remove older (pre 10.14) macos systems
  ansible/inventory.yml
Labels: ansible, os:macOS
