Repository adoptium/infrastructure, pull requests merged in 2022-08, with the labels that each got.

#2519 unixPb: Add role to install CRIU on Linux x86-64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/criu/tasks/main.yml
Labels: ansible

#2394 unixPB: Remove xorg packages to avoid dragging in gdm
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/openSUSE.yml
Labels: ansible

#2679 unixPb: Install shared-mime-info on fedora docker static containers
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f33
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f34
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f35
Labels: ansible, docker

#2690 inventory: Add replacement Linux/s390x systems from Marist
  ansible/inventory.yml
Labels: arch:s390x (zLinux), ansible

#2699 Inventory: Correct SLES15 and Rhel8 marist names
  ansible/inventory.yml
Labels: ansible, provider:marist

#2701 unixPB: verify sha256sum of gmake 4.1 source
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
Labels: ansible

#2698 unixPB: remove unneeded repos from Ubuntu playbooks
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
Labels: ansible, currency

#2691 unixPB: Remove gcc-7 package install as we use our self-built one
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
Labels: ansible

#2707 Docker: Fix docker repo for s390x rhel
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/rhel.yml
Labels: arch:s390x (zLinux), ansible, docker

#2714 GH: upgrade runner from macos-10.15 to macos-11
  .github/workflows/build_mac.yml
  FAQ.md
Labels: os:macOS, doc, ghActions

#2712 UnixPB: sles15 python interpreter default change, add cron to package list.
  ansible/inventory.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
Labels: ansible
