Repository adoptium/infrastructure, pull requests merged in 2022-12, with the labels that each got.

#2837 Decommissioning of old Marist s390x systems
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: arch:s390x (zLinux), ansible

#2845 unixPB: Stop installing two JDK8s on Alpine
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

#2841 Inventory: Update inventory file with new equinix machines
  ansible/inventory.yml
Labels: ansible

#2852 inventory: Remove 139.178.86.243 from build label hosts, add to dockerhosts dockerhost-equinix-ubuntu2204-armv8-1
  ansible/inventory.yml
Labels: ansible, docker

#2854 Inventory - Fix issue 2851
  ansible/inventory.yml
Labels: ansible

#2870 docs: Delete CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: doc
