Repository adoptium/infrastructure, pull requests merged in 2022-06, with the labels that each got.

#2574 Updates to the FAQ relating to 'good' openjdk test cases to use for infrastructure checks
  FAQ.md
Labels: doc, docker

#2590 inventory: add our two hetzner infrastructure machines (nagios+jenkins)
  ansible/inventory.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible, Nagios

#2232 pbTests add win playbook testing using WSL
  .github/workflows/build_wsl.yml
  FAQ.md
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2013/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Windows_Updates/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/shortNames/scripts/shortName.ps1
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/shortNames/tasks/main.yml
Labels: ansible, doc, ghActions

#2592 ansible: fix wrong path for nagios NTP check on Centos/RHEL
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/check_ntp_timesync.cfg
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/check_timesync.cfg
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/zypper.cfg
Labels: ansible, Nagios

#2595 VPC: Clean up vagrant boxes on exit
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
Labels: Vagrant, pbTests

#2542 unixPB: Add gcc11.2 role for jdk19+
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_11/tasks/main.yml
Labels: ansible

#2449 UnixPB: Use 'changed_when: false' when using shell tasks to query
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/CentOS6-Cent7SSL/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/FreeBSD.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Solaris.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/openSUSE.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/GIT_Source/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Get_Vendor_Files/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/OpenSSL/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Providers/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Python2.7/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Python3_Source/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ant/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/autoconf/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ccache/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/cmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/maven/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/nasm/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/zulu7/tasks/main.yml
Labels: ansible

#2450 winPB: Add 'changed_when: false' when using shell tasks to query
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Get_Vendor_Files/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/WMF_5.1/tasks/main.yml
Labels: ansible

#2586 UnixPb: Install x64 alpine bootjdks where available
  ansible/docker/Dockerfile.Alpine3
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible, arch:x64, docker

#2588 ansible: refact trss
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/trss.yml
Labels: ansible

#2602 ansible: fix linter
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/openjdk.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Ant-Contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

#2607 unixPB: Check SHAs of downloaded GCC11 tarballs
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_10/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_11/vars/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_9/tasks/main.yml
Labels: ansible

#2608 trssPB: Install java for the TRSS jenkins agent
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/trss.yml
Labels: ansible

#2613 unixPB: Avoid attempting to install ccache on RHEL7
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: ansible, reliability

#2618 unixPB: remove two package for docker installaion
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible, docker

#2620 VPC: Exclude sbom directory from TEST_JDK_HOME export for tests.
  ansible/pbTestScripts/testJDK.sh
Labels: Vagrant, pbTests

#2577 unixPB: Add Centos8 Stream Support
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
Labels: ansible

#2628 ansible: Keep Alpine building with 3.15 until OpenJDK supports
  ansible/docker/Dockerfile.Alpine3
Labels: docker

#2633 Vagrant: remove deb 8 vagrant file
  ansible/vagrant/Vagrantfile.Debian8
Labels: Vagrant

#2622 ansible: disable installing freemarker on unix, win and mac
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
Labels: ansible

#2646 unixPB: upgrade nodejs from 12.x to 16.x for TRSS
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/trss.yml
Labels: ansible

#2649 docker: Add Dockerstatic File for Debian 11.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.deb11
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/scripts/updatepackages.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: ansible, docker
