Repository adoptium/infrastructure, pull requests merged in 2022-07, with the labels that each got.

#2430 github: Provide more suggestions for info to include for a test failure
  .github/ISSUE_TEMPLATE/testcasefail.md
Labels: doc

#2655 Add AIX 7.2 build machine to the inventory file
  ansible/inventory.yml
Labels: ansible, provider:osuosl

#2665 UnixPB: Update Git To Newer Version On Solaris 10.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Clean_Up/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Solaris.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Solaris.yml
Labels: critical, ansible

#2671 unixPB: SLES15(SP3) Compatibility Fixes & Updates
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Jenkins_User/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Superuser/tasks/main.yml
Labels: ansible
