Repository adoptium/infrastructure, pull requests merged in 2022-09, with the labels that each got.

#2726 UnixPb: Install Cronie and Bzip2 for SLES
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
Labels: ansible

#2733 github: macos-12 for solaris
  .github/workflows/build_vagrant.yml
Labels: os:macOS, Vagrant, ghActions

#2741 github: Download Solaris10 box Image If Missing
  .github/workflows/build_vagrant.yml
Labels: ghActions

#2744 UnixPB: Correct issues with Git on SLES12 SP5.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
Labels: ansible

#2746 UnixPb: Add (basic) logs role
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: ansible

#2751 UnixPB: Add latest commit SHA to ansible.log file
  .github/workflows/build.yml
  ansible/docker/Dockerfile.Alpine3
  ansible/docker/Dockerfile.CentOS6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adopt_etc/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: ansible, docker, ghActions

#2736 Install default gcc and not attempt to do individual versions
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: ansible, reliability
