Repository adoptium/infrastructure, pull requests merged in 2022-10, with the labels that each got.

#2740 winPB: Fix broken Visual Studio 2013 role to use local installation media
  ansible/README.md
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/7-Zip/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Java_install/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2013/tasks/main.yml
Labels: ansible, doc

#2728 unixPB: Do not install 31-bit support files on RHEL/s390x
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: arch:s390x (zLinux), ansible

#2721 Docker: Add Ansible support for docker on Rhel8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/rhel.yml
Labels: ansible, docker

#2757 ansible: Update iptables
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

#2638 Ansible:Nagios:Server - Automate Base Server Installation
  ansible/playbooks/nagios/README.md
  ansible/playbooks/nagios/VagrantFiles/Vagrantfile.Nagios.Server.Ubuntu2204
  ansible/playbooks/nagios/ansible.cfg
  ansible/playbooks/nagios/nagios_aix.yml.old
  ansible/playbooks/nagios/nagios_inventory.yml
  ansible/playbooks/nagios/play_setup_server.yml
  ansible/playbooks/nagios/roles/Nagios_Server/README.md
  ansible/playbooks/nagios/roles/Nagios_Server/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Server/scripts/commands.cfg
  ansible/playbooks/nagios/roles/Nagios_Server/scripts/slack_nagios.pl
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_commands.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_core.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_server_monitoring.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagios_core.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagios_plugins.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagios_scripts.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagiosgraph.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_pnp4nagios.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/main.yml
  ansible/playbooks/nagios/roles/Nagios_Server/vars/Ubuntu.yml
  ansible/playbooks/nagios/secrets_setup_server.enc
  ansible/playbooks/nagios/vars_setup_server.yml
Labels: ansible, doc

#2761 docker: Copy from the correct directory in Centos6 and Alpine dockerfiles
  ansible/docker/Dockerfile.Alpine3
  ansible/docker/Dockerfile.CentOS6
Labels: docker

#2768 docker: Add dockerbuild file for Ubuntu 22.04
  ansible/docker/Dockerfile.Ubuntu2204
Labels: docker

#2769 unixPB: Remove gcc-7 install from Ubuntu 16
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
Labels: ansible

#2696 Dockerstatic: Add sles12 and sles15 dockerfiles
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles12
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles15
Labels: ansible, docker

#2780 Docker: Pass the git sha to the centos7 and ubuntu 16 dockerfiles
  Jenkinsfile
  ansible/docker/Dockerfile.CentOS7
  ansible/docker/Dockerfile.Ubuntu1604
Labels: docker

#2799 github: forward repo secrets to code freeze workflow
  .github/workflows/code-freeze.yml
Labels: ghActions

#2748 UnixPB: Update CRIU role for Ubuntu
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/criu/tasks/main.yml
Labels: ansible
