Repository adoptium/infrastructure, pull requests merged in 2022-02, with the labels that each got.

#2463 VFs: Update yum repos for C8
  ansible/vagrant/Vagrantfile.CentOS8
Labels: Vagrant

#2482 inventory: Reallocate build-macstadium-macos1014-x64-3 to test
  ansible/inventory.yml
Labels: ansible, os:macOS, arch:x64

#2484 inventory: update AIX systems: remove test-ibm:, rename some osuosl systems
  ansible/inventory.yml
Labels: ansible, provider:osuosl

#2485 aixPB: remote 'set -o pipefail' as lint measure (yum role)
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
Labels: os:aix, ansible
