Repository adoptium/infrastructure, pull requests merged in 2023-01, with the labels that each got.

#2856 WinPB : Bump Nvidia Cuda To 9.1
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
Labels: ansible

#2866 Dockerstatic: Move gnupg and curl to top of deb11 dockerfile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.deb11
Labels: ansible, docker

#2860 unixPB: install automake on macOS
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
Labels: ansible

#2863 Inventory parsing role
  ansible/playbooks/nagios/play_config_server.yml
  ansible/playbooks/nagios/roles/Nagios_Config/README.md
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Server_Configurations.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Get_Ansible_Inventory.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/vars/Ubuntu.yml
  ansible/playbooks/nagios/vars_configure_server.yml
Labels: ansible, doc

#2871 inventory: add skytap dockerhost to inventory.yml
  ansible/inventory.yml
Labels: ansible, docker

#2855 Add perl-IPC-Cmd to Redhat/CentOS installs for OpenSSL v3 compile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: ansible

#2877 Ansible: Nagios: Fix service group matching and parameterise.
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Server_Configurations.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
Labels: ansible

#2862 ansible: Decommissioning of old solaris/x64 systems
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible, arch:x64

#2891 Amend Nagios/Ansible Config Role To Create Service Groups Config File
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Servicegroups_config_file.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Servicegroups.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
  ansible/playbooks/nagios/vars_configure_server.yml
Labels: ansible

#2881 UnixPB: Script to provide GPG signature verification for downloaded binaries
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/group_vars/all/adoptopenjdk_variables.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Alpine.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Solaris.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ant/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/autoconf/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/cmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gmake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/maven/tasks/main.yml
  ansible/playbooks/Supporting_Scripts/package_signature_verification.sh
Labels: ansible

#2901 docs: add Scott Fryer as infrastructure team member
  README.md
Labels: doc
