Repository adoptium/infrastructure, pull requests merged in 2023-08, with the labels that each got.

#3139 AIXPB: add maxuproc to sys0 role
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/sys0/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/syslog/tasks/main.yml
Labels: ansible

#3146 unixPB: Stop forcing JDK19_BOOT_DIR to point at a JDK18
  ansible/docker/Dockerfile.Alpine3
Labels: docker

#3151 docker: Lock PyYAML for Ubuntu 16 build dockerfile
  ansible/docker/Dockerfile.Ubuntu1604
Labels: docker

#3156 github: Update The URL for the ansible Powershell Script
  .github/workflows/build_wsl.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/vagrant/Vagrantfile.Win2012
  ansible/vagrant/Vagrantfile.Windows2022.Core
Labels: ansible, Vagrant, ghActions

#3153 Update ansible for AIX - X11 forwarding.
  ansible/README.md
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/security/handlers/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/security/tasks/main.yml
Labels: ansible, doc

#3143 ansible: rebrand build-osuosl-aix71-ppc64-1 as test-osuosl-aix73-ppc64-1
  ansible/inventory.yml
Labels: os:aix, ansible, provider:osuosl

#3154 winPB: Install 32bit NSClient On ARM64 Windows Machines
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NSClient/tasks/main.yml
Labels: ansible

#3152 unixPb: run the updatepackage.sh script via dockerhost playbook
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/scripts/updatepackages.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml
Labels: ansible, docker

#3040 UnixPb: CentOS8 Updates
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
Labels: ansible

#3165 inventory: Add specs for macstadium systems for reference
  ansible/inventory.yml
Labels: ansible

#3163 inventory: Correct the OS for dockerhost skytap machine
  ansible/inventory.yml
Labels: ansible, docker, provider:skytap
