Repository adoptium/infrastructure, pull requests merged in 2023-02, with the labels that each got.

#2913 inventory: Remove two old AWS machines
  ansible/inventory.yml
Labels: ansible

#2914 inventory: Remove 2 defunct docker- hosts.
  ansible/inventory.yml
Labels: ansible, docker

#2909 ansible: Decommissioning of old Windows machines
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

#2782 unixPB: Adjust boot JDKs to current required ones. Remove JDK11
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible

#2919 unixPB: fix linter
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/X11/tasks/main.yml
Labels: ansible

#2756 Jenkins: Add centos6 build job to centos7_docker_image_updater jenkins job
  Jenkinsfile
Labels: docker

#2898 Amend Nagios/Ansible Config Role To Create Host Groups Config File
  ansible/playbooks/nagios/roles/Nagios_Config/scripts/Create_Nagios_Hostgroups.py
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Hostgroups.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/main.yml
  ansible/playbooks/nagios/vars_configure_server.yml
Labels: ansible

#2895 Remove jck-packet-ubuntu2004-x64-1 and jck-equinix-containerized-alpi…
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible, arch:x64

#2785 ansible: Set up new Ubuntu 20.04 s390x machine
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: arch:s390x (zLinux), ansible

#2916 UnixPB: Add new Ubuntu ntp plugin for nagios
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/check_ubuntu_ntp_timesync
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_Ubuntu.yml
Labels: ansible, Nagios

#2928 NagiosPB : Fix nagios server linter
  ansible/playbooks/nagios/README.md
  ansible/playbooks/nagios/play_setup_server.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Hostgroups.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Server_Configurations.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Create_Nagios_Servicegroups.yml
  ansible/playbooks/nagios/secrets_setup_server.enc
  ansible/playbooks/nagios/secrets_setup_server.prod
Labels: ansible, Nagios, doc

#2861 Workflow: Migrate QEMU playbook check to github workflow
  .github/workflows/build_qemu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible, ghActions, QEMU-playbook-check

#2941 Docs: update pr testing information
  CONTRIBUTING.md
Labels: doc

#2940 Ansible: Ansible Linter related fixes
  .ansible-lint
  .github/workflows/build_vagrant.yml
  .github/workflows/build_wsl.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/X11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ant/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ant_contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/openjdk.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/rbac/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/rbac/tasks/setsecattr.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/security/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/users/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/users/tasks/nagios.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/users/tasks/zeus.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/xlc_v13/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/xlc_v16/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockerhost.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/git-hg-jenkins.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/linux_installer_setup.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/trss.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/ubuntu-jckservices.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/tasks/Get_Ansible_Inventory.yml
Labels: ansible, ghActions

#2943 Dockerstatic: Add packages for uptime, diff and hostname for UBI8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.ubi8
Labels: ansible

#2937 NagiosPB : Create service groups config file
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_core.yml
Labels: ansible

#2918 AIXPb: Enable ansible logs on aix machines
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bash_login/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/disable_sendmail/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/enable_swap/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/fullcore/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/logs/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ntp_time_server/tasks/main.yml
Labels: os:aix, ansible

#2942 doc: change references of ci.adoptopenjdk.net to ci.adoptium.net
  .github/ISSUE_TEMPLATE/testcasefail.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build_vagrant.yml
  CONTRIBUTING.md
  FAQ.md
  ONBOARDING.md
  ansible/README.md
  ansible/inventory.yml
  ansible/pbTestScripts/README.md
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/README.md
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/check_label
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/nagios_server_plugins/check_agent
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/nagios_server_plugins/check_inventory
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/nagios_server_plugins/check_nagios_sync
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Python2.7/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/freemarker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_10/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_9/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/riscv_cross_compiler/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/README.md
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Clang_32bit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Clang_64bit/tasks/main.yml
  docs/Setup-QEMU-Images.md
  docs/adoptopenjdk.graphml
Labels: ansible, Vagrant, doc, pbTests, ghActions

#2947 Install Liberica 11 on Solaris systems (for jenkins agent)
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/files/fallocate.c
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/files/i386/fallocate.so
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/files/sun4v/fallocate.so
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Solaris.yml
Labels: ansible

#2963 UnixPB: Add symlinks for libffi.so.6 on SLES12 & SLES15
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible
