Repository adoptium/infrastructure, pull requests merged in 2023-05, with the labels that each got.

#3034 doc: Update Nagios playbook documentation.
  ansible/playbooks/nagios/README.md
  ansible/playbooks/nagios/documentation/HOW_TO_ADD_WINDOWS_TO_NAGIOS.md
  ansible/playbooks/nagios/documentation/Manually_Adding_Nagios_Service_Checks.MD
  ansible/playbooks/nagios/documentation/USAGE_GUIDE.md
  ansible/playbooks/nagios/roles/Nagios_Config/README.md
Labels: ansible, doc

#3045 unixPb: Skip MacOS package upgrade on 10.15 and under
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

#3035 aixPb: Verify GPG signature of jdk downloads
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/openjdk.yml
Labels: os:aix, ansible

#3053 ansible: remove test-osuosl-aix72-ppc64-[3,4]
  ansible/inventory.yml
Labels: os:aix, ansible, provider:osuosl

#3056 inventory: Remove 2 decommissioned marist boxes
  ansible/inventory.yml
Labels: ansible, provider:marist

#3031 doc: Update maintenance window info and jenkins patching instructions
  README.md
Labels: doc

#3060 unixPb: Install docker on SLES15 s390x not SLES12
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/sles.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
Labels: arch:s390x (zLinux), ansible, docker

#3037 unixPb: Link libffi.so.4 to libffi.so.6 in SLES12 s390x dockerfile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles12
Labels: arch:s390x (zLinux), ansible, docker

#3069 ansible: rebrand build-osuosl-aix71-ppc64-2
  ansible/inventory.yml
Labels: os:aix, ansible, provider:osuosl

#3071 inventory: Add osuosl aarch64 machine
  ansible/inventory.yml
Labels: ansible, provider:osuosl

#3018 WIndowsPb: gpg signature verification for ANT binary
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/group_vars/all/adoptopenjdk_variables.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/ANT/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/GPG_signature_verification/tasks/main.yml
Labels: ansible

#3075 aixPb: Simplify conditions for when to transfer compiler packages
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/xlc_v13/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/xlc_v16/tasks/main.yml
Labels: os:aix, ansible

#3084 aixPb: Change numbers to strings in condition
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bootjdk/tasks/openjdk.yml
Labels: os:aix, ansible

#3081 ansible: rebrand test-osuosl-aix715-ppc64-[3,4]
  ansible/inventory.yml
Labels: os:aix, ansible, provider:osuosl
