Repository adoptium/infrastructure, pull requests merged in 2023-06, with the labels that each got.

#3088 aixPb: Ignore failure of disable_sendmail task
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/disable_sendmail/tasks/main.yml
Labels: os:aix, ansible

#3082 inventory: remove old Scaleway system
  ansible/inventory.yml
Labels: ansible

#3090 aixPB: add check for each of the RBAC auth used in the config
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/rbac/tasks/main.yml
Labels: os:aix, ansible

#3098 unixPB: Update maven URL to apache archive
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/maven/tasks/main.yml
Labels: ansible

#3103 windowsPb: Add adoptopenjdk tags to MSVS_2019 role
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: os:windows, ansible

#3108 ansible: rebrand test-osuosl-aix715-ppc64-[1,2]
  ansible/inventory.yml
Labels: os:aix, ansible, provider:osuosl

#3109 docker: link libffi library and install gawk in SLES15 dockerfile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles15
Labels: ansible, docker

#3111 UnixPB : Linter Fixes
  .ansible-lint
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible

#3105 windowsPb: add timeout variables to variables file
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/group_vars/all/adoptopenjdk_variables.yml
Labels: os:windows, ansible

#3110 NagiosPB : Add Jenkins host template and configuration to Config Server playbook.
  ansible/playbooks/nagios/roles/Nagios_Config/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Config/files/Nagios_Server_Config.py
  ansible/playbooks/nagios/roles/Nagios_Config/files/templates/jenkins-template.j2
Labels: ansible

#3112 windowsPb: skip msvs2019 install tasks when necessary
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: os:windows, ansible

#3114 inventory: remove scaleway systems
  .github/regex_labeler.yml
  ansible/inventory.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible, provider:scaleway

#3115 unixPB: Solaris remove duplicate jvm check and correct jvm search path
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Solaris.yml
Labels: ansible

#3118 inventory: remove solaris inspira machines from inventory
  ansible/inventory.yml
Labels: ansible
