Repository adoptium/infrastructure, pull requests merged in 2023-11, with the labels that each got.

#3226 UnixPB: Only install ssl test packages on x64 for Centos/RHEL
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.cent8
Labels: ansible, arch:x64

#3140 Add jck-skytap-aix72-ppc64-4
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: os:aix, ansible, provider:skytap

#3194 unixPB: Add an optional role for performance tools
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/performance_tools/tasks/main.yml
Labels: ansible

#3222 doc: Update AccessControl.md with repository information
  docs/AccessControl.md
Labels: doc

#3219 docs: Update CONTRIBUTING.md which is a bit stale
  CONTRIBUTING.md
Labels: doc

#3185 unixPb: Add role to install intel homebrew for arm64 macs
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
Labels: ansible, arch:arm64

#3243 WindowsPB: Update checksum for downloaded vs2022
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

#3240 [ansible] Add Ubuntu 20.04 linux-riscv64 image
  .github/workflows/build_qemu.yml
  FAQ.md
  Jenkinsfile
  ansible/docker/Dockerfile.Ubuntu2004-riscv64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible, doc, docker, ghActions, QEMU-playbook-check

#3242 WindowsPB: Prevent Installation Of Firefox & Bump Installation version of Thunderbird
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Thunderbird/tasks/main.yml
Labels: ansible

#3247 Docs: Add information on regular deployment of playbooks via AWX
  FAQ.md
Labels: doc

#3248 windowsPb: Move msvs2022 install into own block
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: os:windows, ansible

#3254 unixPb: Remove task to uninstall libpng
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

#3197 unixpb: Add Xcode11 installation tasks to Unix playbook
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode11/tasks/main.yml
Labels: ansible

#3256 WindowsPB: Update checksum for vs2022 download
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

#3259 UnixPB: Fix Linter For Xcode 11 task
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode11/tasks/main.yml
Labels: ansible

#3257 Vagrant: Add Windows Server 2022 option to VPC
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
  ansible/pbTestScripts/vmDestroy.sh
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
  ansible/vagrant/Vagrantfile.Win2022
Labels: ansible, Vagrant, pbTests

#3261 WindowsPB: Update checksum for vs 2022 community download
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

#3262 Wazuh: Initial commit of Wazuh code sharing repository.
  CONTRIBUTING.md
  wazuh/README.md
  wazuh/agent/windows/agent.snippet.conf
  wazuh/agent/windows/anti_flooding_config.MD
  wazuh/server/ssh-key-logging/0310-ssh_decoders.snippet.xml
  wazuh/server/ssh-key-logging/Extending_The_SSH_Logger.MD
Labels: doc

#3267 Vagrant: Increase boot timeout for windows machines
  ansible/vagrant/Vagrantfile.Win2012
  ansible/vagrant/Vagrantfile.Win2022
Labels: os:windows, Vagrant

#3269 UnixPB: Fix Docker Installation On Debian.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible

#3265 unixPB: Add strace tooling for Unix platforms, and truss for Solaris
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Alpine.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/FreeBSD.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/openSUSE.yml
Labels: ansible

#3263 github: Fix Centos6 build image push
  .github/workflows/build.yml
Labels: ghActions

#3270 UnixPB: Add Vagrant Playbook Checks On Ubuntu 22.04
  ansible/pbTestScripts/vmDestroy.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/nasm/tasks/main.yml
  ansible/vagrant/Vagrantfile.Ubuntu2204
Labels: ansible, Vagrant, pbTests
