Repository adoptium/infrastructure, pull requests merged in 2023-12, with the labels that each got.

#3273 github: Fix Centos6 build image push
  .github/workflows/build.yml
Labels: ghActions

#3271 aixPb: Add steps to install dnf and deprecate yum for AIX 7.2 and higher
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/dnf/tasks/main.yml
Labels: os:aix, ansible

#3282 ITWPlaybook: Improve Xcode Installation in ITW playbook.
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/Common/scripts/install-xcode.sh
Labels: ansible

#3277 unixPB: Fix errors in Common role to support Centos 9 Stream
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
Labels: ansible

#3293 unixPb: Update Centos7 image with patch & texinfo to enabled building of devkit
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: ansible

#3291 docs: Document the testing done in the infra repo
  docs/Testing.md
Labels: doc

#3296 jenkins: Reintroduce centos6 to centos7_docker_image_updater jenkins job
  Jenkinsfile
Labels: docker

#3230 inventory: Add OSUOSL aix build-3 with 7.2TL05+XLC17
  ansible/inventory.yml
Labels: os:aix, ansible, currency

#3295 doc: update FAQ with how to add new repository to AdoptOpenJDK dockerhub
  FAQ.md
Labels: doc, docker

#3278 aixPb: Install OpenSSL3 on Aix
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/openssl/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/openssl3/tasks/main.yml
Labels: os:aix, ansible

#3297 Github: Update Docker Login Credentials To Use Token
  .github/workflows/build.yml
Labels: ghActions

#3298 GitHub: Bump Dockerhub login action
  .github/workflows/build.yml
Labels: ghActions

#3301 Github: Disable push on merge & update document.
  .github/workflows/build.yml
  FAQ.md
Labels: doc, ghActions

#3299 docs: Correction to Tims git handle
  FAQ.md
Labels: doc

#3307 unixPb: Add fontconfig to common packages to be installed/updated on static docker containers
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/scripts/updatepackages.sh
Labels: ansible, docker

#3308 Download cross-build jdk17u and jdk21u from CI
  ansible/docker/Dockerfile.Ubuntu2004-riscv64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible, docker

#3305 inventory: remove test-azure-win2012r2-x64-1 and -3
  ansible/inventory.yml
Labels: ansible, arch:x64, provider:azure
