Repository adoptium/infrastructure, pull requests merged in 2023-03, with the labels that each got.

#2978 Temporarily remove the centos6 build from centos7_docker_image_updater
  Jenkinsfile
Labels: docker

#2983 docs: Remove security file
  SECURITY.md
Labels: doc

#2982 docker: add RHEL7 dockerfile for s390x builds
  ansible/docker/Dockerfile.RHEL7
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: arch:s390x (zLinux), ansible, docker, security, currency

#2992 winPB: add windows aarch64 machines
  ansible/inventory.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Jenkins/tasks/main.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: os:windows, ansible

#2993 inventory: Add win2022 machines and update windows docs for installing jenkins agent as a service.
  ansible/inventory.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/README.md
Labels: os:windows, ansible, doc

#2999 unixPb: GPG signature verification added to jdk downloads
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/group_vars/all/adoptopenjdk_variables.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible, QEMU-playbook-check
