Repository adoptium/infrastructure, pull requests merged in 2024-04, with the labels that each got.

#3497 inventory: Remove equinix x64 dockerhost machines from inventory file
  ansible/inventory.yml
Labels: ansible, arch:x64, docker

#3492 Changes to support RHEL7/s390x image creation and devkit inclusion
  FAQ.md
  ansible/docker/Dockerfile.RHEL7
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: arch:s390x (zLinux), ansible, doc, docker

#3509 inventory: Update public IP for win2019 test machine
  ansible/inventory.yml
Labels: ansible

#3510 AWX: Add windows collection packages to AWX collections.yml
  collections/requirements.yml
Labels: os:windows

#3504 inventory: remove spearhead
  ansible/inventory.yml
  ansible/playbooks/nagios/roles/Nagios_Config/files/Nagios_Server_Config.py
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible

#3511 docker: Assign port number to static docker container during automated deployment
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
Labels: ansible, docker

#3516 Inventory: Remove IBMCloud Win2012 Machines
  ansible/inventory.yml
Labels: ansible

#3526 UnixPB: Remove Nagios Tunnel Scripts For Improved Security
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockerhost.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Master_Config/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Tunnel/tasks/main.yml
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/Nagios_Ansible_Config_tool.sh
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/Nagios_RemoteTunnel.sh
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/README.md
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/apt.cfg
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/check_mem.cfg
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/check_ntp_timesync.cfg
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/check_timesync.cfg
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/dnf.cfg
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/hostgroup_template.cfg
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/mac.cfg
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/pkg.cfg
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/template.cfg
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/template_with_graph.cfg
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/yum.cfg
  ansible/playbooks/Supporting_Scripts/Nagios_Ansible_Config_tool/templates/zypper.cfg
Labels: ansible, doc

#3532 UnixPB: Include installation of docker-buildx plugin for Ubuntu 20+
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible, docker

#3533 inventory: Remove equinix_esxi systems
  ansible/inventory.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible

#3423 docker: script to retrieve static docker containers from jenkins
  ansible/DockerInventory.json
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/scripts/updateDockerStaticInventory.py
Labels: ansible, docker

#3520 UnixPB: Set ptrace_scope value to 0 in Ubuntu
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/performance_tools/tasks/main.yml
Labels: ansible
