Repository adoptium/infrastructure, pull requests merged in 2024-01, with the labels that each got.

#3304 inventory: Add windows test server & wazuh SIEM server
  ansible/inventory.yml
Labels: os:windows, ansible

#3321 github: Replace action checkout version with SHA in build_qemu
  .github/workflows/build_qemu.yml
Labels: ghActions

#3329 UnixPB: Fix insecure downloads discovered from TrailOfBits Audit
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/OpenSSL/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/freemarker/tasks/main.yml
Labels: ansible

#3334 inventory: Add new trss server to inventory.yml
  ansible/inventory.yml
Labels: ansible

#3363 Security: Update QEMU Instructions & Secure UBI8 downloads in dockerfile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.ubi8
  docs/Setup-QEMU-Images.md
Labels: ansible, doc, docker

#3355 UnixPB: Fix Insecure Downloads In RHEL/SLES playbooks.
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/SLES.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/rhel.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
Labels: ansible
