Repository adoptium/infrastructure, pull requests merged in 2024-06, with the labels that each got.

#3583 inventory: Fix typo with static docker machine
  ansible/DockerInventory.json
Labels: docker

#3584 WinPb: Correct the checksum for vs_Community.exe
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

#3582 WinPb: Change compiler parameter for NVidia cuda toolkit silent installation
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
Labels: ansible

#3587 WinPb: Update cuda path to v9.1
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
Labels: ansible

#3591 UnixPB: Update OpenSuse Common Tasks For Security
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/openSUSE.yml
Labels: ansible

#3592 docker: Add ubi9 docker static dockerfile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.ubi9
Labels: ansible, docker

#3595 Ubi8.dockerstatic.dockerfile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.ubi8
Labels: ansible, docker

#3603 WindowsPB: Update VS2022 Download Checksum
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

#3604 UnixPB: Install JQ for mac repro tests.
  .github/workflows/build_mac.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
Labels: ansible, Vagrant

#3601 docker: Add docker buildx functionality to dockernode playbook for arm32 containers
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/README.md
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
Labels: ansible, arch:arm32, doc, docker

#3612 unixPB: Add new Scaleway TC machine to iptables config
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

#3616 github: Fix latest linter errors
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/yum/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ccache/tasks/main.yml
Labels: ansible

#3253 add packer files for building Orka images
  ansible/packer/README.md
  ansible/packer/orka-base.pkr.hcl
  ansible/packer/orka.pkr.hcl
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Ant-Contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode15/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/ant/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/maven/tasks/main.yml
Labels: ansible, doc, ghActions

#3624 WinPB: Update Wix Installation To Install SDK
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/WiX/tasks/main.yml
Labels: ansible

#3615 docker: Add --platform option to docker run command
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
Labels: ansible, docker

#3629 unixPB: Update Linux devkit to b03
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/devkit/vars/main.yml
Labels: ansible
