Repository adoptium/infrastructure, pull requests merged in 2024-07, with the labels that each got.

#3632 unixPB: update jckservices iptables config for new riscv64 machines
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

#3639 WinPB: Update GPG Verification Process For Ant Binary
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/ANT/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/GPG_signature_verification/tasks/main.yml
Labels: ansible

#3628 WindowsPB: Update Wix5 Installation To Be Global
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/WiX/tasks/main.yml
Labels: ansible

#3643 Docker: Fix Use Of mirrorlist.centos.org in dockerfiles and Unix playbooks.
  ansible/docker/Dockerfile.CentOS7
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/vagrant/Vagrantfile.CentOS7
Labels: ansible, Vagrant, docker

#3641 inventory: Add 3rd Windows 2022 Host
  ansible/inventory.yml
Labels: ansible

#3635 Fix gcc and adoptopenjdk_install roles for riscv64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Ubuntu.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_10/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_7/tasks/main.yml
Labels: ansible

#3402 docker: Add centos7 to dockerstatic dockerfiles
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.cent7
Labels: ansible, docker

#3640 unixPB: add yum-utils to RHEL/s390x for devkit creation
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: arch:s390x (zLinux), ansible

#3647 Docker: Fix Use Of mirrorlist.centos.org in dockerfiles for arm64 & ppc64le
  ansible/docker/Dockerfile.CentOS7
Labels: arch:ppc64le (pLinux), docker, arch:arm64

#3649 docker: Install curl-devel onto centos7 static docker containers
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.cent7
Labels: ansible, docker

#3627 inventory: add new rise/scaleway ubuntu 24.04 systems
  ansible/inventory.yml
Labels: ansible

#3564 doc: update FAQ to mention aqa-tests branches
  FAQ.md
Labels: doc

#3644 Vagrant: Improve VPC Performance For Windows Server 2022
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
  ansible/vagrant/Vagrantfile.Win2022.Adopt
Labels: ansible, Vagrant, pbTests

#3656 Vagrant: Fix Debian 10 Vagrantfile For Deb repositories.
  ansible/vagrant/Vagrantfile.Debian10
Labels: Vagrant

#3660 Vagrant: Fix VPC For Ubuntu 20.04
  ansible/vagrant/Vagrantfile.Ubuntu2004
Labels: Vagrant

#3661 ansible: Install shared-mime-info on Centos UBI RHEL and Fedora
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.ubi8
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.ubi9
Labels: ansible

#3664 ansible: remove deprecated ITW playbooks
  .github/workflows/linter.yml
  ansible/README.md
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/group_vars/all/adoptopenjdk_variables.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/Common/scripts/install-homebrew.sh
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/Common/scripts/install-xcode.sh
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/Common/tasks/build_packages_and_tools.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/Common/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/GIT_Source/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/automake/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/pkg-config/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_ITW_Playbook/roles/rust/tasks/main.yml
Labels: ansible, doc

#3648 docker: Add Alpine 320 Static Dockerfile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp320
Labels: ansible, docker
