Repository adoptium/infrastructure, pull requests merged in 2024-02, with the labels that each got.

#3367 inventory: add new OSUOSL jenkins-worker
  ansible/inventory.yml
Labels: ansible

#3369 inventory: remove deleted mac minis from inventory
  ansible/inventory.yml
Labels: ansible

#3357 unixPB: Install jdk21 instead of 11 from dockerhost.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockerhost.yml
Labels: ansible, docker

#3327 unixPB: Add Docker support for SLES 12
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/sles.yml
Labels: ansible

#3387 github: Remove Ubuntu 21.04
  .github/workflows/check_dockerstatic.yml
Labels: ghActions

#3389 unixPb: Install `hostname` in sles 15 dockerfile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles15
Labels: ansible, docker

#3394 inventory: remove more macstadium VMs
  ansible/inventory.yml
Labels: ansible

#3395 inventory: Add dockerhost-osuosl-ubuntu2204-aarch64-1 to inventory.yml
  ansible/inventory.yml
Labels: ansible, provider:osuosl, docker

#3390 docker: New dockernode.yml playbook to automate deployment of docker static containers
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockernode.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp319
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.deb12
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f39
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2310
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible, docker

#3399 docker: Remove out of support fedora and alpine dockerfiles
  .github/workflows/check_dockerstatic.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp312
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp313
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.alp314
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f33
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.f34
Labels: ansible, docker, ghActions

#3398 Unbreak aarch64 dockerbuild under Ubuntu 22.04
  ansible/docker/Dockerfile.Ubuntu2204
Labels: ansible, docker

#3404 docker: Use JDK17 for SLES dockerfiles
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles12
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.sles15
Labels: ansible, docker

#3407 docs: Update documentation with how to use dockernode.yml playbook
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/README.md
Labels: ansible, doc, docker

#3397 pbTests: Update dockerstatic github workflow with newer OSs
  .github/workflows/check_dockerstatic.yml
Labels: docker, ghActions

#3413 github: Build on MacOS13 image in github workflow
  .github/workflows/build_mac.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
Labels: ansible, ghActions

#3419 UnixPB: Update NTPD task to restart ntpd service on CentOS correctly
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NTP_TIME/tasks/main.yml
Labels: ansible
