Repository adoptium/infrastructure, pull requests merged in 2024-05, with the labels that each got.

#3537 docs: Update static docker docs to include inventory update script usage
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/README.md
Labels: ansible, doc, docker

#3542 WindowsPB: Update checksum for VS2022 bootstrap installer.
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

#3540 Inventory: Replace Marist s390x build host.
  ansible/inventory.yml
Labels: arch:s390x (zLinux), ansible

#3546 docker: Add Ubuntu 24.04 dockerfile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2404
Labels: ansible, docker

#3543 GHA: Migrate semgrep action to centralised workflow
  .github/workflows/semgrep_diff.yml
Labels: ansible

#3488 unixPB: add openjdk devkit installs for Linux on x64, ppc64le, aarch64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/devkit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/devkit/vars/main.yml
Labels: arch:ppc64le (pLinux), ansible, arch:x64

#3544 UnixPB: Only Install CMake on mac where not already present.
  .github/workflows/build_mac.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/MacOSX.yml
  ansible/playbooks/Supporting_Scripts/package_signature_verification.sh
Labels: ansible

#3473 unixPB: Add new azure system to jckservices firewall
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible, provider:azure

#3530 unixPB: add new rise paid for scaleway RISC-V hosts
  ansible/inventory.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Providers/tasks/main.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible

#3555 docker: Add Amazon Linux 2023 dockerfile
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.al2023
Labels: ansible, docker

#3557 inventory: Update docker static inventory
  ansible/DockerInventory.json
Labels: docker

#3545 winPB: upgrade wix toolset to v5.0.0
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/WiX/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/shortNames/tasks/main.yml
Labels: ansible

#3563 UnixPB: Add new TCK solaris host
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

#3561 docker: Automate deletion of docker static Jenkins nodes
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockernode.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/README.md
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/remove_container/scripts/deleteNodes.py
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/remove_container/tasks/delete_container.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/remove_container/tasks/main.yml
Labels: ansible, doc, docker

#3565 inventory: Update win2016 machine ip address
  ansible/inventory.yml
Labels: ansible

#3567 inventory: Update docker static inventory
  ansible/DockerInventory.json
Labels: docker

#3568 docker: Update inventory updater script to use https
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/scripts/updateDockerStaticInventory.py
Labels: ansible, docker

#3569 UnixPB: Extend support of few docker related tasks to lastest OS versions
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Docker/tasks/main.yml
Labels: ansible, docker
