Repository adoptium/infrastructure, pull requests merged in 2024-09, with the labels that each got.

#3704 Vagrant: Update Vagrant Host Playbook & Introduce 2 new Azure vagrant hosts for VPC / QEMU
  ansible/inventory.yml
  ansible/pbTestScripts/vagrantPlaybookCheck.sh
  ansible/playbooks/vagrant.yml
  ansible/vagrant/Vagrantfile.Win2022.Adopt
Labels: ansible, Vagrant, pbTests

#3699 doc: add note about non-pipeline jobs to jenkins upgrade guide
  README.md
Labels: doc

#3727 inventory: s390x and ppc64le dockerhosts have been upgraded to ubuntu 2404
  ansible/inventory.yml
Labels: arch:s390x (zLinux), arch:ppc64le (pLinux), ansible, docker

#3726 WindowsPB: Add Incredibuild Dashboard Configuration Task
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Incredibuild/tasks/main.yml
Labels: ansible

#3730 Docker: Include checksum validation for Cygwin & Ansible Downloads
  ansible/docker/Dockerfile.win2022
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: ansible, docker

#3732 Fix issue 3577
  ansible/pbTestScripts/buildJDK.sh
  ansible/pbTestScripts/vmDestroy.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/nasm/tasks/main.yml
  ansible/vagrant/Vagrantfile.Ubuntu2404
Labels: ansible, Vagrant, pbTests

#3736 docker: Fix dockerinventory script to group containers by label not ip
  ansible/DockerInventory.json
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/scripts/updateDockerStaticInventory.py
Labels: ansible, docker
