Repository adoptium/infrastructure, pull requests merged in 2024-11, with the labels that each got.

#3789 update IP for jck-azure-ubuntu2204-x64-1
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible, arch:x64, provider:azure

#3777 update references to adoptopenjdk/secrets
  ONBOARDING.md
  README.md
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Get_Vendor_Files/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Get_Vendor_Files/tasks/main.yml
Labels: ansible, doc

#3773 unixPb: Remove hyphen from Bootjdk symlinks
  ansible/docker/Dockerfile.Alpine3
  ansible/docker/Dockerfile.CentOS6
  ansible/docker/Dockerfile.CentOS7
  ansible/docker/Dockerfile.Ubuntu1604
  ansible/docker/Dockerfile.Ubuntu2004-riscv64
  ansible/docker/Dockerfile.Ubuntu2204
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
Labels: ansible, docker

#3795 inventory: remove equinix awx systems
  ansible/inventory.yml
Labels: ansible

#3805 unixPB: Dont install GA JDK17 bootjdk on alpine aarch64
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Alpine.yml
Labels: ansible

#3807 unixPb: Correct the condition on JDK17 alpine aarch64 install
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
Labels: ansible

#3809 inventory: Remove dockerhost-azure-ubuntu2404-x64-1
  ansible/inventory.yml
Labels: ansible, arch:x64, docker, provider:azure

#3798 change distribution_release to 15.6
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/SLES.yml
Labels: ansible

#3818 Inventory: Add Azure Test Windows 4 Machine
  ansible/inventory.yml
Labels: ansible

#3821 AIXPB: Increase Size Of TMP FS to 5GB
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/aixfs/tasks/main.yml
Labels: ansible

#3825 UnixPB: Add Docker Overlay Check Plugin Script For Nagios
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/additional_plugins/check_docker_overlay2_size.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
Labels: ansible
