Repository adoptium/infrastructure, pull requests merged in 2024-08, with the labels that each got.

#3682 docker: Update the static docker inventory file
  ansible/DockerInventory.json
Labels: docker

#3681 docker: Docker image tag must be lowercase when building dockerstatic image
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
Labels: ansible, docker

#3686 WindowsPB: Update VS2022 Download Checksum
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
Labels: ansible

#3703 inventory: dockerhost-equinix-ubuntu2004-armv8-1 upgraded to ubuntu 2404
  ansible/inventory.yml
Labels: ansible, docker

#3687 inventory: test-marist-ubuntu2404-s390x-1 added to inventory
  ansible/inventory.yml
Labels: arch:s390x (zLinux), ansible, provider:marist

#3683 Nagios: Add new nagios SSH key scan / configuration plugin for Nagios Server
  ansible/playbooks/nagios/ansible.cfg
  ansible/playbooks/nagios/roles/Nagios_Server/defaults/main.yml
  ansible/playbooks/nagios/roles/Nagios_Server/files/nagios_server_plugins/excluded_ips.list
  ansible/playbooks/nagios/roles/Nagios_Server/files/nagios_server_plugins/setup_ssh.sh
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/configure_nagios_server_crontab.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/install_nagios_plugins.yml
  ansible/playbooks/nagios/roles/Nagios_Server/tasks/main.yml
  ansible/playbooks/nagios/vars_setup_server.yml
Labels: ansible, Nagios

#3702 winPB: Switch to VS2022 build tools and add Windows build dockerfile
  FAQ.md
  ansible/docker/Dockerfile.win2022
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Common/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/GPG_signature_verification/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2022/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/WMF_5.1/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/logs/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/shortNames/tasks/main.yml
Labels: os:windows, ansible, doc, docker, secure-dev

#3706 inventory: Update azure x64 dockerhost to ubuntu 2404 and update DockerInventory.json
  ansible/DockerInventory.json
  ansible/inventory.yml
Labels: ansible, arch:x64, docker, provider:azure

#3716 aixPb: Put /usr/bin in front of PATH
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/bash_login/tasks/main.yml
Labels: os:aix, ansible
