Repository adoptium/infrastructure, pull requests merged in 2025-02, with the labels that each got.

#3866 unixPB: add skytap-5 to jckservices firewall
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible, provider:skytap

#3878 UnixPB: Fix Problematic Centos6 Downloads
  ansible/pbTestScripts/buildJDK.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/GIT_Source/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml
Labels: ansible, Vagrant, pbTests

#3876 docker: Update mulitarch linux arm platform option
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
Labels: ansible, docker

#3883 inventory: test-osuosl ppc64le machine upgrades to Ubuntu 24.04
  ansible/inventory.yml
Labels: arch:ppc64le (pLinux), ansible, provider:osuosl
