Repository adoptium/infrastructure, pull requests merged in 2025-05, with the labels that each got.

#3919 aixPb: A few updates to the AIX playbook
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/ant_contrib/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/dnf/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/xlc_v13/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/xlc_v16/tasks/main.yml
Labels: os:aix, ansible

#3879 inventory: Update dockerhost-skytap-ubuntu2004-ppc64le-1 name after OS upgrade
  ansible/inventory.yml
Labels: arch:ppc64le (pLinux), ansible, docker, provider:skytap

#3923 unixPb: Update jckservices role with new jck machine ips
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/jckservices_iptables/tasks/main.yml
Labels: ansible

#3937 doc: add backup of plugins into jenkins upgrade doc
  README.md
Labels: Jenkins, doc

#3870 unixPB: add diffutils and procps-ng to RH/Cent/Fedora
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Fedora.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml
Labels: ansible

#3945 Update condition for starting Chrony
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/NTP_TIME/tasks/main.yml
Labels: ansible

#3850 unixPB: CentOS Stream 10 updates and dockerfiles
  .github/workflows/check_dockerstatic.yml
  ansible/docker/Dockerfile.CentOS10
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/CentOS.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.centstream10
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/README.md
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/logs/tasks/main.yml
Labels: ansible, doc, docker

#3948 Vagrant: Remove jmods folder from Test JDK derivation in VPC tests
  ansible/pbTestScripts/testJDK.sh
  ansible/pbTestScripts/testJDKWin.sh
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: ansible, Vagrant, pbTests
