Repository adoptium/infrastructure, pull requests merged in 2025-08, with the labels that each got.

#3989 docker: Correct the way cpu limits are used for static docker containers
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/scripts/dockerCPU.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/deploy.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/deploy_container/tasks/main.yml
Labels: ansible, docker

#3994 unixPB: fix orka VM templates
  ansible/packer/README.md
  ansible/packer/orka-base.pkr.hcl
  ansible/packer/orka.pkr.hcl
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode11/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Xcode15/tasks/main.yml
Labels: ansible, doc

#3973 UnixPB: Add Docker Housekeeping Role
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/dockerhost.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/housekeeping/defaults/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/housekeeping/files/housekeep_docker.sh
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/housekeeping/tasks/main.yml
Labels: ansible

#4005 doc: link to jenkins LTS changelog
  README.md
Labels: doc

#4024 unixPB: Fixup cmakeVersion check for GPG signature
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/cmake/tasks/main.yml
Labels: ansible

#4033 unixPB: add jdk25/GCC14.2 devkits for Linux x64/aarch64/ppc64le
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/devkit/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/devkit/vars/main.yml
Labels: arch:ppc64le (pLinux), ansible, arch:x64

#4030 VPC: Update debian version support
  ansible/pbTestScripts/README.md
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml
  ansible/vagrant/Vagrantfile.Debian11
  ansible/vagrant/Vagrantfile.Debian12
Labels: ansible, Vagrant, doc, pbTests
